amqp==2.3.2
billiard==3.5.0.3
celery==4.2.0
certifi==2018.1.18
chardet==3.0.4
defusedxml==0.5.0
Django==2.0.4
gunicorn==19.7.1
idna==2.6
kombu==4.2.1
nibabel==2.2.1
numpy==1.14.3
oauthlib==2.0.7
patool==1.12
pydicom==1.0.2
PyJWT==1.6.1
PyMySQL==0.8.0
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2018.4
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
urllib3==1.22
vine==1.1.4
whitenoise==3.3.1
