{% extends 'base/base.html' %}



{% block title %} Visualización {% endblock %}
{% block content %}

{% if not perms.validacion.can_ver_slice %}
<script type="text/javascript">
        window.location="{% url 'paciente_listar' %}";
</script>
{% endif %}



<h3> Visualizador de imágenes {% if object.sujeto_numero %} Sujeto {{object.sujeto_numero}} {% elif object.numero %} Control {{object.numero }} {% endif %}</h3>


{% load scripts %}
{% load scripts_procesamiento %}


<h4>Seleccione Imagen a Mostrar</h4>

<select name="imagen" onchange="cargar()" id="selector"> 
  
  <option value="" selected >-----------</option>
      {% for s in object.get_path_imgs %}
        <option value="{{s.path}}">{{s.imagen}}</option>
    {% endfor%}
</select>

<br>
<br>

<button onclick="reload()">Reiniciar</button>
<br>

{% if perms.validacion.can_ver_parametrosimg  and object.parametrosmotioncorrect %}
    <div >
           
        {% get_pipelines as pipe %}
      
            {% for p in pipe %}
            {% get_estado_pipeline p object.get_img as task_c%}
                            
        {% if task_c %}         
                                      
                   {% if  perms.procesamiento.can_ver_resultados %}
                                     
                   
                   {% if task_c.0.estado == 'Finalizado'%}
                <form>
                  <button class="btn btn-primary" formaction="{% url 'resultados' task_c.0.pk %}" title="Ver Resultados">Ver Resultados {{p.nombre}}</button>
                  
                   </form>
                       {% endif%}

                    {% endif %}
     
                   
                   {% endif %}
        <br>
               
            {% endfor %}  
         

    </div>
      {% endif%}




<script>
	function cargar(){
	 	 a=document.getElementById('visor');
         b=document.getElementById('selector');
        
	 	 a.contentDocument.getElementById("archivo").value=b.value;
        
         a.contentWindow.carga();
         

	}
    
    function reload(){
	 	 a=document.getElementById('visor');
         a.contentWindow.location.reload(true);
         b=document.getElementById('selector').value="";
                  

	}

</script>


<br>

<br>



<iframe src="{% url 'visor' %}" width="100%" height="1000"  id="visor" frameborder="0" >





{% endblock %}