{% extends 'base/base.html' %}

{% block title %} Información {% endblock %}

{% block content %}
<h1>Información General Paciente Asociado al Archivo: {{ object.imagen }}</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active " data-toggle="tab" href="#home">Candidato</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " data-toggle="tab" href="#profile">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content" >
  <div class="tab-pane active"  id="home">
      {% ifequal object.estado  1 %}
      <p class="text-danger">No se encontro información de candidato</p>
      <a href="{% url 'crear_candidato' object.pk %}">Añadir información</a>
      {% endifequal %}
      {% ifequal object.estado  2 %}
      <a href="{% url 'paciente_crear' %}">Editar información</a>
      {% endifequal %}
      {% ifequal object.estado  3 %}
      Información Datos clinicos
      {% endifequal %}
 </div>
  <div class="tab-pane" id="profile">
    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
  </div>

</div>
{% endblock %}
