{% extends 'base/base.html' %}



{% block title %} Formulario Sujeto {% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <h1>Formulario Sujeto</h1>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.nombre.name}}">{{form.nombre.label}}</label>
                    {{form.nombre}}
                </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.edad.name}}">{{form.edad.label}}</label>
                    {{form.edad}}
                </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.imagen.name}}">{{form.imagen.label}}</label>
                    {{form.imagen}}

                </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>

</form>
{% endblock %}

