{% extends 'base/base.html' %}

{% block extrastatic %}

{% endblock %}


{% block title %} Ingreso Nuevo {% endblock %}
{% block content %}

{% if form.nombres.value|length > 1 %}
        <script type="text/javascript">
        window.location="{% url 'upload-new' %}";
        </script>
{%endif%}



<form method="post">
    {% csrf_token %}
    <h1>Información Personal</h1>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.nombres.name}}">{{form.nombres.label}}</label>
                    {{ form.nombres.errors }}
                    {{form.nombres}}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.apellidos.name}}">{{form.apellidos.label}}</label>
                    {{ form.apellidos.errors }}
                    {{form.apellidos}}
                </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.edad.name}}">{{form.edad.label}}</label>
                    {{ form.edad.errors }}
                    {{form.edad}}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cc.name}}">{{form.cc.label}}</label>
                    {{ form.cc.errors }}
                    {{form.cc}}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">

            <div class="form-group">
              <label for="{{form.sexo.name}}">{{form.sexo.label}}</label>
                {{ form.sexo.errors }}
                {{form.sexo}}
            </div>

        </div>
        <div class="col-md-8 col-md-offset-2">

            <div class="form-group">
              <label for="{{form.imagen.name}}">{{form.imagen.label}}</label>
                {{ form.imagen.errors }}
                {{form.imagen}}
            </div>

        </div>


    </div>
    <div class="col-md-8 col-md-offset-2">
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>

</form>


{% endblock %}

