{% extends "base/base.html" %}

{% block head %}
{{block.super}}
<title>{% block title %}Graficas {% endblock %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}



<div class="container text-center">

  

  <div class="card" style="width: 100%;margin-top: 15px">

    <div class="card-body">
        <h2 class="card-title">Sujetos del Estudio</h2>
      {{num_sujetos|safe}}
    
      <h2 class="card-title">Linea de tiempo reclutamiento</h2>
    {{time_line_sujetos|safe}}
  
      <h2 class="card-title">Motivo de Exclusión</h2>
    {{motivo_exclusion|safe}}
      <h2 class="card-title">Antecedentes neurologícos o neuropsiquiátricos</h2>
    {{D_previo_hist|safe}}
      <h2 class="card-title">Diagnosticos Específicos</h2>
    
      <img src='{{D_especifico|safe}}' height="400" width="100%">
      
  </div>
</div>




</div>
{% endblock %}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
