{% extends 'base/base.html' %}

{% block title %} Información {% endblock %}

{% block content %}
{% load scripts_validacion %}
<h1>Sujeto Control # : {{ object.numero|stringformat:"04d" }}</h1>
<ul class="nav nav-tabs">
  <li class="nav-item active">
    <a class="nav-link active " data-toggle="tab" href="#home">Información</a>
  </li>
    {% if perms.paciente.change_control %}
  <li class="nav-item">
    <a class="nav-link "  data-toggle="tab"   href="#imagen">Imagen</a>
  </li>
    {% endif %}
    {% if perms.validacion.can_ver_parametrosimg  and object.parametrosmotioncorrect %}
  <li class="nav-item">
    <a class="nav-link "  data-toggle="tab"   href="#verificacionparametros" >Verificacion Parametros Imagenes</a>
  </li>
  {% endif %}

</ul>
<div id="myTabContent" class="tab-content" >
<div class="tab-pane active"  id="home" >


  <table class="table table-hover">
  <tbody>
  <tr>
      <th style="vertical-align: middle;">Fecha de Evaluación</th>
      <td>{{object.fecha}}</td>
      <th style="vertical-align: middle;">Sexo</th>
      <td>{{object.sexo}}</td>
  </tr>
  <tr>
      <th style="vertical-align: middle;">Fecha de Nacimiento</th>
      <td>{{object.fecha_nacimiento}}</td>
      <th>Edad</th>
      <td >{{object.edad}} años</td>
  </tr>
  <tr>
      <th style="vertical-align: middle;">Nivel Educativo</th>
      <td colspan="3">{{object.n_educativo}}</td>
  </tr>
  <tr>
      <th colspan="4" style="vertical-align: middle;"><label>Puntaje MOCA</label></th>
  </tr>

  <tr>
      <th style="vertical-align: middle;">Función visoespacial</th>
      <td>{{object.funcion_visoespacial}}/5</td>
      <th style="vertical-align: middle;">Identificación</th>
      <td>{{object.identificacion}}/3</td>
  </tr>
  <tr>
      <th style="vertical-align: middle;">Atención</th>
      <td>
          <table>
              <tbody>
              <tr>
                  <td style="vertical-align: middle;">Número</td><td>{{object.atencion_numero}}/2</td>
              </tr>
              <tr><td style="vertical-align: middle;">Letras</td><td>{{object.atencion_letras}}/1</td></tr>
              <tr>
                  <td style="vertical-align: middle;">Resta</td><td>{{object.atencion_resta}}/3</td>
              </tr>
              </tbody>
          </table>
      </td>
      <th style="vertical-align: middle;">Lenguaje</th>
      <td>
          <table>
              <tbody>
              <tr>
                  <td style="vertical-align: middle;">Repite</td><td>{{object.lenguaje_repite}}/2</td>
              </tr>
              <tr><td style="vertical-align: middle;">Fluidez</td><td>{{object.lenguaje_fluidez}}/1</td></tr>
              </tbody>
          </table>
      </td>
  </tr>
  <tr>
      <th style="vertical-align: middle;">Abstracción</th>
      <td>{{object.abstraccion}}/2</td>
      <th style="vertical-align: middle;">Recuerdo Diferido</th>
      <td>{{object.recuerdo}}/5</td>
  </tr>
  <tr>
      <th style="vertical-align: middle;">Orientación</th>
      <td>{{object.orientacion}}/6</td>
      <th style="vertical-align: middle;">Total</th>
      <td>{{object.total}}/30</td>
  </tr>
  </tbody>
</table>
{% if perms.paciente.change_control%}
    <form>
      <button class="btn btn-primary" formaction="{% url 'control_editar' object.pk%}">Editar</button>
    </form>
{% endif %}
</div>


<div class="tab-pane"  id="imagen" >
    <input id="sn" value="c{{object.numero}}" hidden>

<iframe src="{% url 'upload-new' %}"
            marginwidth="0" marginheight="0" name="ventana_iframe" scrolling="no" border="0"
            frameborder="0" width="800" height="400">
            </iframe>

  </div>


<div class="tab-pane"  id="verificacionparametros">

  <br>
  <h3>Seleccione una Pestaña</h3>


  <ul class="nav nav-tabs">
    <li class="nav-item active">
      <a class="nav-link active" data-toggle="tab" href="#imagenes">Imagenes Encontradas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active show" data-toggle="tab" href="#movimiento">Movimiento</a>
    </li>
  </ul>
<div id="v" class="tab-content">
  <div class="tab-pane active" id="imagenes">
    <br>

  <legend>Parámetros Obtenidos de los Archivos</legend>

<br>
    <form>
          <button class="btn btn-primary" formaction="{% url 'filtro_listar' %}">Editar o crear filtro para parámetros</button>
      </form>
    <br>


  {% get_images_names_control object.numero as imagenes %}

      {% for imagen in imagenes %}
      {% if imagen.2 == True %}
      {% get_campos_from_image_control object.numero imagen.0 as campos %}

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#tipoimg{{ forloop.counter0 }}">{{imagen.0}}  {% if imagen.1 != "" %} ó {{imagen.1}} {%endif%}</a>
              </h4>
            </div>
            <div id="tipoimg{{ forloop.counter0 }}" class="panel-collapse collapse">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Ref. Dicom</th>
                  <th>Nombre</th>
                  <th>Valor</th>
                  <th>Valor Esperado</th>
                  <th>Tolerancia</th>
                  <th>Validación</th>
                </tr>
                </thead>
                <tbody>
                {% for campo in campos %}
                <tr>
                  <td>{{campo.tag.num_tag}}</td>
                  <td>{{campo.tag.name_tag}}</td>
                  <td>{{campo.valor}} {{campo.medidas}}</td>
                  <td>{{campo.v_esperado}} {{campo.medidas}}</td>
                  <td>{{campo.precision}}%</td>
                  <td>{% if campo.cumple == True %} <span style="color:green" class="glyphicon glyphicon-check"></span> {% endif %}</td>
                </tr>

                {% endfor %}
                </tbody>
              </table>
              Nota : Spacing Between Slices medido entre el punto medio de cada corte.
              <form>
                <button class="btn btn-primary" formaction="{% url 'vision_img' imagen.3 %}">Ocultar</button>
              </form>
            </div>
          </div>
        </div>
      {% else %}
      <ul>
        <form>
        {{imagen.0}} * {% if imagen.1 != "" %} ó {{imagen.1}} {%endif%} &nbsp; &nbsp; <button class="btn btn-primary" formaction="{% url 'vision_img' imagen.3 %}">Mostrar</button>
          </form>
      </ul>

      {% endif %}
      <br>
      <br>
      {% endfor %}


      *Imágenes encontradas distintas al protocolo de adquisición.


  </div>
  <div class="tab-pane " id="movimiento">

     <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#funcional">
            Funcional (Resting)</a>
          </h4>
        </div>
        <div id="funcional" class="panel-collapse collapse in">
          <div class="panel-body">
            <h4>Movimiento Medio</h4>
            <table class="table table-hover">
              <tbody>
              <tr>
                <th>Absoluto</th>
                <td>{{ object.parametrosmotioncorrect.absolute_func }} mm </td>
                <th>Relativo</th>
                <td>{{ object.parametrosmotioncorrect.relative_func }} mm</td>
              </tr>
              </tbody>
            </table>
            <center>
            <div id="div_func_desplazamiento"><!-- Plotly chart will be drawn inside this DIV --></div>
            <div id="div_func_rotaciones"><!-- Plotly chart will be drawn inside this DIV --></div>
            <div id="div_func_traslaciones"><!-- Plotly chart will be drawn inside this DIV --></div>
            </center>

              <h3>Resultados de movimiento aceptables?  </h3>
          {% if object.parametrosmotioncorrect.aceptado_func == None %}

            <form>
            <label class="radio-inline">
              <input type="radio" name="optradio" id="func_si">Si
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio" id="func_no">No
            </label>
          </form>
            {% else %}
            {% if  object.parametrosmotioncorrect.aceptado_func == True %}
              <span style="color:green" class="glyphicon glyphicon-check" ></span>
              {% else %}
              <span style="color:red" class="glyphicon glyphicon-remove-circle"></span>
            {% endif %}
            {% endif %}


          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#dwi">
            Dwi (Tensor)</a>
          </h4>
        </div>
        <div id="dwi" class="panel-collapse collapse in">
          <div class="panel-body">
            <h4>Movimiento Medio</h4>
            <table class="table table-hover">
              <tbody>
              <tr>
                <th>Absoluto</th>
                <td>{{ object.parametrosmotioncorrect.absolute_dwi }} mm </td>
                <th>Relativo</th>
                <td>{{ object.parametrosmotioncorrect.relative_dwi }} mm</td>
              </tr>
              </tbody>
            </table>
            <center>
            <div id="div_dwi_desplazamiento"><!-- Plotly chart will be drawn inside this DIV --></div>
            <div id="div_dwi_rotaciones"><!-- Plotly chart will be drawn inside this DIV --></div>
            <div id="div_dwi_traslaciones"><!-- Plotly chart will be drawn inside this DIV --></div>
            </center>

              <h3>Resultados de movimiento aceptables?  </h3>
            {% if object.parametrosmotioncorrect.aceptado_dwi == None %}

            <form>
            <label class="radio-inline">
              <input type="radio" name="optradio" id="dwi_si">Si
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio" id="dwi_no">No
            </label>


              <a class="btn btn-primary" onclick="mov()" >Enviar</a>
              <script >
              function mov() {

                  var fs=document.getElementById("func_si").checked;
                  var ds=document.getElementById("dwi_si").checked;
                  var v1=0
                  var v2=0
                  if ( fs == true ){
                    v1=1
                  }
                  else {
                    v1=0
                  }
                  if ( ds == true ){
                    v2=1
                  }
                  else {
                    v2=0
                  }
                  var url_mask = "{% url 'v_movimiento' 'control' object.numero 'x' 'y' %}".replace('x', v1.toString());
                  url_mask=url_mask.replace('y', v2.toString());
                  window.location=url_mask;

              }
              </script>
            {% else %}
            {% if  object.parametrosmotioncorrect.aceptado_dwi == True %}
              <span style="color:green" class="glyphicon glyphicon-check" ></span>
              {% else %}
              <span style="color:red" class="glyphicon glyphicon-remove-circle"></span>
            {% endif %}

            {% endif %}


          </form>



          </div>
        </div>
        </div>
      </div>
    </div>

  </div>

</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


  <script src="{{object.parametrosmotioncorrect.graphic_desplazamiento_func}}"></script>
  <script src="{{object.parametrosmotioncorrect.graphic_rotacion_func}}"></script>
  <script src="{{object.parametrosmotioncorrect.graphic_traslacion_func}}"></script>
    
  <script src="{{object.parametrosmotioncorrect.graphic_desplazamiento_dwi}}"></script>
  <script src="{{object.parametrosmotioncorrect.graphic_rotacion_dwi}}"></script>
  <script src="{{object.parametrosmotioncorrect.graphic_traslacion_dwi}}"></script>

</div>

{% endblock%}
