{% extends 'base/base.html' %}


{% block title %} Eliminación registro {% endblock %}
{% block content %}
{% if not perms.paciente.delete_control %}
<script type="text/javascript">
        window.location="{% url 'controles_listar' %}";
</script>
{% endif %}
<center>
<form  method="post">
    {% csrf_token %}

    <h3>¿Desea eliminar el registro del Control# {{ object.numero|stringformat:"04d" }}?</h3>



    <button class="btn btn-danger" type="submit">Sí, eliminar</button>
    <a class="btn btn-success" href="{% url 'controles_listar' %}">Cancelar</a>
</form>
</center>

{% endblock %}