{% extends 'base/base.html' %}

{% block title %} Información {% endblock %}

{% block content %}

<h1>Información Clínica Sujeto # : {{ object.sujeto_numero }}</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active " data-toggle="tab" href="#home">Candidato</a>
  </li>
  <li class="nav-item">
    <a class="nav-link "  data-toggle="tab" href="#uci">Formato UCI</a>
  </li>
  {% if object.inscrito == True and object.estado > 0 %}
  <li class="nav-item">
    <a class="nav-link " {% if object.inscrito == True and object.estado > 0 %} data-toggle="tab" {% endif %} href="#estudio">Formato ingreso al estudio</a>
  </li>

  <li class="nav-item">
    <a class="nav-link " {% if object.inscrito == True and object.estado > 0 %} data-toggle="tab" {% endif %}  href="#neurologia">Formato Neurología</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " {% if object.inscrito == True and object.estado > 0 %} data-toggle="tab" {% endif %}  href="#radiologia">Traslado a Radiología</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " {% if object.inscrito == True and object.estado > 0 %} data-toggle="tab" {% endif %}  href="#bold">Checklist BOLD</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " {% if object.inscrito == True and object.estado > 0 %} data-toggle="tab" {% endif %}  href="#informante">Neuropsicología Informante</a>
  </li>

  {% endif %}
</ul>
<div id="myTabContent" class="tab-content" >
  <div class="tab-pane active"  id="home">

      {% if object.estado  > -1 %}
      <table class="table table-hover">

          <tbody>
            <tr class="table-active">
              <th>Fecha Registro</th>
              <td>{{ object.fecha_de_registro }} </td>
              <th>HC del sujeto</th>
              <td>{{ object.HC }} </td>
            </tr>
            {% if user.groups.all.0.name == 'Administrador' %}
            <tr class="table-active">
              <th>Nombres</th>
              <td>{{ object.nombres }} </td>
              <th>Apellidos</th>
              <td>{{ object.apellidos }} </td>
            </tr>
            <tr class="table-active">
              <th>C.C</th>
              <td colspan="3">{{ object.cc }} </td>
            </tr>
            {% endif %}
            <tr class="table-active">
              <th>Edad Actual</th>
              <td>{{ object.edad }} </td>
              <th>Sexo</th>
              <td>{{ object.sexo }} </td>
            </tr>
            <tr>
              <th>Cama UCI</th>
              <td colspan="3">{{ object.cama_numero }} </td>
            </tr>
            <tr class="table-primary">
              <th>Fecha de Evento Principal </th>
              <td>{{ object.fecha_evento_principal }}</td>
              <th>Hora</th>
              {% if object.hora_evento_principal == None %}
              <td>Desconocida</td>
              {% else %}
              <td>{{ object.hora_evento_principal }}</td>
              {% endif %}

            </tr>
            <tr class="table-secondary">
              <th>Fecha de ingreso UCI</th>
              <td>{{ object.fecha_ingreso }}</td>
              <th>Hora</th>
              {% if object.hora_ingreso == None %}
              <td>Desconocida</td>
              {% else %}
              <td>{{ object.hora_ingreso }}</td>
              {% endif %}

            </tr>
            <tr class="table-success">
              <th>Grupo Diagnóstico</th>
              <td colspan="3">{{ object.G_diagnostico }}</td>
            </tr>

            <tr class="table-success">
              <th>Diagnósticos neurologicos o <br>neuropsiquiátricos previos al evento</th>
              <td colspan="3">{% for diag in  object.D_neuro_logico_psiquiatrico_previo.all %}
                    <p>{{ diag }}</p>
                  {% endfor %}
              </td>
            </tr>
            {% if object.D_especificos != "" %}
            <tr class="table-danger">
              <th>Diagnóstico Específico</th>
              <td colspan="3">{{ object.D_especificos }}</td>
            </tr>
            {% endif %}
            {% if object.estado != 0 %}
            <tr class="table-warning">
              <th >Criterios de inclusión</th>
              <td colspan="3">

                   {% if object.ci == 'ci1'%}
                    <p>Paciente con episodio de parada cadíaca con reanimación exitosa.</p>
                   {% elif object.ci == 'ci2'%}
                     <p>Paciente con Dx de lesión cerebral aguda de origen traumático o evento cerebrovascular.</p>
                   {% endif %}
                   {% if object.ci3 == True %}
                    <p>Puntaje en escala Glasgow igual o menor a 8 después del evento inicial.</p>
                   {% endif %}
                   {% if object.ci4 == True %}
                    <p>Paciente transportable a un resonador.</p>
                   {% endif %}
              </td>
            </tr>
            {% endif %}
            {% if object.inscrito == False and  object.estado != 0 %}
                <tr class="table-warning">
                  <th >Criterios de exclusión</th>
                  <td colspan="3">

                       {% if object.ce1 == True %}
                        <p>Diagnóstico de muerte cerebral en las primeras 48 horas del ingreso a UCI.</p>
                       {% endif %}
                       {% if object.ce2 == True %}
                        <p>Destruccion masiva del parénquima cerebral no rescatable por neurocirugía.</p>
                       {% endif %}
                       {% if object.ce3 == True %}
                        <p>Disfunción neurológica y/o neuropsiquiátrica previa.</p>
                       {% endif %}
                       {% if object.ce4 == True %}
                        <p>Decisión de la familia de no participar en estudios de investigación.</p>
                       {% endif %}
                  </td>
                </tr>
            {% endif %}
            <tr class="table-info">
              <th>Médico Responsable</th>
              <td>{{ object.medico_responsable }}</td>
              {% if object.estado != 0%}
              <th>Incluido en el estudio</th>
              <td>{% if object.inscrito == True %} Sí {% else %} No {% endif %}</td>
              {% endif %}
            </tr>
          </tbody>
        </table>

      {% if user.groups.all.0.name != 'Consultor' and object.estado == 0 %}
      <a class="btn btn-primary" href="{% url 'paciente_editar' object.pk%}">Establecer Criterios</a>

      {% endif %}
      {% endif %}
 </div>
  <div class="tab-pane" id="estudio">
    {% if not object.ingreso  or object.ingreso.fecha_form == None %}
      <p class="text-danger">No se encontro información de Ingreso del Sujeto</p>
      {% if user.groups.all.0.name != 'Consultor' %}
      {% if object.ingreso %}
      <a class="btn btn-primary" href="{% url 'ingreso_editar' object.ingreso.pk %}">Añadir</a>
      {% else %}
      <a class="btn btn-primary" href="{% url 'crear_ingreso' object.pk%}">Añadir</a>
      {% endif %}
      {% endif %}
    {% endif %}




    {% if object.ingreso and object.ingreso.fecha_form != None  %}
    <table class="table table-hover">

          <tbody>
            <tr class="table-active">
              <th>Fecha Ingreso</th>
              <td colspan="3">{{ object.ingreso.fecha_form }} </td>
            </tr>
            <tr class="table-active">
              <th>Lugar de Nacimiento</th>
              <td>{{ object.ingreso.lugar_nacimiento }} </td>
                <th>Lugar de Residencia</th>
              <td>{{ object.ingreso.lugar_residencia }} </td>
            </tr>
            {% if user.groups.all.0.name == 'Administrador' %}
            <tr class="table-active">
              <th>Dirección</th>
              <td>{{ object.ingreso.direccion }} </td>
              <th>Acompañante</th>
              <td>{{ object.ingreso.nombre_acompanante }} </td>
            </tr>
            <tr class="table-active">
              <th>Teléfono de contacto 1</th>
              <td>{{ object.ingreso.tel1 }} </td>
              <th>Teléfono de contacto 2</th>
              {% if object.ingreso.tel2 == None %}
              <td>Desconocido</td>
              {% else %}
              <td>{{ object.ingreso.tel2 }}</td>
              {% endif %}
            </tr>
            {% endif %}
            <tr class="table-active">
              <th>Peso</th>
              <td>{{ object.ingreso.peso }} Kg</td>
              <th>Altura</th>
              <td>{{ object.ingreso.estatura }} cms</td>
            </tr>
            <tr>
              <th>Nivel educativo</th>
              <td >{{ object.ingreso.n_educativo }} </td>
              <th>Lateralidad</th>
              <td >{{ object.ingreso.lateralidad }} </td>
            </tr>
            <tr class="table-primary">
              <th>Estado de conciencia </th>
              <td>{{ object.ingreso.conciencia }}</td>
              <th>Sedado por neuroprotección</th>
              <td>{% if object.ingreso.sedado == True %} Sí {% else %} No {% endif %}</td>
            </tr>

            <tr class="table-success">
              <th>Antecedentes Patológicos</th>
              <td >
                  {% if object.ingreso.a_patologicos.all|length != 0 %}
                  {% for p in  object.ingreso.a_patologicos.all %}
                    <p>{% if p.nombre == 'Otro' %}{{object.ingreso.a_patologicos_cual}}{% else %}{{ p }}{% endif%}</p>
                  {% endfor %}
                  {% else %}
                  Ninguno
                  {% endif %}
              </td>
              <th>Antecedentes Familiares relevantes:</th>
              <td >{% if object.ingreso.a_familiares != None %}{{ object.ingreso.a_familiares }}{% else%} Ninguno {% endif %}</td>
            </tr>
            <tr class="table-secondary">
              <th>Antecedentes quirúrgicos</th>
              <td>
                  {% if object.ingreso.fecha_craneotomia == None and object.ingreso.causa_quirurgicos == None %} Ninguno {% endif%}
                  {% if object.ingreso.fecha_craneotomia != None %}<p>Craneotomía el {{ object.ingreso.fecha_craneotomia }}</p>{% endif %}
                  {% if object.ingreso.causa_quirurgicos != None %}<p>Otras Causas: {{ object.ingreso.causa_quirurgicos }}</p>{% endif %}
              </td>
              <th>Antecedentes Tóxico alérgicos:</th>
              <td>{% if object.ingreso.a_toxico_alergenicos != None %}{{ object.ingreso.a_toxico_alergenicos }}{% else%} Ninguno {% endif %}</td>
            </tr>
            <tr class="table-success">
              <th rowspan="2">Antecedentes Farmacológicos:</th>
              {% if object.ingreso.a_farmaco1 != None %}
              <td >{{ object.ingreso.a_farmaco1 }}</td>
              <th>Dosis total/día</th>
              <td>{{ object.ingreso.a_farmaco1_dosis }}</td>
              {% else %}
              <td>Ninguno</td>
              {% endif %}
            </tr>

            <tr class="table-success">
              {% if object.ingreso.a_farmaco2 != None %}
              <td >{{ object.ingreso.a_farmaco2 }}</td>
              <th>Dosis total/día</th>
              <td>{{ object.ingreso.a_farmaco2_dosis }}</td>
              {% endif %}
            </tr>

            <tr class="table-success">
              {% if object.ingreso.firma_consentimiento == True %}
              <th>Firma de consentimiento informado</th>
              <td colspan="3">Sí, el {{object.ingreso.fechafirma}}</td>
              {% else %}
              <th>Firma de consentimiento informado</th>
              <td >No</td>
              <th>Causa</th>
              <td >{{ object.ingreso.firma_causa }}</td>
              {% endif %}
            </tr>
          </tbody>
        </table>
      {% if user.groups.all.0.name != 'Consultor' %}
      <a class="btn btn-primary" href="{% url 'ingreso_editar' object.ingreso.pk%}">Editar</a>
      {% endif %}
    {% endif %}
  </div>
   <div class="tab-pane" id="radiologia">
     {% if not object.radiologia or object.radiologia.fecha_procedimiento == None %}
      <p class="text-danger">No se encontro información de  Traslado a Radiología del Sujeto</p>
     {% if user.groups.all.0.name != 'Consultor' %}
      {% if object.radiologia %}
      <a class="btn btn-primary" href="{% url 'radiologia_editar' object.radiologia.pk %}">Añadir</a>
      {% else %}
      <a class="btn btn-primary" href="{% url 'crear_radiologia' object.pk%}">Añadir</a>
      {% endif %}
      {% endif %}
    {% endif %}



    {% if object.radiologia and object.radiologia.fecha_procedimiento != None %}
    <table class="table table-hover">

          <tbody>
            <tr class="table-active">
              <th>Fecha de procedimiento</th>
              <td colspan="3">{{ object.radiologia.fecha_procedimiento }} </td>
            </tr>

            <tr>
              <th colspan="4" style="color:blue;">Pretransporte</th>
            </tr>

            <tr class="table-active">
              <th>Transportable</th>
              <td>{{ object.radiologia.transportable }} </td>
                <th>Hora inicio</th>
              <td>{{ object.radiologia.hora_inicio }} </td>
            </tr>
            <tr>
              <th>Personal de Acompañamiento</th>
              <td>
                {% if object.radiologia.jefe_enfermeria == 'SI' %}
                  Jefe de enfermería <br>
                {% endif %}
                {% if object.radiologia.aux_enfermeria == 'SI' %}
                  Auxiliar de enfermería <br>
                {% endif %}
                {% if object.radiologia.medico_uci == 'SI' %}
                  Médico UCI <br>
                {% endif %}
                {% if object.radiologia.anestesiologo == 'SI' %}
                  Anestesiólogo <br>
                {% endif %}
                {% if object.radiologia.terapeuta_respiratorio == 'SI' %}
                  Terapeuta Respiratorio <br>
                {% endif %}
              </td>
              <th>Soporte</th>
              <td>
                {% if object.radiologia.vmi == 'SI' %}
                  VMI <br>
                {% endif %}
                {% if object.radiologia.vasopresor == 'SI' %}
                  Vasopresor <br>
                {% endif %}
                {% if object.radiologia.ionotropico == 'SI' %}
                  Ionotrópico <br>
                {% endif %}
              </td>
            </tr>
            <tr>
              <th colspan="4" style="color:blue;">Monitoreo de transporte UCI - Radiología</th>
            </tr>
            <tr>
              <td></td><th>Signos vitales</th>
            </tr>
            {% if object.radiologia.ur_pulsoximetro == 'SI' %}
              <tr>
                <td>Pulsoxímetro</td>
                <td>{{object.radiologia.ur_pulsoximetro_sv}}</td>
              </tr>
            {% endif %}
            {% if object.radiologia.ur_frecuencia_cardiaca == 'SI' %}
              <tr>
                <td >Frecuencia cardíaca</td>
                <td >{{object.radiologia.ur_frecuencia_cardiaca_sv}}</td>
              </tr>
            {% endif %}
            {% if object.radiologia.ur_frecuencia_respiratoria == 'SI' %}
              <tr>
                <td >Frecuencia respiratoria</td>
                <td >{{object.radiologia.ur_frecuencia_respiratoria_sv}}</td>
              </tr>
            {% endif %}
            {% if object.radiologia.ur_visoscopio == 'SI' %}
              <tr>
                <td >Visoscopio</td>
                <td >{{object.radiologia.ur_visoscopio_sv}}</td>
              </tr>
            {% endif %}
            {% if object.radiologia.ur_tension == 'SI' %}
              <tr>
                <td >Tensión arterial</td>
                <td >{{object.radiologia.ur_tension_sv}}</td>
              </tr>
            {% endif %}
            {% if object.radiologia.monitoreo == 'SI'%}
            <tr>
              <th colspan="4" style="color:blue;">Monitoreo neurológico</th>
            </tr>
            <tr>
              <th>#PIC</th><td>{{object.radiologia.pic}}</td>
              <th>#PPC</th><td>{{object.radiologia.ppc}}</td>
            </tr>
            {% if object.radiologia.medicamentos_emergencia == 'SI' %}
              <th>Medicamentos de emergencia</th>
              <td>{{object.radiologia.me_cual}}</td>
              <th>Dosis total</th>
              <td>{{object.radiologia.me_dosis}}</td>
            {% endif %}
            <tr>
            {% endif %}
              <th colspan="4" style="color:blue;">Monitoreo en resonancia</th>
            </tr>
            <tr>
              <td></td><th>Dosis total</th><th>Signos vitales</th>
            </tr>
            {% if object.radiologia.sedacion == 'SI' %}
              <tr>
                <td >Sedación</td>
                <td >{{object.radiologia.sedacion_dt}}</td>
                <td >{{object.radiologia.sedacion_sv}}</td>
              </tr>
            {% endif %}
            {% if object.radiologia.analgesia == 'SI' %}
              <tr>
                <td >Analgesia</td>
                <td >{{object.radiologia.analgesia_dt}}</td>
                <td >{{object.radiologia.analgesia_sv}}</td>
              </tr>
            {% endif %}
            {% if object.radiologia.relajacion == 'SI' %}
              <tr>
                <td >Relajación</td>
                <td >{{object.radiologia.relajacion_dt}}</td>
                <td >{{object.radiologia.relajacion_sv}}</td>
              </tr>
            {% endif %}
            {% if object.radiologia.otra_medicacion == 'SI' %}
              <th>Otra medicación administrada durante el procedimiento</th>
              <td>{{object.radiologia.otra_medicacion_cual}}</td>
              <th>Dosis total</th>
              <td>{{object.radiologia.otra_medicacion_dt}}</td>
            {% endif %}

            <tr>
              <th colspan="4" style="color:blue;">Monitoreo de transporte Radiología - UCI</th>
            </tr>
            <tr>
              <td></td><th>Signos vitales</th>
            </tr>
            {% if object.radiologia.ru_pulsoximetro == 'SI' %}
              <tr>
                <td>Pulsoxímetro</td>
                <td>{{object.radiologia.ru_pulsoximetro_sv}}</td>
              </tr>
            {% endif %}
            {% if object.radiologia.ru_frecuencia_cardiaca == 'SI' %}
              <tr>
                <td >Frecuencia cardíaca</td>
                <td >{{object.radiologia.ru_frecuencia_cardiaca_sv}}</td>
              </tr>
            {% endif %}
            {% if object.radiologia.ru_frecuencia_respiratoria == 'SI' %}
              <tr>
                <td >Frecuencia respiratoria</td>
                <td >{{object.radiologia.ru_frecuencia_respiratoria_sv}}</td>
              </tr>
            {% endif %}
            {% if object.radiologia.ru_visoscopio == 'SI' %}
              <tr>
                <td >Visoscopio</td>
                <td >{{object.radiologia.ru_visoscopio_sv}}</td>
              </tr>
            {% endif %}
            {% if object.radiologia.ru_tension == 'SI' %}
              <tr>
                <td >Tensión arterial</td>
                <td >{{object.radiologia.ru_tension_sv}}</td>
              </tr>
            {% endif %}

          <tr>
            <th>Tiempo de resonancia</th>
            <td>{{object.radiologia.tiempo_sesonacia}}</td>
            <th>Hora de llegada a UCI</th>
            <td>{{object.radiologia.hora_llegada}}</td>
          </tr>
          {% if object.radiologia.complicaciones == 'SI'%}
          <tr>
            <th >Complicaciones derivadas del transporte</th>
            <td colspan="3">{{object.radiologia.complicaciones_cuales}}</td>
          </tr>

          {% endif %}

          </tbody>
        </table>
     {% if user.groups.all.0.name != 'Consultor' %}
      <a class="btn btn-primary" href="{% url 'radiologia_editar' object.radiologia.pk %}">Editar</a>
     {% endif %}
    {% endif %}
  </div>
<div class="tab-pane"  id="uci">
      {% if object.get_uci|length == 0 %}
      <p class="text-danger">No se encontro información de  Uci</p>
        {% if user.groups.all.0.name != 'Consultor' %}

          <a class="btn btn-primary" href="{% url 'crear_uci' object.pk %}">Añadir</a>

          {% endif %}

      {% else %}
          {% for uci in object.get_uci %}
            <ul>
              {% if uci.fechauci != None %}
                <h2>{{uci.fechauci}}</h2>

                <legend>Seguimiento Unidad de Cuidados intensivos (>48hrs post ingreso)</legend>
      <table class="table table-hover">

          <tbody>
            <tr class="table-active">
              <th>Fecha </th>
              <td>{{ uci.fechauci }} </td>
              <th>Hora</th>
              <td>{{ uci.horauci }} </td>
            </tr>
            <tr>
              <th>Glasgow de seguimiento</th>
              <td>
                <p>Apertura ocular: {{ uci.apertura_ocular }}</p>
                <p>Respuesta motora: {{ uci.respuesta_motora }}</p>
                <p>Respuesta verbal: {{ uci.respuesta_verbal }}</p>
              </td>
              <th>Glasgow total </th>
              <td>{{ uci.glasgowtotal }}</td>
            </tr>
          <tr>
            <th>Falla orgánica</th>
            <td>{% if uci.fallaorganica == "SI" %} Sí, {{uci.fallaorganica_cual}} {% else %} No {% endif %}</td>
            <th>Sepsis</th>
            <td>{% if uci.sepsis == "SI" %} Sí  {% else %} No {% endif %}</td>
          </tr>
          <tr>
            <th>Presión intracraneana</th>
            <td>{% if uci.presion_intracraneana == "SI" %} Sí {% else %} No {% endif %}</td>
            <th>Monitoría PIC</th>
            <td>{% if uci.monitoria_pic == "SI" %} Sí  {% else %} No {% endif %}</td>
          </tr>
          <tr>
            <th>Ventilación mecánica</th>
            <td>{% if uci.ventilacionmecanica == "SI" %} Sí {% else %} No {% endif %}</td>
            <th>Soporte vasopresor</th>
            <td>{% if uci.soportevasopresor == "SI" %} Sí,
              con: <p>{% if uci.noradrenalina == "SI" %} Noradrenalina >0.5 Mcg Kg Min  {% endif %}</p>
              <p>{% if uci.vasopresina == "SI" %} Vasopresina >2UI IV Hora  {% endif %}</p>
              <p>{% if uci.adrenalina == "SI" %} Adrenalina. {% endif %}</p>
              {% else %} No {% endif %}</td>
          </tr>
          <tr>
            <th>Sedación</th>
            {% if  uci.midazolan == "SI"  or  uci.tiopental == "SI" or uci.dexmedetomidina == "SI"  %}
            <td>
              <p>{% if uci.midazolan == "SI" %} Midazolam : {{uci.midazolan_dt }} {% endif %} </p>
              <p>{% if uci.tiopental == "SI" %} Tiopental : {{uci.tiopental_dt }} {% endif %} </p>
              <p>{% if uci.dexmedetomidina == "SI" %} Dexmedetomidina : {{uci.dexmedetomidina_dt }} {% endif %} </p>
            </td>
            {% else %}
            <td>Ninguna</td>
            {% endif %}

            <th>Analgesia</th>
            {% if  uci.morfina == "SI"  or  uci.tiopental == "SI" or uci.dexmedetomidina == "SI"  %}
            <td>
              <p>{% if uci.morfina == "SI" %} Morfina : {{uci.morfina_dt }} {% endif %} </p>
              <p>{% if uci.hidromorfona == "SI" %} Hidromorfona : {{uci.hidromorfona_dt }} {% endif %} </p>
              <p>{% if uci.fentanyl == "SI" %} Fentanyl : {{uci.fentanyl_dt }} {% endif %} </p>
            </td>
            {% else %}
            <td>Ninguna</td>
            {% endif %}

          </tr>

          <tr>
            <th>Anticonvulsivantes</th>
            {% if  uci.fenitoina == "SI"  or  uci.topiramato == "SI" or uci.acido_valproico == "SI" or uci.levetiracetam == "SI" or uci.lacosamida == "SI"  %}
            <td>
              <p>{% if uci.fenitoina == "SI" %} Fenitoina : {{uci.fenitoina_dt }} {% endif %} </p>
              <p>{% if uci.topiramato == "SI" %} Topiramato : {{uci.topiramato_dt }} {% endif %} </p>
              <p>{% if uci.acido_valproico == "SI" %} Acido valproico : {{uci.acido_valproico_dt }} {% endif %} </p>
              <p>{% if uci.levetiracetam == "SI" %} Levetiracetam : {{uci.levetiracetam_dt }} {% endif %} </p>
              <p>{% if uci.lacosamida == "SI" %} Lacosamida : {{uci.lacosamida_dt }} {% endif %} </p>
            </td>
            {% else %}
            <td>Ninguna</td>
            {% endif %}

            <th>Antipsicóticos</th>
            {% if  uci.clozapina == "SI"  or  uci.tiopental == "SI" or uci.dexmedetomidina == "SI"  %}
            <td>
              <p>{% if uci.clozapina == "SI" %} Clozapina : {{uci.clozapina_dt }} {% endif %} </p>
              <p>{% if uci.haloperidol == "SI" %} Haloperidol : {{uci.haloperidol_dt }} {% endif %} </p>
              <p>{% if uci.ketiapina == "SI" %} Ketiapina : {{uci.ketiapina_dt }} {% endif %} </p>
            </td>
            {% else %}
            <td>Ninguna</td>
            {% endif %}

          </tr>

          <tr>
            <th>Moduladores del ánimo</th>
            {% if  uci.carbamacepina == "SI"  or  uci.carbonato_litio == "SI" %}
            <td colspan="3">
              <p>{% if uci.carbamacepina == "SI" %} Carbamacepina : {{uci.carbamacepina_dt }} {% endif %} </p>
              <p>{% if uci.carbonato_litio == "SI" %} Carbonato de Litio : {{uci.carbonato_litio_dt }} {% endif %} </p>
            </td>
            {% else %}
            <td colspan="3">Ninguna</td>
            {% endif %}

          </tr>

          <tr>
            <th>Valorable por Neurología</th>
            <td colspan="3">{% if uci.valorable_neuro == "NO" %} No, {{uci.valorable_neuro_causa}} {% else %} Sí {% endif %}</td>
          </tr>
          <tr>
            <th>Paciente en condiciones de continuar en el estudio</th>
            <td colspan="3">{% if uci.continua_studio == "SI" %} Sí {% else %} No {% endif %}</td>
          </tr>

          </tbody>
        </table>

        {% if uci.fechaegreso != None %}
        <legend>Evaluación de egreso UCI</legend>
          <table class="table table-hover">
            <tbody>
            <tr>
              <th>Fecha del Egreso de la UCI</th>
              <td>{{uci.fechaegreso}}</td>
              <th>Hora</th>
              <td>{{uci.horaegreso}}</td>
            </tr>
            <tr>
              <th>Condición de egreso de UCI</th>
              <td>{{uci.condicion_egreso}}</td>
              <th>Dx de egreso</th>
              <td>{{uci.dx_egreso}}</td>
            </tr>
            {% if uci.condicion_egreso == 'Fallecido' %}
            <tr>
              <th>Causa de mortalidad</th>
              <td>{{uci.causa_mortalidad}}</td>
              <td>Fecha: {{uci.fechamortalidad}}</td>
              <td>Hora: {{uci.horamortalidad}}</td>
            </tr>
            <tr>
              <th>Glasgow de egreso UCI</th>
              <td>
                <p>Apertura ocular: {{ uci.apertura_ocular_e }}</p>
                <p>Respuesta motora: {{ uci.respuesta_motora_e }}</p>
                <p>Respuesta verbal: {{ uci.respuesta_verbal_e }}</p>
              </td>
              <th>Glasgow total </th>
              <td>{{ uci.glasgowtotal_e }}</td>
            </tr>
            {% endif %}
            </tbody>

          </table>
        {% endif %}



              {% endif %}
              
            </ul>
        {% endfor %}
      {% endif %}

  {% if user.groups.all.0.name != 'Consultor' and object.get_uci|length > 0%}

          <a class="btn btn-primary" href="{% url 'crear_uci' object.pk %}">Añadir Nuevo Seguimiento</a>

          {% endif %}





 </div>

<div class="tab-pane"  id="neurologia">
      {% if not object.neurologia or object.neurologia.fechaneuro == None %}
      <p class="text-danger">No se encontro información Neurológica del Sujeto</p>
      {% if user.groups.all.0.name != 'Consultor' %}
      {% if object.neurologia %}
      <a class="btn btn-primary" href="{% url 'neurologia_editar' object.neurologia.pk %}">Añadir</a>
      {% else %}
      <a class="btn btn-primary" href="{% url 'crear_neurologia' object.pk %}">Añadir</a>
      {% endif %}
      {% endif %}
    {% endif %}



      {% if object.neurologia and object.neurologia.fechaneuro != None %}
      <table class="table table-hover">

          <tbody>
            <tr class="table-active">
              <th>Fecha </th>
              <td>{{ object.neurologia.fechaneuro }} </td>
              <th>Neurólogo</th>
              <td>{{ object.neurologia.neurologo }} </td>
            </tr>
            <tr>
              <td colspan="4" style="color:blue">COMA RECOVERY SCALE-REVISED</td>
            </tr>
          <tr>
            <th>Escala de función auditiva</th>
            <td>
              ({{object.neurologia.auditiva}})
              {% if object.neurologia.auditiva == '4' %} Movimiento consistente a la orden
              {% elif object.neurologia.auditiva == '3' %} Reproduce movimiento a la orden
              {% elif object.neurologia.auditiva == '2' %} Localiza el sonido
              {% elif object.neurologia.auditiva == '1' %} Percibe pero no localiza (Sobresalto auditivo)
              {% elif object.neurologia.auditiva == '0' %} No hay respuesta

              {% endif %}
            </td>
            <th>Escala de función visual</th>
            <td>
              ({{object.neurologia.visual}})
              {% if object.neurologia.visual == '5' %} Reconoce el objeto
              {% elif object.neurologia.visual == '4' %} Localiza el objeto: alcanza
              {% elif object.neurologia.visual == '3' %} Seguimiento visual
              {% elif object.neurologia.visual == '2' %} Fijación visual
              {% elif object.neurologia.visual == '1' %} Sobresalto visual
              {% elif object.neurologia.visual == '0' %} No hay respuesta

              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Escala de función motora</th>
            <td>
              ({{object.neurologia.motora}})
              {% if object.neurologia.motora == '6' %} Uso funcional del objeto
              {% elif object.neurologia.motora == '5' %} Respuesta motora automática
              {% elif object.neurologia.motora == '4' %} Manipulación de objetos
              {% elif object.neurologia.motora == '3' %} Localización de estímulos dolorosos
              {% elif object.neurologia.motora == '2' %} Retirada flexora
              {% elif object.neurologia.motora == '1' %} Postura anormal
              {% elif object.neurologia.motora == '0' %} No hay respuesta/flacidez

              {% endif %}
            </td>
            <th>Escala de función oromotora/verbal</th>
            <td>
              ({{object.neurologia.verbal}})
              {% if object.neurologia.verbal == '3' %} Verbalización entendible
              {% elif object.neurologia.verbal == '2' %} Movimientos orales/vocalizaciones
              {% elif object.neurologia.verbal == '1' %} Movimientos orales reflejos
              {% elif object.neurologia.verbal == '0' %} No hay respuesta

              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Escala de comunicación</th>
            <td>
              ({{object.neurologia.comunicacion}})
              {% if object.neurologia.comunicacion == '2' %} Funcional: Adecuada
              {% elif object.neurologia.comunicacion == '1' %} No funcional: Intencional
              {% elif object.neurologia.comunicacion == '0' %} No hay respuesta

              {% endif %}
            </td>
            <th>Escala de nivel de alerta</th>
            <td>
              ({{object.neurologia.alerta}})
              {% if object.neurologia.alerta == '3' %} Alerta y atento
              {% elif object.neurologia.alerta == '2' %} Apertura ocular espontánea
              {% elif object.neurologia.alerta == '1' %} Apertura ocular con estimulación
              {% elif object.neurologia.alerta == '0' %} No hay respuesta

              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Total</th>
            <td colspan="3">{{ object.neurologia.total1 }}</td>
          </tr>

          <tr>
              <td colspan="4" style="color:blue">Full Outline of UnResponsiveness FOUR</td>
            </tr>
          <tr>
            <th>Apertura ocular</th>
            <td>
              ({{object.neurologia.aperturaocular}})
              {% if object.neurologia.aperturaocular == '4' %} Dirige la mirada en respuesta a órdenes
              {% elif object.neurologia.aperturaocular == '3' %} Espontánea pero no dirige la mirada
              {% elif object.neurologia.aperturaocular == '2' %} Apertura a estímulos sonoros intensos
              {% elif object.neurologia.aperturaocular == '1' %} Apertura a estímulos nociceptivos
              {% elif object.neurologia.aperturaocular == '0' %} Ojos cerrados al dolor
              {% endif %}
            </td>
            <th>Respuesta Motora</th>
            <td>
              ({{object.neurologia.respuestamotora}})
              {% if object.neurologia.respuestamotora == '4' %} Obedece órdenes
              {% elif object.neurologia.respuestamotora == '3' %} Localiza estímulos dolorosos
              {% elif object.neurologia.respuestamotora == '2' %} Respuesta flexora al dolor en MMSS (Decorticación y retirada)
              {% elif object.neurologia.respuestamotora == '1' %} Respuesta extensora al dolor (Descerebración)
              {% elif object.neurologia.respuestamotora == '0' %} Ninguna o Estado mioclónico generalizado
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Reflejos del Tronco</th>
            <td>
              ({{object.neurologia.reflejos}})
              {% if object.neurologia.reflejos == '4' %} Ambos reflejos corneales y fotomotores presentes
              {% elif object.neurologia.reflejos == '3' %} Reflejo motor ausente unilateral
              {% elif object.neurologia.reflejos == '2' %} Reflejos corneales <b>o</b> fotomotores ausentes
              {% elif object.neurologia.reflejos == '1' %} Reflejos corneales <b>y</b> fotomotores ausentes
              {% elif object.neurologia.reflejos == '0' %} Reflejos corneales, fotomotores y tusígeno ausentes
              {% endif %}
            </td>
            <th>Respiración</th>
            <td>
              ({{object.neurologia.respiracion}})
              {% if object.neurologia.respiracion == '4' %} No intubado, respiración rítmica
              {% elif object.neurologia.respiracion == '3' %} No intubado, respiración de Cheyene- Stokes
              {% elif object.neurologia.respiracion == '2' %} No intubado, respiración irregular
              {% elif object.neurologia.respiracion == '1' %} Intubado, respira por encima de la frecuencia del respirador
              {% elif object.neurologia.respiracion == '0' %} Intubado, respira a la frecuencia del respirador o apnea
              {% endif %}
            </td>
          <tr>
              <th>Total</th>
              <td>{{object.neurologia.total2}}</td>
              <th>Resultado</th>
              <td>
                {% if object.neurologia.total2|add:0 < 8 %}
                    Severa injuria cerebral
                {% endif %}
                {% if object.neurologia.total2|add:0 > 7 and  object.total2|add:0 < 13 %}
                    Moderada injuria cerebral
                {% endif %}
                {% if object.neurologia.total2|add:0 > 12 %}
                    Leve injuria cerebral
                {% endif %}
              </td>
            </tr>
          <tr>
            <th>Dx Estado de conciencia</th>
            <td colspan="3">{{object.neurologia.estadoconciencia}}</td>
          </tr>
          <tr>
            <th>
              Requiere segunda valoración por neurología
            </th>
            <td>{{object.neurologia.segunda}}</td>
            <th>Sospecha de estatus epiléptico no convulsivo</th>
            <td>{{object.neurologia.epileptico}}</td>
          </tr>
            {% if object.neurologia.epileptico == "SI" %}
          <tr>
            <th>Toma EEG</th>
            <td>{{object.neurologia.fechaeeg}}</td>
            <th>Resultado EEG</th>
            <td>{{object.neurologia.resultadoeeg}}</td>
          </tr>
          {% endif %}

          
          </tbody>
        </table>
      {% if user.groups.all.0.name != 'Consultor' %}
      <a class="btn btn-primary" href="{% url 'neurologia_editar' object.neurologia.pk %}">Editar</a>
      {% endif %}
      {% endif %}
 </div>
<div class="tab-pane"  id="bold">
      {% if not object.bold or object.bold.fechaimg == None %}
      <p class="text-danger">No se encontro información del protocolo</p>
      {% if user.groups.all.0.name != 'Consultor' %}
      {% if object.bold %}
      <a class="btn btn-primary" href="{% url 'bold_editar' object.bold.pk %}">Añadir</a>
      {% else %}
      <a class="btn btn-primary" href="{% url 'crear_bold' object.pk %}">Añadir</a>
      {% endif %}
      {% endif %}
    {% endif %}



      {% if object.bold and object.bold.fechaimg != None %}
      <table class="table table-hover">

          <tbody>
            <tr class="table-active">
              <th>Fecha de captura de imágenes </th>
              <td>{{ object.bold.fechaimg }} </td>
              <th>Responsable</th>
              <td>{{ object.bold.responsable }}</td>
            </tr>
          <tr>
            <th>Captura en CD</th>
            <td colspan="3">{% if object.bold.cd == True %} Sí {% else %} No {% endif %}</td>
          </tr>

          </tbody>
        </table>
      <legend>Parámetros del protocolo de adquisición de imágenes</legend>
      <table class="table table-hover">

          <tbody>
            <tr class="table-active">
              <th>AX T2 Prop </th>
              <td>
                {% if object.bold.axt2prop == True %}
                <p>{% if object.bold.axt2prop1 == True %} Plane: Oblique {% endif %}</p>
                <p>{% if object.bold.axt2prop2 == True %} FOV 22.0cm {% endif %}</p>
                <p>{% if object.bold.axt2prop3 == True %} Slice Thickness 6.0mm {% endif %}</p>
                <p>{% if object.bold.axt2prop4 == True %} Slice Spacing 1.0mm {% endif %}</p>
                <p>{% if object.bold.axt2prop5 == True %} TR 6000ms {% endif %}</p>
                {% else %}
                No
                {% endif %}
              </td>
              <th>DIFUSSION</th>
              <td>
                {% if object.bold.difussion == True %}
                <p>{% if object.bold.difussion1 == True %} Scan plane: Oblique {% endif %}</p>
                <p>{% if object.bold.difussion2 == True %} FOV 22.0 {% endif %}</p>
                <p>{% if object.bold.difussion3 == True %} Slice Thickness 6.0mm {% endif %}</p>
                <p>{% if object.bold.difussion4 == True %} Spacing 1.0mm {% endif %}</p>
                <p>{% if object.bold.difussion5 == True %} Freq Dir: R/L {% endif %}</p>
                <p>{% if object.bold.difussion6 == True %} TR 6000ms {% endif %}</p>
                <p>{% if object.bold.difussion7 == True %} Minimum TR 1000.0 {% endif %}</p>
                {% else %}
                No
                {% endif %}
              </td>
            </tr>
            <tr class="table-active">
              <th>RESTING </th>
              <td>
                {% if object.bold.resting == True %}
                <p>{% if object.bold.resting1 == True %} Scan plane: Axial {% endif %}</p>
                <p>{% if object.bold.resting2 == True %} FOV 28.8 {% endif %}</p>
                <p>{% if object.bold.resting3 == True %} Phase FOV 1.00 {% endif %}</p>
                <p>{% if object.bold.resting4 == True %} Slice Thickness 4.5mm {% endif %}</p>
                <p>{% if object.bold.resting5 == True %} Spacing 0.0mm {% endif %}</p>
                <p>{% if object.bold.resting6 == True %} Freq Dir: R/L {% endif %}</p>
                <p>{% if object.bold.resting7 == True %} TR 3000ms {% endif %}</p>
                <p>{% if object.bold.resting8 == True %} Minimum TR 89.0 {% endif %}</p>
                {% else %}
                No
                {% endif %}
              </td>
              <th>3D AX Obl T1</th>
              <td>
                {% if object.bold.obl == True %}
                <p>{% if object.bold.obl1 == True %} Scan plane: Axial {% endif %}</p>
                <p>{% if object.bold.obl2 == True %} FOV 25.0 {% endif %}</p>
                <p>{% if object.bold.obl3 == True %} Phase FOV 0.90 {% endif %}</p>
                <p>{% if object.bold.obl4 == True %} Slice Thickness 2.0mm {% endif %}</p>
                <p>{% if object.bold.obl5 == True %} Freq Dir: A/P {% endif %}</p>
                <p>{% if object.bold.obl6 == True %} Minimum TR 6.7 {% endif %}</p>
                {% else %}
                No
                {% endif %}
              </td>
            </tr>

            <tr class="table-active">
              <th>AX FLAIR </th>
              <td>
                {% if object.bold.flair == True %}
                <p>{% if object.bold.flair1 == True %} Scan plane: Oblique {% endif %}</p>
                <p>{% if object.bold.flair2 == True %} FOV 22.0 {% endif %}</p>
                <p>{% if object.bold.flair3 == True %} Slice Thickness 6.0mm {% endif %}</p>
                <p>{% if object.bold.flair4 == True %} Spacing 1.0mm {% endif %}</p>
                <p>{% if object.bold.flair5 == True %} Freq Dir: Unswap {% endif %}</p>
                <p>{% if object.bold.flair6 == True %} TR 9000ms {% endif %}</p>
                <p>{% if object.bold.flair7 == True %} Minimum TR 5000.0 {% endif %}</p>
                {% else %}
                No
                {% endif %}
              </td>
              <th>ASSET Cal</th>
              <td>
                {% if object.bold.cal == True %}
                <p>{% if object.bold.cal1 == True %} Scan plane: Axial {% endif %}</p>
                <p>{% if object.bold.cal2 == True %} FOV 30.0 {% endif %}</p>
                <p>{% if object.bold.cal3 == True %} Slice Thickness 6.0mm {% endif %}</p>
                <p>{% if object.bold.cal4 == True %} Freq Dir: A/P {% endif %}</p>
                <p>{% if object.bold.cal5 == True %} Minimum TR 150.0 {% endif %}</p>
                {% else %}
                No
                {% endif %}
              </td>
            </tr>

          <tr class="table-active">
              <th>AXIAL SWI </th>
              <td>
                {% if object.bold.swi == True %}
                <p>{% if object.bold.swi1 == True %} Scan plane: Oblique {% endif %}</p>
                <p>{% if object.bold.swi2 == True %} FOV 22.0 {% endif %}</p>
                <p>{% if object.bold.swi3 == True %} Phase FOV 1.00 {% endif %}</p>
                <p>{% if object.bold.swi4 == True %} Slice Thickness 6.0mm {% endif %}</p>
                <p>{% if object.bold.swi5 == True %} Spacing 1.0mm {% endif %}</p>
                <p>{% if object.bold.swi6 == True %} Freq Dir: Unswap {% endif %}</p>
                <p>{% if object.bold.swi7 == True %} TR 4375ms {% endif %}</p>
                <p>{% if object.bold.swi8 == True %} Minimum TR 394.0 {% endif %}</p>
                {% else %}
                No
                {% endif %}
              </td>
              <th>TENSOR AXI</th>
              <td>
                {% if object.bold.tensor == True %}
                <p>{% if object.bold.tensor1 == True %} Scan plane: Axial {% endif %}</p>
                <p>{% if object.bold.tensor2 == True %} FOV 25.0 {% endif %}</p>
                <p>{% if object.bold.tensor3 == True %} Phase FOV 1.00 {% endif %}</p>
                <p>{% if object.bold.tensor4 == True %} Slice Thickness 2.5mm {% endif %}</p>
                <p>{% if object.bold.tensor5 == True %} Spacing 0.0mm {% endif %}</p>
                <p>{% if object.bold.tensor6 == True %} Freq Dir: R/L {% endif %}</p>
                <p>{% if object.bold.tensor7 == True %} TR 17000ms {% endif %}</p>
                <p>{% if object.bold.tensor8 == True %} Minimum TR 1000 {% endif %}</p>
                
                {% else %}
                No
                {% endif %}
              </td>
            </tr>


          </tbody>
        </table>
        <legend>Verificación de parámetros para postproceso</legend>

      <div>

        <div class="left">
          <table class="table table-hover">
            <tbody>
            <tr>
              <th>T1</th>
              <td>{% if object.bold.t1A == False and object.bold.t1G == False and object.bold.t1M == False %}
                  No {% endif %}</td>
            </tr>
            {% if object.bold.t1A == True %}
            <tr>
              <td>Axial</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            {% if object.bold.t1G == True %}
            <tr>
              <td>Grosor 2mm</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            {% if object.bold.t1M == True %}
            <tr>
              <td>Movimiento</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            <tr>
              <th>T2</th>
              <td>{% if object.bold.t2A == False and object.bold.t2M == False %}
                  No {% endif %}</td>
            </tr>
            {% if object.bold.t2A == True %}
            <tr>
              <td>Axial</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            {% if object.bold.t2M == True %}
            <tr>
              <td>Movimiento</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            <tr>
              <th>FLAIR</th>
              <td>{% if object.bold.flairA == False and object.bold.flairM == False %}
                  No {% endif %}</td>
            </tr>
            {% if object.bold.flairA == True %}
            <tr>
              <td>Axial</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            {% if object.bold.flairM == True %}
            <tr>
              <td>Movimiento</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            <tr>
              <th>DIFUSIÓN</th>
              <td>{% if object.bold.difusionA == False and object.bold.difusionM == False %}
                  No {% endif %}</td>
            </tr>
            {% if object.bold.difusionA == True %}
            <tr>
              <td>Axial</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            {% if object.bold.difusionM == True %}
            <tr>
              <td>Movimiento</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            </tbody>
          </table>

        </div>

        <div class="right">

          <table class="table table-hover">
            <tbody>
            <tr>
              <th>TENSOR - DWI</th>
              <td>{% if object.bold.tensorA == False and object.bold.tensord == False and object.bold.tensorG == False and object.bold.tensorM == False %}
                  No {% endif %}</td>
            </tr>
            {% if object.bold.tensorA == True %}
            <tr>
              <td>Axial</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            {% if object.bold.tensord == True %}
            <tr>
              <td>30 direcciones</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            {% if object.bold.tensorG == True %}
            <tr>
              <td>Grosor 2mm</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            {% if object.bold.tensorM == True %}
            <tr>
              <td>Movimiento</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            <tr>
              <th>DIFUSSION</th>
              <td>{% if object.bold.difussionA == False and object.bold.difussionM == False %}
                  No {% endif %}</td>
            </tr>
            {% if object.bold.difussionA == True %}
            <tr>
              <td>Axial</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            {% if object.bold.difussionM == True %}
            <tr>
              <td>Movimiento</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            <tr>
              <th>fMRI RESTING</th>
              <td>{% if object.bold.restingA == False and object.bold.restingV == False and object.bold.restingG == False and object.bold.restingT == False and object.bold.restingM == False %}
                  No {% endif %}</td>
            </tr>
            {% if object.bold.restingA == True %}
            <tr>
              <td>Axial</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            {% if object.bold.restingV == True %}
            <tr>
              <td>180 volúmenes</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            {% if object.bold.restingG == True %}
            <tr>
              <td>Grosor 4.5mm</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            {% if object.bold.restingT == True %}
            <tr>
              <td>TR 3000ms</td>
              <td>Sí</td>
            </tr>
            {% endif %}
            {% if object.bold.restingM == True %}
            <tr>
              <td>Movimiento</td>
              <td>Sí</td>
            </tr>
            {% endif %}

            </tbody>
          </table>

        </div>

    </div>




      {% if user.groups.all.0.name != 'Consultor' %}

      <a class="btn btn-primary" href="{% url 'bold_editar' object.bold.pk %}">Editar</a>
      {% endif %}
      {% endif %}
 </div>

<div class="tab-pane"  id="informante">
      {% if not object.informante or object.informante.fechaentrevista == None %}
      <p class="text-danger">No se encontro información neuropsicológica </p>
      {% if user.groups.all.0.name != 'Consultor' %}

       {% if object.edad > 59 %}
          {% if object.mayor %}
          <a class="btn btn-primary" href="{% url 'mayor_editar' object.mayor.pk %}">Añadir</a>
          {% else %}
          <a class="btn btn-primary" href="{% url 'crear_informante' object.pk %}">Añadir</a>
          {% endif %}

       {% else %}
          {% if object.informante %}
          <a class="btn btn-primary" href="{% url 'informante_editar' object.informante.pk %}">Añadir</a>
          {% else %}
          <a class="btn btn-primary" href="{% url 'crear_informante' object.pk %}">Añadir</a>
          {% endif %}

       {% endif %}


      {% endif %}
    {% endif %}



      {% if object.informante and object.informante.fechaentrevista != None %}

        {% if object.mayor %}
          <table class="table table-hover">
          <tbody>
            <tr class="table-active">
              <th>Fecha de entrevista clínica </th>
              <td>{{ object.mayor.fechaentrevista }} </td>
              <th>Neuropsicóloga:</th>
              <td>{{ object.mayor.neuropsicologa }}</td>
            </tr>
          <tr>
            <th>Informante</th>
            <td>{{ object.mayor.informante }}</td>
            <th>Parentezco</th>
            <td>{{ object.mayor.parentezco }}</td>
          </tr>
          <tr>
            <th>Confiable</th>
            <td colspan="3">{{ object.mayor.confiable }}</td>
          </tr>
          <tr>
            <td colspan="4">
              <legend>S - I.Q.C.O.D.E.</legend>
            </td>
          </tr>
          <tr>
              <th>Resultado</th>
              <td>{{object.mayor.resultado}}</td>
              <th>Total</th>
              <td>{{object.mayor.total}}</td>
            </tr>
          <tr>
            <td colspan="4">
              <legend>ESCALA DE DETERIORO GLOBAL (GDS)</legend>
            </td>
          </tr>
          <tr>
            <th>Severidad GDS:</th>
            <td colspan="3">
              {{object.mayor.severidadgds}}
              {% if object.mayor.severidadgds == "1" %}
                Normal, Ningún deterioro cognoscitivo
              {% endif %}
              {% if object.mayor.severidadgds == "2" %}
                Olvidadizo, Muy ligero deterioro cognoscitivo
              {% endif %}
              {% if object.mayor.severidadgds == "3" %}
                Confuso, Ligero deterioro cognoscitivo
              {% endif %}
              {% if object.mayor.severidadgds == "4" %}
                Bastante confuso, Moderado deterioro cognoscitivo
              {% endif %}
              {% if object.mayor.severidadgds == "5" %}
                Demencia temprana, Moderadamente severo deterioro cognoscitivo
              {% endif %}
              {% if object.mayor.severidadgds == "6" %}
                Demencia moderada, Severo deterioro cognoscitivo
              {% endif %}
              {% if object.mayor.severidadgds == "7" %}
                Demencia severa, Profundo deterioro cognoscitivo
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Dx Demencia</th>
            <td>{{object.mayor.dxdemencia}}</td>
            <th>Tiempo de evolución</th>
            <td>{{object.mayor.tiempo}}</td>
          </tr>
          </tbody>
        </table>


       {% else %}
        <table class="table table-hover">
          <tbody>
            <tr class="table-active">
              <th>Fecha de entrevista clínica </th>
              <td>{{ object.informante.fechaentrevista }} </td>
              <th>Neuropsicóloga:</th>
              <td>{{ object.informante.neuropsicologa }}</td>
            </tr>
          <tr>
            <th>Informante</th>
            <td>{{ object.informante.informante }}</td>
            <th>Parentezco</th>
            <td>{{ object.informante.parentezco }}</td>
          </tr>
          <tr>
            <th>Confiable</th>
            <td colspan="3">{{ object.informante.confiable }}</td>
          </tr>
          </tbody>
        </table>

       {% endif %}


      <legend>Funcionamiento Premórbido:</legend>


      <table class="table table-hover">
          <tbody>
            <tr class="table-active">
              <th>Escala Lawton-Brody de actividades instrumentales </th>
              <td>Total {{object.informante.totalindependencia}} </td>
              <th>Escala de transtornos de memoria</th>
              <td>Total {{object.informante.totalmemoria}}/45</td>
            </tr>
          <tr>
            <th colspan="4">Frontal Systems Behavior Scale (FrSBe)</th>
          </tr>
          <tr>
            <th>Total Apatia</th> <td>{{object.informante.totalapatia}}</td>
          </tr>
          <tr>
            <th>Total Deshinhibicion</th> <td>{{object.informante.totaldes}}</td>
          </tr>
          <tr>
            <th>Total Funciones ejecutivas</th> <td>{{object.informante.totalfunciones}}</td>
          </tr>
          </tbody>
        </table>


      {% if user.groups.all.0.name != 'Consultor' %}

      {% if object.edad > 59 %}
          <a class="btn btn-primary" href="{% url 'mayor_editar' object.mayor.pk %}">Editar</a>

       {% else %}
          <a class="btn btn-primary" href="{% url 'informante_editar' object.informante.pk %}">Editar</a>

       {% endif %}

      {% endif %}
      {% endif %}
 </div>





</div>
<br>
<br>
{% endblock %}
