{% extends 'base/base.html' %}
{% load staticfiles %}

<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>



{% block title %} Formulario Paciente {% endblock %}
{% block content %}
{% if user.groups.all.0.name == 'Consultor' %}
<script type="text/javascript">
        window.location="{% url 'paciente_listar' %}";
</script>
{% endif %}



        <div class="col-md-8 col-md-offset-2">
                {% if form.errors %}
                    <!-- Error messaging -->
                    <div id="errors">
                        <div class="inner">
                            <p>There were some errors in the information you entered. Please correct the following:</p>
                            {{ form.non_field_errors }}
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /Error messaging -->
                {% endif %}
        </div>



<form method="post" enctype="multipart/form-data">
    {% csrf_token %}



    <div class="row">
        <div class="col-md-8 col-md-offset-2">
                <h1>Formulario Ingreso Sujeto #{{ object.candidato.sujeto_numero|stringformat:"04d" }}</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.fecha_form.name}}">{{form.fecha_form.label}}</label>
                    {{ form.fecha_form.errors }}
                    <input class="form-control"  min="2017-01-01" max="2020-12-31" required name="fecha_form" type="date" placeholder="Elegir fecha" id="id_fecha_form" value="{{object.fecha_form|date:'Y-m-d'}}">
                    <div class="help">Cuando se llena este formulario.</div>
                </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">


                    <label for="{{form.lugar_nacimiento.name}}">{{form.lugar_nacimiento.label}}</label>
                    {{ form.lugar_nacimiento.errors }}
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td><input type="text" name="lugar_nacimiento" maxlength="80" id="id_lugar_nacimiento" class="form-control" readonly required {% if object.lugar_nacimiento != None %} value="{{object.lugar_nacimiento}}" {% endif %}/></td>
                            <td><a href="#popup" class="popup-link" onclick="cambio('n')">Seleccionar</a></td>
                        </tr>
                        </tbody>
                    </table>







                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.lugar_residencia.name}}">{{form.lugar_residencia.label}}</label>
                    {{ form.lugar_residencia.errors }}
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td><input type="text" name="lugar_residencia" maxlength="80" id="id_lugar_residencia" class="form-control" readonly required {% if object.lugar_residencia != None %} value="{{object.lugar_residencia}}" {% endif %}/></td>
                            <td><a href="#popup" class="popup-link" onclick="cambio('r')">Seleccionar</a></td>
                        </tr>
                        </tbody>
                    </table>




                </div>
        </div>
        {% if not object.archivo  or  user.groups.all.0.name == 'Administrador' %}
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.direccion.name}}">{{form.direccion.label}}</label>
                    {{ form.direccion.errors }}
                    {{  form.direccion  }}
                </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.nombre_acompanante.name}}">{{form.nombre_acompanante.label}}</label>
                    <input type="text" autocomplete="off" oninput="this.value = this.value.replace(/[^a-zA-Z\s]/, '')" name="nombre_acompanante" maxlength="70" required id="id_nombre_acompanante" placeholder="Nombre" class="form-control" value="{{object.nombre_acompanante}}"/>
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.tel1.name}}">{{form.tel1.label}}</label>
                    {{ form.tel1.errors }}
                    <input maxlength="10" autocomplete="off" oninvalid="this.setCustomValidity('número telefonico no válido')" type="text" oninput="this.value = this.value.replace(/[^0-9]/, '')" name="tel1" required id="id_tel1" placeholder="Ingrese número telefonico" class="form-control" {% if object.tel1 != None %} value="{{object.tel1}}" {% endif %}/>
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.tel2.name}}">{{form.tel2.label}}</label>
                    {{ form.tel2.errors }}
                    <input  maxlength="10" autocomplete="off" oninvalid="this.setCustomValidity('número telefonico no válido')" type="text" oninput="this.value = this.value.replace(/[^0-9]/, '')" name="tel2" id="id_tel2" placeholder="Ingrese número telefonico" class="form-control" {% if object.tel2 != None %} value="{{object.tel2}}" {% endif %}/>
                </div>
        </div>
        {% else %}
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    {{ form.direccion.errors }}
                    {{  form.direccion.as_hidden  }}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    {{form.nombre_acompanante.as_hidden}}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    {{form.tel1.as_hidden}}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    {{form.tel2.as_hidden}}
                </div>
        </div>
        {% endif %}
        <div class="col-md-8 col-md-offset-2">

            <div class="form-group">
              <label for="{{form.peso.name}}">{{form.peso.label}}</label>
                {{ form.peso.errors }}
                <input maxlength="3" required max="120" type="number" oninput="this.value = this.value.replace(/[^0-9]/, '')" name="peso" id="id_peso" placeholder="Peso en Kilogramos" class="form-control" {% if object.peso != None %} value="{{object.peso}}" {% endif %}/>
            </div>

        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.estatura.name}}">{{form.estatura.label}}</label>
                    {{ form.estatura.errors }}
                    <input maxlength="3" required min="100" max="220" type="number" oninput="this.value = this.value.replace(/[^0-9]/, '')" name="estatura" id="id_estatura" placeholder="estatura en cms " class="form-control" {% if object.estatura != None %} value="{{object.estatura}}" {% endif %}/>
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.n_educativo.name}}">{{form.n_educativo.label}}</label>
                    {{ form.n_educativo.errors }}
                    {{form.n_educativo}}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.lateralidad.name}}">{{form.lateralidad.label}}</label>
                    {{ form.lateralidad.errors }}
                    {{form.lateralidad}}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.conciencia.name}}">{{form.conciencia.label}}</label>
                    {{ form.conciencia.errors }}
                    {{form.conciencia}}
                </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.sedado.name}}">{{form.sedado.label}}</label>
                    {{ form.sedado.errors }}
                    {{form.sedado}}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.a_patologicos.name}}">{{form.a_patologicos.label}}</label>
                    {{ form.a_patologicos.errors }}
                    {{form.a_patologicos}}
                    <div class="help">Mantenga presionado "Control" o "Command" en un Mac, para seleccionar más de una opción.</div>
                    <br>



                     <label id="label_a_patologicos_cual"  {% if object.a_patologicos_cual == None %}  style="display:none"   {% endif %}>{{form.a_patologicos_cual.label}}</label>
                    {{ form.a_patologicos_cual.errors }}
                    <input type="text"  name="a_patologicos_cual" {% if object.a_patologicos_cual == None %}  style="display:none"   {% else %} value="{{object.a_patologicos_cual}}" {% endif %} class="form-control"  maxlength="50" id="id_a_patologicos_cual" />

                </div>




        </div>

        <div class="col-md-8 col-md-offset-2">
                    <label>Antecedentes quirúrgicos:</label>
                    {{ form.quirurgicos.errors }}
                    <br>
                    <table width="500" Cellspacing="10">
                        <tbody>
                        <tr>
                            <td style="align:'center'"><input onclick="craneo()" type="checkbox" name="craneotomia" value="craneotomia" id="craneotomia" {% if object.fecha_craneotomia != None %} checked {% endif  %}> Craneotomía</td>
                            <td style="align:'center'">
                                 <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                                    <p id="fcraneo" {% if object.fecha_craneotomia == None %} style="display:none" {% endif  %}>{{form.fecha_craneotomia.label}}</p>
                                    &nbsp;&nbsp;{{ form.fecha_craneotomia.errors }}
                                    <input   {% if object.fecha_craneotomia == None %} style="display:none" {% endif  %} class="form-control"  min="1960-01-01" max="{{object.candidato.fecha_de_registro|date:'Y-m-d'}}"  name="fecha_craneotomia" type="date"  id="id_fecha_craneotomia" value="{{object.fecha_craneotomia|date:'Y-m-d'}}">
                                </div>


                            </td>
                        </tr>

                        <tr>
                            <td style="align:'center'"><input onclick="qotro()" type="checkbox" name="q_otro" value="q_otro" id="q_otro" {% if object.causa_quirurgicos != None %} checked {% endif  %}> Otro</td>
                            <td style="align:'center'">
                                 <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                                    <p id="causaotro" {% if object.causa_quirurgicos == None %} style="display:none" {% endif  %}>{{form.causa_quirurgicos.label}}</p>
                                    &nbsp;&nbsp;{{ form.causa_quirurgicos.errors }}
                                    <input   {% if object.causa_quirurgicos == None %} style="display:none" {% else %} value="{{object.causa_quirurgicos}}" {% endif  %} class="form-control"   name="causa_quirurgicos" type="text"  id="id_causa_quirurgicos" >
                                </div>


                            </td>
                        </tr>


                        </tbody>
                    </table>

                    <br>
        </div>


        <div class="col-md-8 col-md-offset-2" >
                <div class="form-group">
                    <label for="{{form.a_toxico_alergenicos.name}}">{{form.a_toxico_alergenicos.label}}</label>
                    {{ form.a_toxico_alergenicos.errors }}
                    {{form.a_toxico_alergenicos}}
                </div>
            <div class="form-group">
                <label>Antecedentes Farmacológicos</label>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td style="align:'center'"><b>1</b></td>
                        <td style="align:'center'"><input type="text" name="a_farmaco1" {% if object.a_farmaco1 != None %} value="{{object.a_farmaco1}}" {% endif  %} maxlength="180" class="form-control" id="id_a_farmaco1" /></td>
                        <th style="align:'center'"><label id="f1" {% if object.a_farmaco1 == None %} style="display:none" {% endif  %}>{{form.a_farmaco1_dosis.label}}</label></th>
                        <td style="align:'center'"><input   {% if object.a_farmaco1 == None %} style="display:none" {% else %} value="{{object.a_farmaco1_dosis}}" required {% endif  %} class="form-control"   name="a_farmaco1_dosis" type="text"  id="id_a_farmaco1_dosis" ></td>
                    </tr>
                    <tr>
                        <td style="align:'center'"><b>2</b></td>
                        <td style="align:'center'"><input type="text" name="a_farmaco2" {% if object.a_farmaco2 != None %} value="{{object.a_farmaco2}}" {% endif  %} maxlength="180" class="form-control" id="id_a_farmaco2" /></td>
                        <th style="align:'center'"><label id="f2" {% if object.a_farmaco2 == None %} style="display:none" {% endif  %}>{{form.a_farmaco2_dosis.label}}</label></th>
                        <td style="align:'center'"><input   {% if object.a_farmaco2 == None %} style="display:none" {% else %} value="{{object.a_farmaco2_dosis}}" required {% endif  %} class="form-control"   name="a_farmaco2_dosis" type="text"  id="id_a_farmaco2_dosis" ></td>
                    </tr>
                    </tbody>
                </table>

            </div>



        </div>

        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.a_familiares.name}}">{{form.a_familiares.label}}</label>
                    {{ form.a_familiares.errors }}
                    {{form.a_familiares}}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.firma_consentimiento.name}}">{{form.firma_consentimiento.label}}</label>
                    {{ form.firma_consentimiento.errors }}
                    <input onclick="ff()" type="checkbox" name="firma_consentimiento" id="id_firma_consentimiento" {% if object.firma_consentimiento == True %} checked {% endif  %} />
                    {{ form.fechafirma.errors }}
                    <br>
                    <label id="ffirma" {% if object.firma_consentimiento == False %} style="display:none" {% endif  %}>{{form.fechafirma.label}}</label>
                    <input   {% if object.firma_consentimiento == False %} style="display:none" {% endif  %} class="form-control"  required min="2017-01-01" max="2020-12-31"  name="fechafirma" type="date"  id="id_fechafirma" value="{{object.fechafirma|date:'Y-m-d'}}">
                    <br>
                    <label id="dfirma"  {% if object.firma_consentimiento == False %} style="display:none" {% endif  %}>Cargar Consentimiento</label>
                    {% if object.archivofirma %}
                        Ya cargado
                    {% else %}
                     <p><input type="file" name="archivofirma" id="id_archivofirma" accept="application/pdf" {% if object.firma_consentimiento == False %} style="display:none" {% else%} required value="{{object.archivofirma}}" {% endif %} /></p>
                    {% endif %}
                    <br>
                    <label id="causafirma" {% if object.firma_consentimiento == True %} style="display:none" {% endif  %}>{{form.firma_causa.label}}</label>
                    <input   {% if object.firma_consentimiento == True %} style="display:none" {% else %} value="{{object.firma_causa}}" {% endif  %} class="form-control"   name="firma_causa" type="text"  id="id_firma_causa" >

                    {{ form.firma_causa.errors }}
                    <br>
                    <label>{{form.archivo.label}}</label>
                    {% if not object.archivo or user.groups.all.0.name == 'Administrador'%}
                     {{form.archivo}}
                    {% else %}
                    Ya cargado.
                    {{form.archivo.as_hidden}}
                    {% endif%}
                </div>
        </div>

    </div>

    <div class="col-md-8 col-md-offset-2">
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>

</form>


<div class="modal-wrapper" id="popup">
   <div class="popup-contenedor">
      <select name="country" autofocus class="countries order-alpha group-continents group-order-alpha" id="countryId" {% if object.lugar_nacimiento != None %} required {% endif %}>
                    <option value="">País</option>
                    </select>
                    <select name="state" class="states order-alpha" id="stateId">
                    <option value="">Departamento</option>
                    </select>
                    <select name="city" class="cities order-alpha" id="cityId">
                    <option value="">Ciudad</option>
                    </select>
                    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                    <script src="//geodata.solutions/includes/countrystatecity.js"></script>
                    <br>
      <a class="popup-cerrar" href="#">X</a>
   </div>
    </div>




<br>
<br>
{% endblock %}
{% block extrajs %}
<script>
var x=0;
/* event listener */
document.getElementsByName("country")[0].addEventListener('change', npais);
document.getElementsByName("state")[0].addEventListener('change', ndep);
document.getElementsByName("city")[0].addEventListener('change', nc);
document.getElementsByName("a_patologicos")[0].addEventListener('change', patologicos);
document.getElementsByName("a_farmaco1")[0].addEventListener('change', far1);
document.getElementsByName("a_farmaco2")[0].addEventListener('change', far2);

/* function */
function cambio(arg){
    if (arg == 'n'){
    x=1;
    } else {
    x=0;
    }
    document.getElementById("countryId").value="";
    document.getElementById("stateId").value="";
    document.getElementById("cityId").value="";
}
function npais(){
    var p= document.getElementById("countryId").value;

    if ( x == 1){
    document.getElementById("id_lugar_nacimiento").value = p;
    } else {
    document.getElementById("id_lugar_residencia").value = p;
    }
    var d= document.getElementById("stateId").required=true;
    var d= document.getElementById("cityId").required=true;
}
function ndep(){
    var d= document.getElementById("stateId").value;
    var p= document.getElementById("countryId").value;
    if ( x == 1){
    document.getElementById("id_lugar_nacimiento").value = p+", "+d;
    } else {
    document.getElementById("id_lugar_residencia").value = p+", "+d;
    }


}
function nc(){
    var d= document.getElementById("stateId").value;
    var p= document.getElementById("countryId").value;
    var c= document.getElementById("cityId").value;
    if ( x == 1){
    document.getElementById("id_lugar_nacimiento").value = p+", "+d+", "+c;
    } else {
    document.getElementById("id_lugar_residencia").value = p+", "+d+", "+c;
    }


}

function patologicos(){
    var x=document.querySelectorAll("option:checked");
    var flag=false;
    for (var i = 0; i < x.length; i++) {
    if ( x[i].value == "6" ) {
        flag=true;
        break;
    } }

    if ( flag == true ) {
        document.getElementById("label_a_patologicos_cual").style ="display:inline" ;
        document.getElementById("id_a_patologicos_cual").style ="display:inline" ;
        document.getElementById("id_a_patologicos_cual").required =true ;
    } else {
        document.getElementById("label_a_patologicos_cual").style ="display:none" ;
        document.getElementById("id_a_patologicos_cual").style ="display:none" ;
        document.getElementById("id_a_patologicos_cual").required =false ;
        document.getElementById("id_a_patologicos_cual").value ="" ;
    }
}

function far1(){
    var v= document.getElementById("id_a_farmaco1").value;
    if ( v != "" ) {
        document.getElementById("f1").style ="display:inline" ;
        document.getElementById("id_a_farmaco1_dosis").style ="display:inline" ;
        document.getElementById("id_a_farmaco1_dosis").required =true ;
    } else {
        document.getElementById("f1").style ="display:none" ;
        document.getElementById("id_a_farmaco1_dosis").style ="display:none" ;
        document.getElementById("id_a_farmaco1_dosis").required =false ;
        document.getElementById("id_a_farmaco1_dosis").value ="" ;
    }

}

function far2(){
    var v= document.getElementById("id_a_farmaco2").value;
    if ( v != "" ) {
        document.getElementById("f2").style ="display:inline" ;
        document.getElementById("id_a_farmaco2_dosis").style ="display:inline" ;
        document.getElementById("id_a_farmaco2_dosis").required =true ;
    } else {
        document.getElementById("f2").style ="display:none" ;
        document.getElementById("id_a_farmaco2_dosis").style ="display:none" ;
        document.getElementById("id_a_farmaco2_dosis").required =false ;
        document.getElementById("id_a_farmaco2_dosis").value ="" ;
    }

}






</script>

<script>
function craneo(){
    var flag= document.getElementById("craneotomia").checked;
    if ( flag == true ) {
        document.getElementById("fcraneo").style ="display:inline" ;
        document.getElementById("id_fecha_craneotomia").style ="display:inline" ;
        document.getElementById("id_fecha_craneotomia").required =true ;
    } else {
        document.getElementById("fcraneo").style ="display:none" ;
        document.getElementById("id_fecha_craneotomia").style ="display:none" ;
        document.getElementById("id_fecha_craneotomia").required =false ;
        document.getElementById("id_fecha_craneotomia").value ="" ;
    }
}


function qotro(){
    var flag= document.getElementById("q_otro").checked;
    if ( flag == true ) {
        document.getElementById("causaotro").style ="display:inline" ;
        document.getElementById("id_causa_quirurgicos").style ="display:inline" ;
        document.getElementById("id_causa_quirurgicos").required =true ;
    } else {
        document.getElementById("causaotro").style ="display:none" ;
        document.getElementById("id_causa_quirurgicos").style ="display:none" ;
        document.getElementById("id_causa_quirurgicos").required =false ;
        document.getElementById("id_causa_quirurgicos").value ="" ;
    }
}


function ff(){
    var v= document.getElementById("id_firma_consentimiento").checked;
    if ( v == true ) {
        document.getElementById("ffirma").style ="display:inline" ;
        document.getElementById("id_fechafirma").style ="display:inline" ;
        document.getElementById("id_fechafirma").required = true ;
        document.getElementById("causafirma").style ="display:none" ;
        document.getElementById("id_firma_causa").style ="display:none" ;
        document.getElementById("id_firma_causa").required =false ;
        document.getElementById("id_firma_causa").value ="" ;
        document.getElementById("id_archivofirma").style ="display:inline" ;
        document.getElementById("dfirma").style ="display:inline" ;
        document.getElementById("id_archivofirma").required = true ;
    } else {
        document.getElementById("ffirma").style ="display:none" ;
        document.getElementById("id_fechafirma").style ="display:none" ;
        document.getElementById("id_fechafirma").required =false ;
        document.getElementById("id_fechafirma").value ="" ;
        document.getElementById("causafirma").style ="display:inline" ;
        document.getElementById("id_firma_causa").style ="display:inline" ;
        document.getElementById("id_firma_causa").required =true ;
        document.getElementById("id_archivofirma").style ="display:none" ;
        document.getElementById("id_archivofirma").required = false ;
        document.getElementById("dfirma").style ="display:none" ;

    }

}

</script>






{% endblock %}