{% extends 'base/base.html' %}

{% block title %} Formulario Profesional {% endblock %}
{% block content %}

<form method="post">
    {% csrf_token %}


    <div class="row">
        <div class="col-md-8 col-md-offset-2">
                <h1>Formulario Profesional</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.nombre.name}}">{{form.nombre.label}}</label>
                    {{ form.nombre.errors }}
                    {{form.nombre}}

                </div>
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>

</form>
{% endblock %}
{% block extrajs %}
{% endblock %}