{% extends 'base/base.html' %}

{% block title %} Listado de Profesionales {% endblock %}
{% block content %}

<table class="table table-hover">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            {% if user.groups.all.0.name != 'Consultor' %}
            <td>Acciones</td>
            {% endif %}

        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for medico in object_list %}
        <tr>
            <td>{{ medico.id }}</td>
            <td>{{ medico.nombre }}</td>

            {% if user.groups.all.0.name != 'Consultor' %}
            <td>

                <a class="btn btn-primary" href="{% url 'medico_editar' medico.pk%}">Editar</a>

                {% if user.groups.all.0.name == 'Administrador' %}
                <a class="btn btn-danger" href="{% url 'medico_eliminar' medico.pk%}">Eliminar</a>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor%}

        {% else %}
        <h1>No hay registros de Profesionales</h1>

        {% endif %}
    </tbody>
</table>

<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
    </li>
</ul>

{% endblock %}