{% extends 'base/base.html' %}

{% block title %} Listado de Sujetos {% endblock %}
{% block content %}




<h1>Lista de Todos los Sujetos</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Médico a cargo </th>
      <th scope="col">Incluido en el estudio</th>
      {% if user.groups.all.0.name != 'Consultor' %}
      <th scope="col">Acciones</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% if object_list %}
        {% for object in object_list %}
            {% if object.nombres == None %}
            <tr class="table-active">
              <td><a href="{% url 'paciente' object.pk%}" >{{object.sujeto_numero}}</a></td>
              <td colspan="2" style="color:red">Información del sujeto aún no obtenida </td>
              {% if user.groups.all.0.name != 'Consultor' %}
              <td>
                  <p><a href="{% url 'paciente_editar' object.pk%}" >Añadir información</a></p>
                  {% if user.groups.all.0.name == 'Administrador' %}
                  {% if object.inscrito == False%}
                  <p><a href="{% url 'paciente_eliminar' object.pk%}" >Eliminar</a></p>
                  {% else%}
                  <p><a href="{% url 'upload-delete' object.imagen.pk%}" >Eliminar</a></p>
                  {% endif %}
                  {% endif %}
              </td>
              {% endif %}
            </tr>
            {% else %}
            <tr class="table-active">
              <td><a href="{% url 'paciente' object.pk%}" >{{object.sujeto_numero}}</a></td>
              <td>{{object.medico_responsable}}</td>

              <td>
                  <div  class="custom-control custom-checkbox">
                    <input  class="custom-control-input" {% if object.inscrito == True %} checked="" {% endif %} id="customCheck2" disabled="" type="checkbox">
                  </div>
              </td>

              {% if user.groups.all.0.name == 'Administrador' %}
              {% if object.inscrito == False%}
              <td><a href="{% url 'paciente_eliminar' object.pk%}" >Eliminar</a></td>
              {% else%}
              <td><a href="{% url 'upload-delete' object.imagen.pk%}" >Eliminar</a></td>
              {% endif %}
              {% else %}
              <td></td>
              {% endif %}
            </tr>
            {% endif %}
        {% endfor%}

    {% else %}
    <h2>No hay registros de Sujetos</h2>

    {% endif %}
  </tbody>
</table>

<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
    </li>
</ul>

{% endblock %}