{% extends 'base/base.html' %}

{% block title %} Formulario Paciente {% endblock %}
{% block content %}
{% if user.groups.all.0.name == 'Consultor' or object.estado > 0 %}
<script type="text/javascript">
        window.location="{% url 'paciente_listar' %}";
</script>
{% endif %}


{% load scripts %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="col-md-8 col-md-offset-2">
                {% if form.errors %}
                    <!-- Error messaging -->
                    <div id="errors">
                        <div class="inner">
                            <p>There were some errors in the information you entered. Please correct the following:</p>
                            {{ form.non_field_errors }}
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /Error messaging -->
                {% endif %}
        </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
                <h1>{% if object.estado < 1 or not object.estado %} Paciente en Observación {% else %} Sujeto # {% endif %} {{object.sujeto_numero|stringformat:"04d"}}</h1>
        </div>
    </div>
    <div class="row">


        {% if object.estado != 0 and object.estado != 1  %}


        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>Sujeto # {% num %}</label>




                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>{{form.fecha_de_registro.label}}</label>
                    {{ form.fecha_de_registro.errors }}
                    <input class="form-control"  min="2017-01-01" max="2020-12-31" required name="fecha_de_registro" type="date" placeholder="Elegir fecha" id="id_fecha_de_registro" value="{{object.fecha_de_registro|date:'Y-m-d'}}">

                </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label >{{form.HC.label}}</label>
                    {{ form.HC.errors }}
                    <input type="text" name="HC" maxlength="15" autocomplete="off" required id="id_HC" oninput="this.value = this.value.replace(/[^0-9]/, '')" placeholder="Historia clínica número" class="form-control" {% if object.HC != None %} value="{{object.HC}}" {% endif %}/>
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label >{{form.cama_numero.label}}</label>
                    {{ form.cama_numero.errors }}
                    <input type="text" maxlength="3" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9]/, '')" name="cama_numero" required id="id_cama_numero" placeholder="Ingrese número entero" class="form-control" {% if object.cama_numero != None %} value="{{object.cama_numero}}" {% endif %}/>
                </div>
        </div>
        {% if object.estado == 0 or  user.groups.all.0.name == 'Administrador' %}
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label >{{form.nombres.label}}</label>
                    {{ form.nombres.errors }}
                    <input type="text" autocomplete="off" oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s]/, '')" name="nombres" maxlength="50" required id="id_nombres" placeholder="Nombres" class="form-control" value="{{object.nombres}}"/>

                </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label >{{form.apellidos.label}}</label>
                    {{ form.apellidos.errors }}
                    <input type="text" autocomplete="off" oninput="this.value = this.value.replace(/[^a-zA-ZñÑ\s]/, '')" name="apellidos" maxlength="50" required id="id_apellidos" placeholder="apellidos" class="form-control" value="{{object.apellidos}}"/>
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label >{{form.cc.label}}</label>
                    {{ form.cc.errors }}
                    <input type="text" autocomplete="off" maxlength="10" oninput="this.value = this.value.replace(/[^0-9]/, '')" name="cc" required id="id_cc" placeholder="Ingrese número entero" class="form-control" {% if object.cc != None %} value="{{object.cc}}" {% endif %}/>
                </div>
        </div>
        {% else %}
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    {{ form.nombres.errors }}
                    {{  form.nombres.as_hidden  }}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    {{form.apellidos.as_hidden}}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    {{form.cc.as_hidden}}
                </div>
        </div>
        {% endif %}
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>{{form.fecha_nacimiento.label}}</label>
                    {{ form.fecha_nacimiento.errors }}
                    <input class="form-control"  min="1917-01-01" max="1998-12-31" required name="fecha_nacimiento" type="date" placeholder="Elegir fecha" id="id_fecha_nacimiento" value="{{object.fecha_nacimiento|date:'Y-m-d'}}">
                </div>
            <script>
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear()-18;
                 if(dd<10){
                        dd='0'+dd
                    }
                    if(mm<10){
                        mm='0'+mm
                    }

                today = yyyy+'-'+mm+'-'+dd;
                document.getElementById("id_fecha_nacimiento").setAttribute("max", today);
            </script>
        </div>

        <div class="col-md-8 col-md-offset-2">

            <div class="form-group">
              <label >{{form.sexo.label}}</label>
                {{ form.sexo.errors }}
                {{form.sexo}}
            </div>

        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>{{form.fecha_evento_principal.label}}</label>
                    {{ form.fecha_evento_principal.errors }}
                    <input class="form-control"  min="2017-01-01" max="2020-12-31" required name="fecha_evento_principal" type="date" placeholder="Elegir fecha" id="id_fecha_evento_principal" value="{{object.fecha_evento_principal|date:'Y-m-d'}}">
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>{{form.hora_evento_principal.label}}</label>
                    {{ form.hora_evento_principal.errors }}
                    <input type="time" step = "60" name="hora_evento_principal" {% if object.hora_evento_principal != None %} value="{{object.hora_evento_principal}}" {% else %} value="00:00" {% endif%}class="form-control"  id="id_hora_evento_principal" />
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>{{form.fecha_hora_ingreso.label}}</label>
                    {{ form.fecha_hora_ingreso.as_hidden }}
                    <table>
                        <tbody>
                        <tr>
                            <th>Fecha
                            <td><input class="form-control"  min="2017-01-01" max="2020-12-31" required name="fecha_ingreso" type="date" placeholder="Elegir fecha" id="id_fecha_ingreso" /> </td>
                            <th>Hora</th>
                            <td><input type="time" step = "60" value="00:00" name="hora_ingreso" required class="form-control"  id="id_hora_ingreso" /></td>
                        </tr>
                        </tbody>
                    </table>
                    <script>
                    document.getElementsByName("fecha_ingreso")[0].addEventListener('change', creardatetime);
                    document.getElementsByName("hora_ingreso")[0].addEventListener('change', creardatetime);

                    /* function */
                    function creardatetime(){
                        'use strict';
                        var f = document.getElementById("id_fecha_ingreso").value;
                        var h = document.getElementById("id_hora_ingreso").value;
                        var d = new Date(f+"T"+h+"-05:00");
                        var m = String(parseInt(d.getMonth())+1)
                        document.getElementById("id_fecha_hora_ingreso").value=d.getFullYear()+"-"+m+"-"+d.getDate()+" "+d.getHours()+":"+d.getMinutes();

                    }
                    </script>

                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>{{form.G_diagnostico.label}}</label>
                    {{ form.G_diagnostico.errors }}
                    {{form.G_diagnostico}}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>{{form.D_neuro_logico_psiquiatrico_previo.label}}</label>
                    {{ form.D_neuro_logico_psiquiatrico_previo.errors }}
                    {{form.D_neuro_logico_psiquiatrico_previo}}
                    <div class="help">Mantenga presionado "Control" o "Command" en un Mac, para seleccionar más de una opción.</div>
                </div>

        </div>


        <div class="col-md-8 col-md-offset-2" >
                <div class="form-group">
                    <label {% if object.D_especificos|length > 0 %} style="display:inline" {% else %} style="display:none;" {% endif %}  id="d">{{form.D_especificos.label}}</label>
                    {{ form.D_especificos.errors }}
                    <textarea name="D_especificos" rows="4" cols="40" id="id_D_especificos"  {% if object.D_especificos|length > 0 %} required style="display:inline" {% else %} style="display:none" {% endif %} class="form-control" >{% if object.D_especificos|length > 0 %} {{object.D_especificos}}  {% endif %}</textarea>
                </div>

        </div>






        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>{{form.medico_responsable.label}}</label>
                    {{ form.medico_responsable.errors }}
                    {{form.medico_responsable}}
                    <label>{{form.archivo.label}}</label>
                    {{form.archivo.errors}}

                    {% if not object.archivo or user.groups.all.0.name == 'Administrador'%}
                     {{form.archivo}}
                    {% else %}
                    Ya cargado.
                    {{form.archivo.as_hidden}}
                    {% endif%}

                </div>



        </div>
                {{form.ci.as_hidden}}
                {{form.ci3.as_hidden}}
                {{form.ci4.as_hidden}}
                {{form.ce1.as_hidden}}
                {{form.ce2.as_hidden}}
                {{form.ce3.as_hidden}}
                {{form.ce4.as_hidden}}
                {{form.imagen.as_hidden}}

    {% endif %}
    {% if object.estado == 0 %}

        {% load scripts %}
          {% tiempo object as t%}
          {% if t < 48  %}
          <script type="text/javascript">
            window.location="{% url 'paciente_listar' %}";
          </script>

          {% endif %}

         <div class="col-md-8 col-md-offset-2">
                <legend>Criterios de inclusión (Debe cumplir 3 de 4)  </legend>
                  <div class="form-group">
                      {{form.ci}}

                      <div class="form-group">
                            {{ form.ci3.errors }}
                            {{form.ci3}}
                            <label >{{form.ci3.label}}</label>

                        </div>
                      <div class="form-group">
                            {{ form.ci4.errors }}
                            {{form.ci4}}
                            <label >{{form.ci4.label}}</label>

                        </div>
                  </div>

        </div>
        <div class="col-md-8 col-md-offset-2">
                <legend>Criterios de exclusión (al menos 1 se considera excluído)</legend>
                  <div class="form-group">
                      <div class="form-group">
                            {{ form.ce1.errors }}
                            {{form.ce1}}
                            <label >{{form.ce1.label}}</label>

                      </div>
                      <div class="form-group">
                            {{ form.ce2.errors }}
                            {{form.ce2}}
                            <label >{{form.ce2.label}}</label>

                      </div>
                      <div class="form-group">
                            {{ form.ce3.errors }}
                            {{form.ce3}}
                            <label >{{form.ce3.label}}</label>

                      </div>
                      <div class="form-group">
                            {{ form.ce4.errors }}
                            {{form.ce4}}
                            <label>{{form.ce4.label}}</label>

                      </div>
                  </div>

        </div>

        {{form.nombres.as_hidden}}
        {{form.apellidos.as_hidden}}
        {{form.fecha_nacimiento.as_hidden}}
        {{form.cc.as_hidden}}
        {{form.sexo.as_hidden}}
        {{form.sujeto_numero.as_hidden}}
        {{form.fecha_de_registro.as_hidden}}
        {{form.HC.as_hidden}}
        {{form.cama_numero.as_hidden}}
        {{form.fecha_evento_principal.as_hidden}}
        {{form.hora_evento_principal.as_hidden}}
        {{form.fecha_hora_ingreso.as_hidden}}
        {{form.G_diagnostico.as_hidden}}
        {{form.medico_responsable.as_hidden}}
        {{form.imagen.as_hidden}}



    {% endif%}




    </div>

    <div class="col-md-8 col-md-offset-2">
        <button class="btn btn-primary" id="guardar" type="submit">Guardar</button>
    </div>

</form>
<br>
<br>
{% endblock %}
{% block extrajs %}

<script>
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
var fecha=document.getElementById("id_fecha_de_registro").value;
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("id_fecha_evento_principal").setAttribute("max", today);
document.getElementById("id_fecha_de_registro").setAttribute("max", today);
if ( fecha == "" ) {
        document.getElementById("id_fecha_de_registro").value=today;
    }
document.getElementById("id_fecha_ingreso").setAttribute("max", today);


/* event listener */
document.getElementsByName("edad")[0].addEventListener('change', valedad);


/* function */
function valedad(){
    if ( this.value < 18 ) {
        alert('La edad no puede ser menor a 18 años');
        document.getElementById("id_edad").value = "";
    }

}
</script>

<script>
/* event listener */
document.getElementsByName("fecha_evento_principal")[0].addEventListener('change', valfecha);



/* function */
function valfecha(){
    document.getElementById("id_fecha_ingreso").min = this.value;
}

</script>

<script>
/* event listener */
document.getElementById("id_ce1").addEventListener('change', mexclusion);
document.getElementById("id_ce2").addEventListener('change', mexclusion);
document.getElementById("id_ce3").addEventListener('change', mexclusion);
document.getElementById("id_ce4").addEventListener('change', mexclusion);


function mexclusion(){
    var c1=document.getElementById("id_ce1").checked;
    var c2=document.getElementById("id_ce2").checked;
    var c3=document.getElementById("id_ce3").checked;
    var c4=document.getElementById("id_ce4").checked;
    var x= c1*1+c2*1+c3*1+c4*1
    if ( x > 0 ) {
       alert("Bajo estas condiciones el sujeto se considera excluído");
    }

}




</script>



<script>
/* event listener */
document.getElementsByName("D_neuro_logico_psiquiatrico_previo")[0].addEventListener('change', vald);


/* function */
function vald(){
    var x=document.querySelectorAll("option:checked").length-3;
    if ( x > 0 ) {
        document.getElementById("d").style="display:inline";
        document.getElementById("id_D_especificos").style="display:inline";
        document.getElementById("id_D_especificos").required="required";

    } else {
        document.getElementById("d").style="display:none";
        document.getElementById("id_D_especificos").style="display:none";
        document.getElementById("id_D_especificos").required=false;
        document.getElementById("id_D_especificos").value="";
    }

}



</script>


<script>
document.getElementById("guardar").addEventListener('click', resultado);
function resultado(){
    var i1=document.getElementById("id_ci_1").checked;
    var i2=document.getElementById("id_ci_2").checked;
    var i3=document.getElementById("id_ci3").checked;
    var i4=document.getElementById("id_ci4").checked;
    var c1=document.getElementById("id_ce1").checked;
    var c2=document.getElementById("id_ce2").checked;
    var c3=document.getElementById("id_ce3").checked;
    var c4=document.getElementById("id_ce4").checked;
    var x1= i1*1+i2*1+i3*1+i4*1;
    var x2= c1*1+c2*1+c3*1+c4*1;

    if ( x1 > 2 && x2 == 0  ) {
       alert("Resultado: Estado Cambiado a Candidato");
    }
    else {
        alert("Resultado: Estado Cambiado a Excluido");
    }

}
</script>

<script>
document.getElementById("guardar").addEventListener('click', antecedentes);
function antecedentes(){
    var x=document.querySelectorAll("option:checked").length-3;
    if ( x > 0 ) {
      alert("Resultado: Estado Cambiado a Excluido");
    }
}
</script>

{% endblock %}