{% extends 'base/base.html' %}

{% block title %} Listado de Sujetos {% endblock %}
{% block content %}



{% if perms.paciente.add_candidato %}
<button style="vertical-align: middle;" type="button" onclick="location.href='{% url 'paciente_crear' %}'" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Añadir Registro</button>
{% endif %}
<br>
<br>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success">
    {{ message }}
  </div>
    {% endfor %}
</ul>
{% endif %}




<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#seguimiento">Observación</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link active" data-toggle="tab" href="#admitidos">Incluidos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#rechazados">Rechazados</a>
  </li>

</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane" id="seguimiento">

      {% if object_list|length == 0 %}
      <h2>No hay registros de Sujetos</h2>
      {% else %}

                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">&nbsp;&nbsp;&nbsp;Id</th>
                      <th scope="col">Profesional a cargo </th>
                      <th>Tiempo desde ingreso UCI</th>
                      {% if perms.paciente.change_candidato or perms.paciente.delete_candidato %}
                      <th style="text-align:right" scope="col">Acciones</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% if object_list %}
                        {% for object in object_list %}
                            {% if object.estado == 0 %}
                            {% load scripts %}
                            {% tiempo object as t%}
                            <tr class="table-active">
                              <td><form><button class="btn btn-link enabled" formaction="{% url 'paciente' object.pk%}" title="Ver información">{{object.sujeto_numero|stringformat:"04d"}}</button></form></td>
                              <td style="vertical-align: middle;">{{object.medico_responsable}}</td>
                              <td>{{t}} Horas</td>
                              {% if perms.paciente.change_candidato or perms.paciente.delete_candidato %}
                              <td style="text-align:right">
                                  <form>

                                  {% if t >= 48  %}
                                  <button class="btn btn-primary" formaction="{% url 'paciente_editar' object.pk%}">Establecer Criterios</button>
                                  {% endif %}
                                  {% if perms.paciente.delete_candidato %}

                                  <button class="btn btn-danger"  formaction="{% url 'paciente_eliminar' object.pk%}" title="Eliminar">
                                  <i class="glyphicon glyphicon-trash"></i>

                                  </button>

                                  {% endif %}

                                  </form>

                              </td>


                              {% endif %}
                            </tr>
                            {% endif %}
                        {% endfor%}

                    {% else %}
                    <h2>No hay registros de Sujetos</h2>

                    {% endif %}
                  </tbody>
                </table>
        {% endif %}



        <ul class="pager">
            <li>
                {% if page_obj.has_previous %}
                 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                </li>
            <li>
                {% if page_obj.has_next %}
                 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </li>
        </ul>
  </div>

  <div class="tab-pane active" id="admitidos">
    {% if object_list|length == 0 %}
      <h2>No hay registros de Sujetos</h2>
      {% else %}
                <div class="container"><br><p>Total: {% totalincluidos %}</p></div>
                <table class="table table-hover">

                  <thead>
                    <tr>
                      <th scope="col">&nbsp;&nbsp;&nbsp;Id</th>
                      <th scope="col">Profesional a cargo </th>
                      {% if user.groups.all.0.name == 'Residente' or user.groups.all.0.name == 'Coordinador' %}
                        <th scope="col">Seguimiento de hoy</th>
                      {% endif %}

                        <th scope="col">Imágenes Cargadas</th>

                     {% if perms.paciente.delete_candidato or  perms.paciente.can_descargar_candidato %}
                      <th style="text-align:right" scope="col">Acciones</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% if object_list %}
                        {% for object in object_list %}
                            {% if object.estado > 0 and object.inscrito == True %}
                            <tr class="table-active">
                              <td><form><button class="btn btn-link enabled" formaction="{% url 'paciente' object.pk%}" title="Ver información">{{object.sujeto_numero|stringformat:"04d"}}</button></form></td>
                              <td style="vertical-align: middle;">{{object.medico_responsable}}</td>
                              
                              {% if user.groups.all.0.name == 'Residente' or user.groups.all.0.name == 'Coordinador' %}
                                {% load scripts %}
                                <td style="vertical-align: middle;" scope="col">
                                    {% checkseguimiento object as check %}
                                    {% if check == 'si'  %}   <span style="color:green" class="glyphicon glyphicon-check" ></span> {% endif %}
                                    {% if check == 'no'  %}   <span style="color:red" class="glyphicon glyphicon-remove-circle"></span> {% endif %}
                                    {% if check != 'no' and check != 'si'  %}
                                    <p
                                    {% if check == "Formulario Ingreso UCI aún no cargado" %}
                                    style="color:red"
                                    {% endif %}
                                    >{{check}}
                                    </p>
                                    {% endif %}


                                </td>
                              {% endif %}

                                    <td scope="col">{% if object.imagen %} <span style="color:green" class="glyphicon glyphicon-check"></span> {% endif %}</td>


                              {% if perms.paciente.delete_candidato or  perms.paciente.can_descargar %}
                              <td style="text-align:right">
                                  <form>
                                    {% if object.get_img and object.get_img.anonimo == 1 and perms.paciente.can_descargar_candidato %}
                                  <button class="btn btn-success"  formaction="{{ object.get_img.file.url }}" title="Descargar">
                                  <i class="glyphicon glyphicon-download"></i>
                                  </button>
                                      {% endif %}
                                  {% if perms.paciente.delete_candidato %}
                                  <button class="btn btn-danger"  formaction="{% url 'paciente_eliminar' object.pk%}" title="Eliminar">
                                  <i class="glyphicon glyphicon-trash"></i>
                                  </button>
                                  {% endif %}
                                    </form>



                              </td>
                              {% endif %}
                            </tr>
                            {% endif %}
                        {% endfor%}

                    {% else %}
                    <h2>No hay registros de Sujetos</h2>

                    {% endif %}
                  </tbody>
                </table>
        {% endif %}



        <ul class="pager">
            <li>
                {% if page_obj.has_previous %}
                 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                </li>
            <li>
                {% if page_obj.has_next %}
                 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </li>
        </ul>
  </div>

  <div class="tab-pane fade" id="rechazados">
    {% if object_list|length == 0 %}
      <h2>No hay registros de Sujetos</h2>
      {% else %}
                <div class="container"><br><p>Total: {% totalexcluidos %}</p></div>
                <table class="table table-hover">
                  <thead>
                    <tr style="vertical-align: middle;">
                      <th scope="col">&nbsp;&nbsp;&nbsp;Id</th>
                      <th scope="col">Profesional a cargo </th>
                        <th scope="col">Motivo Exclusión </th>
                      {% if perms.paciente.delete_candidato %}
                      <th style="text-align:right" scope="col">Acciones</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% if object_list %}
                        {% for object in object_list %}
                            {% if object.estado > 0 and object.inscrito == False %}
                            <tr class="table-active" >
                              <td><form><button class="btn btn-link enabled" formaction="{% url 'paciente' object.pk%}" title="Ver información">{{object.sujeto_numero|stringformat:"04d"}}</button></form></td>
                              <td style="vertical-align: middle;">{{object.medico_responsable}}</td>
                                <td scope="col" style="vertical-align: middle;">

                                    {% mexclusion object%}
                                </td>

                              {% if perms.paciente.delete_candidato %}
                              <td style="text-align:right">
                                  <form>
                                  <button class="btn btn-danger"  formaction="{% url 'paciente_eliminar' object.pk%}" title="Eliminar">
                                  <i class="glyphicon glyphicon-trash"></i>
                                  </button>
                                  </form>
                              </td>
                              {% endif %}
                            </tr>
                            {% endif %}
                        {% endfor%}

                    {% else %}
                    <h2>No hay registros de Sujetos</h2>

                    {% endif %}
                  </tbody>
                </table>
        {% endif %}



        <ul class="pager">
            <li>
                {% if page_obj.has_previous %}
                 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                </li>
            <li>
                {% if page_obj.has_next %}
                 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </li>
        </ul>
  </div>

</div>




{% endblock %}
