{% extends 'base/base.html' %}


{% block title %} Eliminacion registro {% endblock %}
{% block content %}
{% if user.groups.all.0.name != 'Administrador' %}
<script type="text/javascript">
        window.location="{% url 'paciente_listar' %}";
</script>
{% endif %}
<center>
<form  method="post">
    {% csrf_token %}

    <h3>¿Desea eliminar el registro del Sujeto # {{ object.sujeto_numero|stringformat:"04d" }}?</h3>
    <h3>Esto eliminara los registros dependientes.</h3>


    <button class="btn btn-danger" type="submit">Sí, eliminar</button>
    <a class="btn btn-success" href="{% url 'paciente_listar' %}">Cancelar</a>
</form>
</center>

{% endblock %}