{% extends 'base/base.html' %}

{% block title %} Formulario Paciente {% endblock %}
{% block content %}
{% if user.groups.all.0.name == 'Consultor' %}
<script type="text/javascript">
        window.location="{% url 'paciente_listar' %}";
</script>
{% endif %}


{% load scripts %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
                <h1>Formulario Candidato</h1>
        </div>
    </div>
    <div class="row">





        {% if object.imagen %}
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <label >Imagen</label>
              <input class="form-control"  value="{{object.imagen}}"  disabled type="text">
            </div>

        </div>
        {% endif %}

        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.sujeto_numero.name}}">{{form.sujeto_numero.label}}</label>
                    {{ form.sujeto_numero.errors }}
                    <input type="text" name="sujeto_numero" {% if object.sujeto_numero %} value="{{object.sujeto_numero}}" {% else %} value="{% numexcluido %}" {% endif %} class="form-control" maxlength="20" required id="id_sujeto_numero" readonly />





                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.fecha_de_registro.name}}">{{form.fecha_de_registro.label}}</label>
                    {{ form.fecha_de_registro.errors }}
                    <input class="form-control"  min="2017-01-01" max="2020-12-31" required name="fecha_de_registro" type="date" placeholder="Elegir fecha" id="id_fecha_de_registro" value="{{object.fecha_de_registro|date:'Y-m-d'}}">

                </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.HC.name}}">{{form.HC.label}}</label>
                    {{ form.HC.errors }}
                    <input type="text" name="HC" required id="id_HC" oninput="this.value = this.value.replace(/[^0-9]/, '')" placeholder="Historia clínica número" class="form-control" {% if object.HC != None %} value="{{object.HC}}" {% endif %}/>
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cama_numero.name}}">{{form.cama_numero.label}}</label>
                    {{ form.cama_numero.errors }}
                    <input type="text" maxlength="3" oninput="this.value = this.value.replace(/[^0-9]/, '')" name="cama_numero" required id="id_cama_numero" placeholder="Ingrese número entero" class="form-control" {% if object.cama_numero != None %} value="{{object.cama_numero}}" {% endif %}/>
                </div>
        </div>
        {% if object.estado == 0 or  user.groups.all.0.name == 'Administrador' %}
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.nombres.name}}">{{form.nombres.label}}</label>
                    {{ form.nombres.errors }}
                    <input type="text" oninput="this.value = this.value.replace(/[^a-zA-Z\s]/, '')" name="nombres" maxlength="70" required id="id_nombres" placeholder="Nombres" class="form-control" value="{{object.nombres}}"/>

                </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.apellidos.name}}">{{form.apellidos.label}}</label>
                    {{ form.apellidos.errors }}
                    <input type="text" oninput="this.value = this.value.replace(/[^a-zA-Z\s]/, '')" name="apellidos" maxlength="70" required id="id_apellidos" placeholder="apellidos" class="form-control" value="{{object.apellidos}}"/>
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cc.name}}">{{form.cc.label}}</label>
                    {{ form.cc.errors }}
                    <input type="text" maxlength="13" oninput="this.value = this.value.replace(/[^0-9]/, '')" name="cc" required id="id_cc" placeholder="Ingrese número entero" class="form-control" {% if object.cc != None %} value="{{object.cc}}" {% endif %}/>
                </div>
        </div>
        {% else %}
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    {{ form.nombres.errors }}
                    {{  form.nombres.as_hidden  }}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    {{form.apellidos.as_hidden}}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    {{form.cc.as_hidden}}
                </div>
        </div>
        {% endif %}
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.edad.name}}">{{form.edad.label}}</label>
                    {{ form.edad.errors }}
                    <input type="text" maxlength="2" oninput="this.value = this.value.replace(/[^0-9]/, '')" name="edad" required id="id_edad" placeholder="Ingrese número entero" class="form-control" {% if object.edad != None %} value="{{object.edad}}" {% endif %}/>
                </div>
        </div>

        <div class="col-md-8 col-md-offset-2">

            <div class="form-group">
              <label for="{{form.sexo.name}}">{{form.sexo.label}}</label>
                {{ form.sexo.errors }}
                {{form.sexo}}
            </div>

        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.fecha_evento_principal.name}}">{{form.fecha_evento_principal.label}}</label>
                    {{ form.fecha_evento_principal.errors }}
                    <input class="form-control"  min="2017-01-01" max="2020-12-31" required name="fecha_evento_principal" type="date" placeholder="Elegir fecha" id="id_fecha_evento_principal" value="{{object.fecha_evento_principal|date:'Y-m-d'}}">
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.hora_evento_principal.name}}">{{form.hora_evento_principal.label}}</label>
                    {{ form.hora_evento_principal.errors }}

                    <input type="time" step = "1" name="hora_evento_principal" value="{{object.hora_evento_principal}}" class="form-control"  id="id_hora_evento_principal" />
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.fecha_ingreso.name}}">{{form.fecha_ingreso.label}}</label>
                    {{ form.fecha_ingreso.errors }}
                    <input class="form-control"  min="2017-01-01" max="2020-12-31" required name="fecha_ingreso" type="date" placeholder="Elegir fecha" id="id_fecha_ingreso" value="{{object.fecha_ingreso|date:'Y-m-d'}}">
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.hora_ingreso.name}}">{{form.hora_ingreso.label}}</label>
                    {{ form.hora_ingreso.errors }}
                    <input type="time" step = "1" name="hora_ingreso" value="{{object.hora_ingreso}}" class="form-control"  id="id_hora_ingreso" />
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.G_diagnostico.name}}">{{form.G_diagnostico.label}}</label>
                    {{ form.G_diagnostico.errors }}
                    {{form.G_diagnostico}}
                </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.D_neuro_logico_psiquiatrico_previo.name}}">{{form.D_neuro_logico_psiquiatrico_previo.label}}</label>
                    {{ form.D_neuro_logico_psiquiatrico_previo.errors }}
                    {{form.D_neuro_logico_psiquiatrico_previo}}
                    <div class="help">Mantenga presionado "Control" o "Command" en un Mac, para seleccionar más de una opción.</div>
                </div>

        </div>


        <div class="col-md-8 col-md-offset-2" >
                <div class="form-group">
                    <label {% if object.D_especificos|length > 0 %} style="display:inline" {% else %} style="display:none;" {% endif %}  id="d">{{form.D_especificos.label}}</label>
                    {{ form.D_especificos.errors }}
                    <textarea name="D_especificos" rows="4" cols="40" id="id_D_especificos"  {% if object.D_especificos|length > 0 %} required style="display:inline" {% else %} style="display:none" {% endif %} class="form-control" >{% if object.D_especificos|length > 0 %} {{object.D_especificos}}  {% endif %}</textarea>
                </div>

        </div>



        {% if object.fecha_de_registro == None %}

        <div class="col-md-8 col-md-offset-2">
                <legend>Criterios de inclusión (Debe cumplir 3 de 4)  </legend>
                  <div class="form-group">
                    <div class="custom-control custom-radio">
                      <input id="id_ci_1" name="ci" required lass="custom-control-input" {% if object.ci == 'ci1' %}  checked="" {% endif %} type="radio" value="ci1">
                      <label class="custom-control-label" for="id_ci_1">Paciente con episodio de parada cadíaca con reanimación exitosa</label>
                    </div>
                      <div><p>ó</p></div>
                    <div class="custom-control custom-radio">
                      <input id="id_ci_2" name="ci" required class="custom-control-input" {% if object.ci == 'ci2' %}  checked="" {% endif %} type="radio" value="ci2">
                      <label class="custom-control-label" for="id_ci_2">Paciente con Dx de lesión cerebral aguda de origen traumático o evento cerebrovascular</label>
                    </div>
                      <div class="form-group">
                            {{ form.ci3.errors }}
                            {{form.ci3}}
                            <label for="{{form.ci3.name}}">{{form.ci3.label}}</label>

                        </div>
                      <div class="form-group">
                            {{ form.ci4.errors }}
                            {{form.ci4}}
                            <label for="{{form.ci4.name}}">{{form.ci4.label}}</label>

                        </div>
                  </div>

        </div>
        {% else %}
        <div class="col-md-8 col-md-offset-2">
                <legend>Criterios de inclusión  </legend>
                {% if object.ci == 'ci1'%}
                    <p>Paciente con episodio de parada cadíaca con reanimación exitosa.</p>
                   {% elif object.ci == 'ci2'%}
                     <p>Paciente con Dx de lesión cerebral aguda de origen traumático o evento cerebrovascular.</p>
                   {% endif %}
                   {% if object.ci3 == True %}
                    <p>Puntaje en escala Glasgow igual o menor a 8 después del evento inicial.</p>
                   {% endif %}
                   {% if object.ci4 == True %}
                    <p>Paciente transportable a un resonador.</p>
                   {% endif %}
                {{form.ci.as_hidden}}
                {{form.ci3.as_hidden}}
                {{form.ci4.as_hidden}}

        </div>

        {% endif %}


        {% if object.inscrito != True %}


        {% if object.fecha_de_registro == None %}

        <div class="col-md-8 col-md-offset-2">
                <legend>Criterios de exclusión (al menos 1 se considera excluído)</legend>
                  <div class="form-group">
                      <div class="form-group">
                            {{ form.ce1.errors }}
                            {{form.ce1}}
                            <label for="{{form.ce1.name}}">{{form.ce1.label}}</label>

                      </div>
                      <div class="form-group">
                            {{ form.ce2.errors }}
                            {{form.ce2}}
                            <label for="{{form.ce1.name}}">{{form.ce2.label}}</label>

                      </div>
                      <div class="form-group">
                            {{ form.ce3.errors }}
                            {{form.ce3}}
                            <label for="{{form.ce3.name}}">{{form.ce3.label}}</label>

                      </div>
                      <div class="form-group">
                            {{ form.ce4.errors }}
                            {{form.ce4}}
                            <label for="{{form.ce4.name}}">{{form.ce4.label}}</label>

                      </div>
                  </div>

        </div>
        {% else %}
        <div class="col-md-8 col-md-offset-2">
                <legend>Criterios de exclusión   </legend>
                {% if object.ce1 == True %}
                <p>Diagnóstico de muerte cerebral en las primeras 48 horas del ingreso a UCI.</p>
               {% endif %}
               {% if object.ce2 == True %}
                <p>Destruccion masiva del parénquima cerebral no rescatable por neurocirugía.</p>
               {% endif %}
               {% if object.ce3 == True %}
                <p>Disfunción neurológica y/o neuropsiquiátrica previa.</p>
               {% endif %}
               {% if object.ce4 == True %}
                <p>Decisión de la familia de no participar en estudios de investigación.</p>
               {% endif %}
                {{form.ce1.as_hidden}}
                {{form.ce2.as_hidden}}
                {{form.ce3.as_hidden}}
                {{form.ce4.as_hidden}}

        </div>

        {% endif %}



        {% endif  %}



        <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.medico_responsable.name}}">{{form.medico_responsable.label}}</label>
                    {{ form.medico_responsable.errors }}
                    {{form.medico_responsable}}
                    <label>{{form.archivo.label}}</label>
                    {{form.archivo.errors}}

                    {% if not object.archivo or user.groups.all.0.name == 'Administrador'%}
                     {{form.archivo}}
                    {% else %}
                    Ya cargado.
                    {{form.archivo.as_hidden}}
                    {% endif%}

                </div>

            {{form.inscrito}}


        </div>




    </div>

    <div class="col-md-8 col-md-offset-2">
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>

</form>
<br>
<br>
{% endblock %}
{% block extrajs %}

<script>
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("id_fecha_evento_principal").setAttribute("max", today);
document.getElementById("id_fecha_ingreso").setAttribute("max", today);


/* event listener */
document.getElementsByName("edad")[0].addEventListener('change', valedad);


/* function */
function valedad(){
    if ( this.value < 18 ) {
        alert('La edad no puede ser menor a 18 años');
        document.getElementById("id_edad").value = "";
    }

}
</script>

<script>
/* event listener */
document.getElementsByName("fecha_evento_principal")[0].addEventListener('change', valfecha);



/* function */
function valfecha(){
    document.getElementById("id_fecha_ingreso").min = this.value;
}

</script>

<script>
/* event listener */
document.getElementById("id_ce1").addEventListener('change', mexclusion);
document.getElementById("id_ce2").addEventListener('change', mexclusion);
document.getElementById("id_ce3").addEventListener('change', mexclusion);
document.getElementById("id_ce4").addEventListener('change', mexclusion);

function mexclusion(){
    var c1=document.getElementById("id_ce1").checked;
    var c2=document.getElementById("id_ce2").checked;
    var c3=document.getElementById("id_ce3").checked;
    var c4=document.getElementById("id_ce4").checked;
    var x= c1*1+c2*1+c3*1+c4*1
    if ( x > 0 ) {
       alert("Bajo estas condiciones el sujeto se considera excluído");
    }

}
</script>



<script>
/* event listener */
document.getElementsByName("D_neuro_logico_psiquiatrico_previo")[0].addEventListener('change', vald);

/* function */
function vald(){
    var x=document.querySelectorAll("option:checked").length-3;
    if ( x > 0 ) {
        document.getElementById("d").style="display:inline";
        document.getElementById("id_D_especificos").style="display:inline";
        document.getElementById("id_D_especificos").required="required";
    } else {
        document.getElementById("d").style="display:none";
        document.getElementById("id_D_especificos").style="display:none";
        document.getElementById("id_D_especificos").required=false;
        document.getElementById("id_D_especificos").value="";
    }



}

</script>


{% endblock %}