{% extends 'base/base.html' %}

{% block title %} Formulario Paciente {% endblock %}
{% block content %}
{% if not perms.paciente.add_radiologia %}
<script type="text/javascript">
        window.location="{% url 'paciente_listar' %}";
</script>
{% endif %}
{% if user.groups.all.0.name != 'Coordinador' and object.fecha_procedimiento != None %}
<script type="text/javascript">
        window.location="{% url 'paciente_listar' %}";
</script>
{% endif %}

<form method="post">
    {% csrf_token %}

    <div class="row">


        <div class="col-md-8 col-md-offset-2">
                {% if form.errors %}
                    <!-- Error messaging -->
                    <div id="errors">
                        <div class="inner">
                            <p>There were some errors in the information you entered. Please correct the following:</p>
                            {{ form.non_field_errors }}
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /Error messaging -->
                {% endif %}
        </div>



        <div class="col-md-8 col-md-offset-2">
                <h1>Formulario Traslado a Radiología Sujeto#{{ object.candidato.sujeto_numero|stringformat:"04d" }}</h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>
                                <label>{{form.fecha_procedimiento.label}}</label>
                            </th>
                            <td>
                                {{ form.fecha_procedimiento.errors }}
                                <input class="form-control"  min="{{object.candidato.fecha_de_registro|date:'Y-m-d'}}" required name="fecha_procedimiento" type="date"  id="id_fecha_procedimiento" value="{{object.fecha_procedimiento|date:'Y-m-d'}}">
                            </td>
                            <th>
                                <label>{{form.radiologo.label}}</label>
                            </th>
                            <td>
                                {{form.radiologo}}
                            </td>
                        </tr>
                    </tbody>
                </table>


        </div>




        <div class="col-md-8 col-md-offset-2">
            <FONT SIZE="5">Pretransporte</FONT>  &nbsp; &nbsp; &nbsp;  <FONT SIZE="2">Establecer la condición del paciente</FONT>
            <table class="table table-hover">
              <tbody>
                <tr class="table-active">
                  <th style="vertical-align:middle;" >Transportable</th>
                  <td>

                          <label  for="id_transportable_1">
                            <input type="radio" name="transportable" value="SI"  required id="id_transportable_1" checked />SI
                          </label>

                          {{forms.transportable.errors}}

                  </td >
                  <th style="vertical-align:middle;" ><label >{{form.hora_inicio.label}}</label></th>
                  <td style="vertical-align:middle;" >{{ form.hora_inicio.errors }}
                      <input type="time"  required step = "60" name="hora_inicio" value="{{object.hora_inicio}}" class="form-control"  id="id_hora_inicio" />
                  </td>
                </tr>
                <script>
                    var today = new Date();
                    var dd = today.getDate();
                    var mm = today.getMonth()+1; //January is 0!
                    var yyyy = today.getFullYear();
                    var hh = today.getHours();
                    var min = today.getMinutes();

                    if(dd<10){
                        dd='0'+dd
                    }
                    if(mm<10){
                        mm='0'+mm
                    }
                    if(hh<10){
                        hh='0'+hh
                    }
                    if(min<10){
                        min='0'+min
                    }



                    today = yyyy+'-'+mm+'-'+dd;
                    hora =  hh+":"+min;
                    var fecha=document.getElementById("id_fecha_procedimiento").value;
                    var hour=document.getElementById("id_hora_inicio").value;
                    if ( fecha == "" ) {
                        document.getElementById("id_fecha_procedimiento").value=today;
                    }
                    if ( hour == "" ) {
                        document.getElementById("id_hora_inicio").value=hora;
                    }
                    document.getElementById("id_fecha_procedimiento").max=today;


                </script>

                <tr>
                    <th class="text-primary" style="vertical-align:middle;" colspan="2">PERSONAL DE ACOMPAÑAMIENTO</th>
                    <th class="text-primary" style="vertical-align:middle;" colspan="2">Soporte</th>
                </tr>
              <tr>
                  <th style="vertical-align:middle;" >Jefe de enfermería</th>
                  <td>

                          <label  for="id_jefe_enfermeria_1">
                            <input type="radio" name="jefe_enfermeria" value="SI"  required id="id_jefe_enfermeria_1"  {% if object.jefe_enfermeria == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_jefe_enfermeria_2">
                            <input type="radio" name="jefe_enfermeria" value="NO" required id="id_jefe_enfermeria_2" {% if object.jefe_enfermeria == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
                  <th style="vertical-align:middle;" >VMI</th>
                  <td>

                          <label  for="id_vmi_1">
                            <input type="radio" name="vmi" value="SI"  required id="id_vmi_1" {% if object.vmi == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_vmi_2">
                            <input type="radio" name="vmi" value="NO" required id="id_vmi_2" {% if object.vmi == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
              </tr>
              <tr>
                  <th style="vertical-align:middle;" >Auxiliar de enfermería</th>
                  <td>

                          <label  for="id_aux_enfermeria_1">
                            <input type="radio" name="aux_enfermeria" value="SI"  required id="id_aux_enfermeria_1" {% if object.aux_enfermeria == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_aux_enfermeria_2">
                            <input type="radio" name="aux_enfermeria" value="NO" required id="id_aux_enfermeria_2" {% if object.aux_enfermeria == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
                  <th style="vertical-align:middle;" >Vasopresor</th>
                  <td>

                          <label  for="id_vasopresor_1">
                            <input type="radio" name="vasopresor" value="SI"  required id="id_vasopresor_1" {% if object.vasopresor == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_vasopresor_2">
                            <input type="radio" name="vasopresor" value="NO" required id="id_vasopresor_2" {% if object.vasopresor == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
              </tr>
              <tr>
                  <th style="vertical-align:middle;" >Médico UCI</th>
                  <td>

                          <label  for="id_medico_uci_1">
                            <input type="radio" name="medico_uci" value="SI"  required id="id_medico_uci_1" {% if object.medico_uci == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_medico_uci_2">
                            <input type="radio" name="medico_uci" value="NO" required id="id_medico_uci_2" {% if object.medico_uci == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
                  <th style="vertical-align:middle;" >Ionotrópico</th>
                  <td>

                          <label  for="id_ionotropico_1">
                            <input type="radio" name="ionotropico" value="SI"  required id="id_ionotropico_1" {% if object.ionotropico == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_ionotropico_2">
                            <input type="radio" name="ionotropico" value="NO" required id="id_ionotropico_2" {% if object.ionotropico == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
              </tr>
              <tr>
                  <th style="vertical-align:middle;" >Anestesiólogo</th>
                  <td>

                          <label  for="id_anestesiologo_1">
                            <input type="radio" name="anestesiologo" value="SI"  required id="id_anestesiologo_1" {% if object.anestesiologo == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_anestesiologo_2">
                            <input type="radio" name="anestesiologo" value="NO" required id="id_anestesiologo_2" {% if object.anestesiologo == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
              </tr>
              <tr>
                  <th style="vertical-align:middle;" >Terapeuta Respiratorio</th>
                  <td>

                          <label  for="id_terapeuta_respiratorio_1">
                            <input type="radio" name="terapeuta_respiratorio" value="SI"  required id="id_terapeuta_respiratorio_1" {% if object.terapeuta_respiratorio == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_terapeuta_respiratorio_2">
                            <input type="radio" name="terapeuta_respiratorio" value="NO" required id="id_terapeuta_respiratorio_2" {% if object.terapeuta_respiratorio == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
              </tr>
              </tbody>
            </table>
        </div>

        <div class="col-md-8 col-md-offset-2">


            <FONT SIZE="5">Monitoreo de transporte UCI - Radiología</FONT>  &nbsp; &nbsp; &nbsp;  <FONT SIZE="2">Durante la movilización</FONT>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th colspan="2" style="vertical-align:middle;" ></th>
                  <th class="text-primary" style="vertical-align:middle;" colspan="2">Signos vitales</th>
                </tr>
              <tr>
                  <th style="vertical-align:middle;" >Pulsoxímetro</th>
                  <td>

                          <label  for="id_ur_pulsoximetro_1">
                            <input onclick="requerido('SI','id_ur_pulsoximetro_sv')" type="radio" name="ur_pulsoximetro" value="SI"  required id="id_ur_pulsoximetro_1" {% if object.ur_pulsoximetro == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_ur_pulsoximetro_2">
                            <input onclick="requerido('NO','id_ur_pulsoximetro_sv')" type="radio" name="ur_pulsoximetro" value="NO" required id="id_ur_pulsoximetro_2" {% if object.ur_pulsoximetro == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
                  <td colspan="2" style="vertical-align:middle;">
                      {{form.ur_pulsoximetro_sv.errors}} {{form.ur_pulsoximetro_sv}}
                  </td>
              </tr>
              <tr>
                  <th style="vertical-align:middle;" >Frecuencia cardíaca</th>
                  <td>

                          <label  for="id_ur_frecuencia_cardiaca_1">
                            <input onclick="requerido('SI','id_ur_frecuencia_cardiaca_sv')" type="radio" name="ur_frecuencia_cardiaca" value="SI"  required id="id_ur_frecuencia_cardiaca_1" {% if object.ur_frecuencia_cardiaca == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_ur_frecuencia_cardiaca_2">
                            <input onclick="requerido('NO','id_ur_frecuencia_cardiaca_sv')" type="radio" name="ur_frecuencia_cardiaca" value="NO" required id="id_ur_frecuencia_cardiaca_2" {% if object.ur_frecuencia_cardiaca == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
                  <td colspan="2" style="vertical-align:middle;">
                      {{form.ur_frecuencia_cardiaca_sv.errors}} {{form.ur_frecuencia_cardiaca_sv}}
                  </td>
              </tr>
              <tr>
                  <th style="vertical-align:middle;" >Frecuencia respiratoria</th>
                  <td>

                          <label  for="id_ur_frecuencia_respiratoria_1">
                            <input onclick="requerido('SI','id_ur_frecuencia_respiratoria_sv')" type="radio" name="ur_frecuencia_respiratoria" value="SI"  required id="id_ur_frecuencia_respiratoria_1" {% if object.ur_frecuencia_respiratoria == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_ur_frecuencia_respiratoria_2">
                            <input onclick="requerido('NO','id_ur_frecuencia_respiratoria_sv')" type="radio" name="ur_frecuencia_respiratoria" value="NO" required id="id_ur_frecuencia_respiratoria_2" {% if object.ur_frecuencia_respiratoria == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
                  <td colspan="2" style="vertical-align:middle;">
                      {{form.ur_frecuencia_respiratoria_sv.errors}} {{form.ur_frecuencia_respiratoria_sv}}
                  </td>
              </tr>
              <tr>
                  <th style="vertical-align:middle;" >Visoscopio</th>
                  <td>

                          <label  for="id_ur_visoscopio_1">
                            <input onclick="requerido('SI','id_ur_visoscopio_sv')" type="radio" name="ur_visoscopio" value="SI"  required id="id_ur_visoscopio_1" {% if object.ur_visoscopio == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_ur_visoscopio_2">
                            <input onclick="requerido('NO','id_ur_visoscopio_sv')" type="radio" name="ur_visoscopio" value="NO" required id="id_ur_visoscopio_2" {% if object.ur_visoscopio == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
                  <td colspan="2" style="vertical-align:middle;">
                      {{form.ur_visoscopio_sv.errors}} {{form.ur_visoscopio_sv}}
                  </td>
              </tr>
              <tr>
                  <th style="vertical-align:middle;" >Tensión arterial</th>
                  <td>

                          <label for="id_ur_tension_1">
                            <input onclick="requerido('SI','id_ur_tension_sv')" type="radio" name="ur_tension" value="SI"  required id="id_ur_tension_1" {% if object.ur_tension == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_ur_tension_2">
                            <input onclick="requerido('NO','id_ur_tension_sv')" type="radio" name="ur_tension" value="NO" required id="id_ur_tension_2" {% if object.ur_tension == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
                  <td colspan="2" style="vertical-align:middle;">
                      {{form.ur_tension_sv.errors}} {{form.ur_tension_sv}}
                  </td>
              </tr>
              </tbody>
            </table>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <table>
                <tbody>
                <tr>
                    <td><FONT SIZE="5">Monitoreo neurológico</FONT></td><td>{{form.monitoreo}}</td>
                </tr>
                <tr>
                    <td><FONT SIZE="2">En la estancia en la unidad de radiología</FONT></td>
                </tr>
                </tbody>
            </table>


            <br><br>
            <div id="eval" style="display:none">
                <table class="table table-hover">
              <tbody>
              <tr>
                  <th style="vertical-align:middle;" >{{form.pic.label}}</th>
                  <td>{{form.pic.errors}} {{form.pic}}</td >
                  <th style="vertical-align:middle;">{{form.ppc.label}}</th>
                  <td>{{form.ppc.errors}} {{form.ppc}}</td >
              </tr>
              <tr>
                  <th colspan="2" style="vertical-align:middle;" >Medicamentos de emergencia</th>
                  <td colspan="2">

                          <label  for="id_medicamentos_emergencia_1">
                            <input type="radio" name="medicamentos_emergencia" value="SI"  required id="id_medicamentos_emergencia_1" {% if object.medicamentos_emergencia == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_medicamentos_emergencia_2">
                            <input type="radio" name="medicamentos_emergencia" value="NO" required id="id_medicamentos_emergencia_2" {% if object.medicamentos_emergencia == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
              </tr>


                  <tr id="me">
                  <th style="vertical-align:middle;" >{{form.me_cual.label}}</th>
                  <td style="vertical-align:middle;">{{form.me_cual.errors}}{{form.me_cual}}</td>
                  <th style="vertical-align:middle;" >{{form.me_dosis.label}}</th>
                  <td style="vertical-align:middle;">{{form.me_dosis.errors}}{{form.me_dosis}}</td>
                </tr>

              </tbody>
            </table>
                <script>
                    document.getElementsByName("monitoreo")[0].addEventListener('change', evaluacion);

                        function evaluacion(){
                        var x=document.getElementsByName("monitoreo")[0].value;
                        if ( x == "SI" ){
                                document.getElementById("eval").style="display:inline";
                                document.getElementById("id_pic").required=true;
                                document.getElementById("id_ppc").required=true;
                                document.getElementById("me").style="display:none";

                        }else {
                           document.getElementById("eval").style="display:none";
                           document.getElementById("id_pic").value="";
                           document.getElementById("id_ppc").value="";
                           document.getElementById("id_medicamentos_emergencia_2").checked=true;
                           document.getElementById("id_me_cual").value="";
                           document.getElementById("id_me_dosis").value="";
                           document.getElementById("id_pic").required=false;
                           document.getElementById("id_ppc").required=false;
                        }

                        }

                </script>
                <script>
                    document.getElementsByName("medicamentos_emergencia")[0].addEventListener('change', memer);
                    document.getElementsByName("medicamentos_emergencia")[1].addEventListener('change', memer);

                        function memer(){
                        var x=document.getElementsByName("medicamentos_emergencia")[0].checked;
                        if ( x == true ){
                                document.getElementById("me").style="display:inline";
                                document.getElementById("id_me_cual").required=true;
                                document.getElementById("id_me_dosis").required=true;

                        }else {
                           document.getElementById("me").style="display:none";
                           document.getElementById("id_me_cual").value="";
                           document.getElementById("id_me_dosis").value="";
                           document.getElementById("id_me_cual").required=false;
                           document.getElementById("id_me_dosis").required=false;
                        }

                        }

                </script>
            </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <FONT SIZE="5">Monitoreo en resonancia</FONT>  &nbsp; &nbsp; &nbsp;  <FONT SIZE="2">Durante el procedimiento DTI/BOLD</FONT>
            <table class="table table-hover">
              <tbody>
              <tr>
                  <td colspan="2"></td>
                  <th class="text-primary">Dosis Total</th>
                  <th class="text-primary">Signos vitales</th>
              </tr>
              <tr>
                  <th style="vertical-align:middle;">Sedación</th>
                  <td>

                          <label  for="id_sedacion_1">
                            <input onclick="requerido('SI','id_sedacion_dt')" type="radio" name="sedacion" value="SI"  required id="id_sedacion_1" {% if object.sedacion == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_sedacion_2">
                            <input onclick="requerido('NO','id_ sedacion_dt')" type="radio" name="sedacion" value="NO" required id="id_sedacion_2"  {% if object.sedacion == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td>
                  <td>{{form.sedacion_dt.errors}} {{form.sedacion_dt}}</td>
                  <td>{{form.sedacion_sv.errors}} {{form.sedacion_sv}}</td>
              </tr>
              <tr>
                  <th style="vertical-align:middle;">Analgesia</th>
                  <td>

                          <label  for="id_analgesia_1">
                            <input onclick="requerido('SI','id_analgesia_dt')" type="radio" name="analgesia" value="SI"  required id="id_analgesia_1" {% if object.analgesia == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_analgesia_2">
                            <input onclick="requerido('NO','id_analgesia_dt')" type="radio" name="analgesia" value="NO" required id="id_analgesia_2" {% if object.analgesia == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td>
                  <td>{{form.analgesia_dt.errors}} {{form.analgesia_dt}}</td>
                  <td>{{form.analgesia_sv.errors}} {{form.analgesia_sv}}</td>
              </tr>
              <tr>
                  <th  rowspan="3">Relajación</th>
                  <td rowspan="3">

                          <label  for="id_relajacion_1">
                            <input onclick="requerido('SI','id_relajacion_dt')" type="radio" name="relajacion" value="SI"  required id="id_relajacion_1" {% if object.relajacion == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_relajacion_2">
                            <input onclick="requerido('NO','id_relajacion_dt')" type="radio" name="relajacion" value="NO" required id="id_relajacion_2" {% if object.relajacion == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td>
                  <td rowspan="3">{{form.relajacion_dt.errors}} {{form.relajacion_dt}}</td>
                  <td>{{form.relajacion_sv.errors}} {{form.relajacion_sv}}</td>
              </tr>
              <tr>
                  <td>{{form.svadicional1.errors}} {{form.svadicional1}}</td>
              </tr>

              <tr>
                  <td>{{form.svadicional2.errors}} {{form.svadicional2}}</td>
              </tr>
              <tr>
                  <th colspan="3" style="vertical-align:middle;">Otra medicación administrada durante el procedimiento</th>
                  <td>

                          <label  for="id_otra_medicacion_1">
                            <input type="radio" name="otra_medicacion" value="SI"  required id="id_otra_medicacion_1" {% if object.otra_medicacion == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_otra_medicacion_2">
                            <input type="radio" name="otra_medicacion" value="NO" required id="id_otra_medicacion_2"  {% if object.otra_medicacion == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td>
              </tr>
              <tr id="om" style="display:none">
                  <th style="vertical-align:middle;" >{{form.otra_medicacion_cual.label}}</th>
                  <td style="vertical-align:middle;">{{form.otra_medicacion_cual.errors}}{{form.otra_medicacion_cual}}</td>
                  <th style="vertical-align:middle;" >{{form.otra_medicacion_dt.label}}</th>
                  <td style="vertical-align:middle;">{{form.otra_medicacion_dt.errors}}{{form.otra_medicacion_dt}}</td>
              </tr>
              </tbody>
            </table>
            <script>
                    document.getElementsByName("otra_medicacion")[0].addEventListener('change', omemer);
                    document.getElementsByName("otra_medicacion")[1].addEventListener('change', omemer);

                        function omemer(){
                        var x=document.getElementsByName("otra_medicacion")[0].checked;
                        if ( x == true ){
                                document.getElementById("om").style="display:inline";
                                document.getElementById("id_otra_medicacion_cual").required=true;
                                document.getElementById("id_otra_medicacion_dt").required=true;

                        }else {
                           document.getElementById("om").style="display:none";
                           document.getElementById("id_otra_medicacion_cual").value="";
                           document.getElementById("id_otra_medicacion_dt").value="";
                           document.getElementById("id_otra_medicacion_cual").required=false;
                           document.getElementById("id_otra_medicacion_dt").required=false;
                        }

                        }

                </script>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <FONT SIZE="5">Monitoreo de transporte Radiología - UCI</FONT>  &nbsp; &nbsp; &nbsp;  <FONT SIZE="2">Druante la movilización</FONT>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th colspan="2" style="vertical-align:middle;" ></th>
                  <th class="text-primary" style="vertical-align:middle;" colspan="2">Signos vitales</th>
                </tr>
              <tr>
                  <th style="vertical-align:middle;" >Pulsoxímetro</th>
                  <td>

                          <label  for="id_ru_pulsoximetro_1">
                            <input onclick="requerido('SI','id_ru_pulsoximetro_sv')" type="radio" name="ru_pulsoximetro" value="SI"  required id="id_ru_pulsoximetro_1"  {% if object.ru_pulsoximetro == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_ru_pulsoximetro_2">
                            <input onclick="requerido('NO','id_ru_pulsoximetro_sv')" type="radio" name="ru_pulsoximetro" value="NO" required id="id_ru_pulsoximetro_2" {% if object.ru_pulsoximetro == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
                  <td colspan="2" style="vertical-align:middle;">
                      {{form.ru_pulsoximetro_sv.errors}} {{form.ru_pulsoximetro_sv}}
                  </td>
              </tr>
              <tr>
                  <th style="vertical-align:middle;" >Frecuencia cardíaca</th>
                  <td>

                          <label  for="id_ru_frecuencia_cardiaca_1">
                            <input onclick="requerido('SI','id_ru_frecuencia_cardiaca_sv')" type="radio" name="ru_frecuencia_cardiaca" value="SI"  required id="id_ru_frecuencia_cardiaca_1" {% if object.ru_frecuencia_cardiaca == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_ru_frecuencia_cardiaca_2">
                            <input onclick="requerido('NO','id_ru_frecuencia_cardiaca_sv')" type="radio" name="ru_frecuencia_cardiaca" value="NO" required id="id_ru_frecuencia_cardiaca_2" {% if object.ru_frecuencia_cardiaca == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
                  <td colspan="2" style="vertical-align:middle;">
                      {{form.ru_frecuencia_cardiaca_sv.errors}} {{form.ru_frecuencia_cardiaca_sv}}
                  </td>
              </tr>
              <tr>
                  <th style="vertical-align:middle;" >Frecuencia respiratoria</th>
                  <td>

                          <label  for="id_ru_frecuencia_respiratoria_1">
                            <input onclick="requerido('SI','id_ru_frecuencia_respiratoria_sv')" type="radio" name="ru_frecuencia_respiratoria" value="SI"  required id="id_ru_frecuencia_respiratoria_1" {% if object.ru_frecuencia_respiratoria == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_ru_frecuencia_respiratoria_2">
                            <input onclick="requerido('NO','id_ru_frecuencia_respiratoria_sv')" type="radio" name="ru_frecuencia_respiratoria" value="NO" required id="id_ru_frecuencia_respiratoria_2"  {% if object.ru_frecuencia_respiratoria == 'NO' %} checked="" {% endif %}/>NO
                          </label>

                  </td >
                  <td colspan="2" style="vertical-align:middle;">
                      {{form.ru_frecuencia_respiratoria_sv.errors}} {{form.ru_frecuencia_respiratoria_sv}}
                  </td>
              </tr>
              <tr>
                  <th style="vertical-align:middle;" >Visoscopio</th>
                  <td>

                          <label  for="id_ru_visoscopio_1">
                            <input onclick="requerido('SI','id_ru_visoscopio_sv')" type="radio" name="ru_visoscopio" value="SI"  required id="id_ru_visoscopio_1" {% if object.ru_visoscopio == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_ru_visoscopio_2">
                            <input onclick="requerido('NO','id_ru_visoscopio_sv')" type="radio" name="ru_visoscopio" value="NO" required id="id_ru_visoscopio_2" {% if object.ru_visoscopio == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
                  <td colspan="2" style="vertical-align:middle;">
                      {{form.ru_visoscopio_sv.errors}} {{form.ru_visoscopio_sv}}
                  </td>
              </tr>
              <tr>
                  <th style="vertical-align:middle;" >Tensión arterial</th>
                  <td>

                          <label  for="id_ru_tension_1">
                            <input onclick="requerido('SI','id_ru_tension_sv')" type="radio" name="ru_tension" value="SI"  required id="id_ru_tension_1" {% if object.ru_tension == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_ru_tension_2">
                            <input onclick="requerido('NO','id_ru_tension_sv')" type="radio" name="ru_tension" value="NO" required id="id_ru_tension_2" {% if object.ru_tension == 'NO' %} checked="" {% endif %} />NO
                          </label>

                  </td >
                  <td colspan="2" style="vertical-align:middle;">
                      {{form.ru_tension_sv.errors}} {{form.ru_tension_sv}}
                  </td>
              </tr>
              </tbody>
            </table>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-hover">
              <tbody>
              <tr>
                <th style="vertical-align:middle;">{{form.tiempo_sesonacia.label}}</th>
                <td>{{form.tiempo_sesonacia.errors}}
                <input maxlength="3" type="text" oninput="this.value = this.value.replace(/[^0-9]/, '')" name="tiempo_sesonacia" required id="id_tiempo_sesonacia" placeholder="Tiempo en minutos" class="form-control" {% if object.tiempo_sesonacia != None %} value="{{object.tiempo_sesonacia}}" {% endif %}/>
                </td>
                <th>{{form.hora_llegada.label}}</th>
                <td>{{form.hora_llegada.errors}}
                    <input type="time" step = "60" name="hora_llegada" value="{{object.hora_llegada}}" class="form-control"  id="id_hora_llegada" required/>

                    {% if object.hora_llegada == None %}<a onclick="horaactual()">hora actual</a> {% endif %}
                    <script>
                        document.getElementsByName("hora_inicio")[0].addEventListener('change', hora);
                        function hora(){
                        var hi=document.getElementById("id_hora_inicio").value;
                        var hf=document.getElementById("id_hora_llegada").value;
                        var hfmin=document.getElementById("id_hora_llegada").min=hi;
                        if ( hf > hi ){
                            document.getElementById("id_hora_llegada").value="";
                        }

                        }

                    </script>
                    <script>
                        function horaactual(){
                        var today = new Date();
                        var hh = today.getHours();
                        var min = today.getMinutes();
                        if(hh<10){
                            hh='0'+hh
                        }
                        if(min<10){
                            min='0'+min
                        }
                        hora =  hh+":"+min;
                        document.getElementById("id_hora_llegada").value=hora;
                        }

                    </script>
                </td>

            </tr>
            <tr>
                <th>Complicaciones derivadas del transporte</th>
                <td>

                          <label  for="id_complicaciones_1">
                            <input type="radio" name="complicaciones" value="SI"  required id="id_complicaciones_1" {% if object.complicaciones == 'SI' %} checked="" {% endif %} />SI
                          </label>
                          <label  for="id_complicaciones_2">
                            <input type="radio" name="complicaciones" value="NO" required id="id_complicaciones_2" {% if object.complicaciones == 'NO' %} checked="" {% endif %} />NO
                          </label>

                </td>

                <th><label id="comp" {% if object.complicaciones_cuales == None %} style="display:none" {% endif %}>{{form.complicaciones_cuales.label}}</label></th>
                <td>{{form.complicaciones_cuales.errors}}
                    <input class="form-control" maxlength="20" name="complicaciones_cuales" id="id_complicaciones_cuales" {% if object.complicaciones_cuales == None %} style="display:none" {% else %} required value="{{object.complicaciones_cuales}}" {% endif %}>
                </td>
            </tr>
              </tbody>
            </table>
        </div>

    <div class="col-md-8 col-md-offset-2">
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>

    </div>
</form>
<br>
<br>
{% endblock %}
{% block extrajs %}
<script>
document.getElementsByName("complicaciones")[0].addEventListener('change', complicaciones);
document.getElementsByName("complicaciones")[1].addEventListener('change', complicaciones);
    function complicaciones(){
    var x=document.getElementById("id_complicaciones_1").checked;
    if ( x == true ){
        document.getElementById("id_complicaciones_cuales").style="display:inline";
        document.getElementById("comp").style="display:inline";
        document.getElementById("id_complicaciones_cuales").required=true;
    }  else{
        document.getElementById("id_complicaciones_cuales").style="display:none";
        document.getElementById("comp").style="display:none";

        document.getElementById("id_complicaciones_cuales").required=false;
        document.getElementById("id_complicaciones_cuales").value="";

    }

    }

</script>
<script>
    function requerido(a,b){
    var campo=document.getElementById(b);
    if ( a == 'SI'){
    campo.required=true;
    }
    else {
    campo.required=false;
    }
    }
</script>
{% endblock %}