{% extends 'base/base.html' %}

{% block title %} Formulario Paciente {% endblock %}
{% block content %}
{% if not perms.paciente.add_seguimiento %}
<script type="text/javascript">
        window.location="{% url 'paciente_listar' %}";
</script>
{% endif %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success">
    {{ message }}
  </div>
    {% endfor %}
</ul>
{% endif %}

<form method="post">
    {% csrf_token %}

    <div class="row">


        <div class="col-md-8 col-md-offset-2">
                {% if form.errors %}
                    <!-- Error messaging -->
                    <div id="errors">
                        <div class="inner">
                            <p>There were some errors in the information you entered. Please correct the following:</p>
                            {{ form.non_field_errors }}
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /Error messaging -->
                {% endif %}
        </div>



        <div class="col-md-8 col-md-offset-2">
                <h1>Seguimiento Diario UCI Sujeto#{{ object.candidato.sujeto_numero|stringformat:"04d" }}</h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-hover">
              <tbody>
                <tr class="table-active">
                  <th style="vertical-align:middle;">{{form.fechaseguimiento.label}}</th>
                    <td style="vertical-align:middle;">
                        {{ form.fechaseguimiento.errors }}
                        <input class="form-control"  min="{{object.candidato.uci.fechauci|date:'Y-m-d'}}" max="{{object.fechaseguimiento|date:'Y-m-d'}}" required name="fechaseguimiento" type="date" placeholder="Elegir fecha" id="id_fechauci" value="{{object.fechaseguimiento|date:'Y-m-d'}}">
                    </td>
                    <th>{{form.medico_responsable.label}}</th>
                    <td>{{form.medico_responsable}}</td>
                </tr>
                <tr>
                    <th colspan="2">Glasgow</th>
                    <th colspan="2">{{form.glasgowtotal.label}}</th>
                </tr>
                <tr>
                    <td>{{form.apertura_ocular.label}}</td>
                    <td>

                 {% for o in "1234"|make_list %}
                    <label onclick="sumar({{o}},'ocular')"  for="id_apertura_ocular_{{o}}">
                    <input type="radio" name="apertura_ocular" value="{{o}}"  required id="id_apertura_ocular_{{o}}"  {% if object.apertura_ocular == o %} checked="" {% endif %} />{{o}}
                  </label>
                  {% endfor %}
                  {{form.apertura_ocular.errors}}

                    </td>
                    <td colspan="2" colrow="3" style="vertical-align:middle;">
                    <input type="text" readonly name="glasgowtotal" placeholder="" size="3" required class="form-control" maxlength="3" id="id_glasgowtotal" value="{{object.glasgowtotal}}"/>
                    </td>
                </tr>
                <tr>
                    <td>{{form.respuesta_motora.label}}</td>
                    <td>

                          {% for o in "123456"|make_list %}
                            <label onclick="sumar({{o}},'motora')"  for="id_respuesta_motora_{{o}}">
                            <input type="radio" name="respuesta_motora" value="{{o}}"  required id="id_respuesta_motora_{{o}}"  {% if object.respuesta_motora == o %} checked="" {% endif %} />{{o}}
                          </label>
                          {% endfor %}
                          {{forms.respuesta_motora.errors}}

                    </td>
                </tr>
                <tr>
                    <td>{{form.respuesta_verbal.label}}</td>
                    <td>

                          {% for o in "12345"|make_list %}
                            <label onclick="sumar({{o}},'verbal')" for="id_respuesta_verbal_{{o}}">
                            <input type="radio" name="respuesta_verbal" value="{{o}}"  required id="id_respuesta_verbal_{{o}}"  {% if object.respuesta_verbal == o %} checked="" {% endif %} />{{o}}
                          </label>
                          {% endfor %}
                          {{forms.respuesta_verbal.errors}}

                    </td>
                </tr>
                <tr>
                    <th style="vertical-align:middle;">{{form.fallaorganica.label}}</th>
                    <td style="vertical-align:middle;">
                        <p><select name="fallaorganica" id="id_fallaorganica" required onchange="campo('id_fallaorganica_cual','falla','id_fallaorganica')">


                        <option  value="SI" {% if object.fallaorganica == "SI" %} selected {% endif %}>SI</option>

                        <option  value="NO" {% if object.fallaorganica == "NO" %} selected {% endif %} >NO</option>

                        </select></p>
                        {{forms.fallaorganica.errors}}


                    </td>
                    <th style="vertical-align:middle;"><label {% if object.fallaorganica == "NO" %} style="visibility:hidden" {% endif %}  id="falla">{{form.fallaorganica_cual.label}}</label></th>
                    <td style="vertical-align:middle;"><input {% if object.fallaorganica == "NO" %} type="hidden" {% endif %} name="fallaorganica_cual" required class="form-control" maxlength="70" id="id_fallaorganica_cual" value="{{object.fallaorganica_cual}}"/></td>
                    
                </tr>
                <tr>
                    <th style="vertical-align:middle;">{{form.infeccion.label}}</th>
                    <td style="vertical-align:middle;">
                        <p><select name="infeccion" id="id_infeccion" required onchange="campo('id_infeccion_foco','infeccion','id_infeccion')">


                        <option  value="SI" {% if object.infeccion == "SI" %} selected {% endif %} >SI</option>

                        <option  value="NO" {% if object.infeccion == "NO" %} selected {% endif %}>NO</option>

                        </select></p>
                        {{forms.infeccion.errors}}


                    </td>
                    <th style="vertical-align:middle;"><label {% if object.infeccion == "NO" %} style="visibility:hidden" {% endif %} id="infeccion">{{form.infeccion_foco.label}}</label></th>
                    <td style="vertical-align:middle;"><input {% if object.infeccion == "NO" %} type="hidden" {% endif %} value="{{object.infeccion_foco}}" name="infeccion_foco" required class="form-control" maxlength="70" id="id_infeccion_foco" /></td>
                    
                </tr>
                <tr>
                    <th style="vertical-align:middle;">{{form.parada.label}}</th>
                    <td style="vertical-align:middle;">
                        <p><select name="parada" id="id_parada" required onchange="campo('id_parada_tiempo','parada','id_parada')">


                        <option  value="SI" {% if object.parada == "SI" %} selected {% endif %} >SI</option>

                        <option  value="NO" {% if object.parada == "NO" %} selected {% endif %}>NO</option>

                        </select></p>
                        {{forms.parada.errors}}


                    </td>
                    <th style="vertical-align:middle;"><label {% if object.parada == "NO" %} style="visibility:hidden" {% endif %} id="parada">{{form.parada_tiempo.label}}</label></th>
                    <td style="vertical-align:middle;"><input {% if object.parada == "NO" %} type="hidden" {% endif %} value="{{object.parada_tiempo}}" name="parada_tiempo" required class="form-control" maxlength="2" oninput="this.value = this.value.replace(/[^0-9]/, '')" max="99" id="id_parada_tiempo" /></td>

                    
                </tr>
              <tr>
                    <th style="vertical-align:middle;">{{form.pic.label}}</th>
                    <td style="vertical-align:middle;">
                        <p><select name="pic" id="id_pic" required onchange="campo('id_pic_numero','pic','id_pic')">


                        <option  value="SI" {% if object.pic == "SI" %} selected {% endif %} >SI</option>

                        <option  value="NO" {% if object.pic == "NO" %} selected {% endif %}>NO</option>

                        </select></p>
                        {{forms.pic.errors}}


                    </td>
                    <th style="vertical-align:middle;"><label {% if object.pic == "NO" %} style="visibility:hidden" {% endif %} id="pic">{{form.pic_numero.label}}</label></th>
                    <td style="vertical-align:middle;"><input {% if object.pic == "NO" %} type="hidden" {% endif %} value="{{object.pic_numero}}" name="pic_numero" required class="form-control" maxlength="2" oninput="this.value = this.value.replace(/[^0-9]/, '')" max="99" id="id_pic_numero" /></td>

                    
                </tr>
              <tr>
                    <th style="vertical-align:middle;">{{form.ventilacion.label}}</th>
                    <td colspan="3" style="vertical-align:middle;">
                        <p><select name="ventilacion" id="id_ventilacion" required >


                        <option  value="SI" {% if object.ventilacion == "SI" %} selected {% endif %} >SI</option>

                        <option  value="NO" {% if object.ventilacion == "NO" %} selected {% endif %}>NO</option>

                        </select></p>
                        {{forms.ventilacion.errors}}


                    </td>

                    
                </tr>
              <tr>
                    <th style="vertical-align:middle;">{{form.soporte.label}}</th>
                    <td style="vertical-align:middle;">
                        <p><select name="soporte" id="id_soporte" required onchange="campo('id_soporte_cual','soporte','id_soporte')">


                        <option  value="SI" {% if object.soporte == "SI" %} selected {% endif %} >SI</option>

                        <option  value="NO" {% if object.soporte == "NO" %} selected {% endif %}>NO</option>

                        </select></p>
                        {{forms.soporte.errors}}


                    </td>
                    <th style="vertical-align:middle;"><label {% if object.soporte == "NO" %} style="visibility:hidden" {% endif %} id="soporte">{{form.soporte_cual.label}}</label></th>
                    <td style="vertical-align:middle;"><input {% if object.soporte == "NO" %} type="hidden" {% endif %} value="{{object.soporte_cual}}" name="soporte_cual" required maxlength="200" class="form-control" id="id_soporte_cual" /></td>

                    
                </tr>
                
                <tr>
                    <th style="vertical-align:middle;">{{form.neuroimagen.label}}</th>
                    <td style="vertical-align:middle;">
                        <p><select name="neuroimagen" id="id_neuroimagen" required onchange="campo('id_imgobservacion','neuroimagen','id_neuroimagen')">


                        <option  value="SI" {% if object.neuroimagen == "SI" %} selected {% endif %} >SI</option>

                        <option  value="NO" {% if object.neuroimagen == "NO" %} selected {% endif %}>NO</option>

                        </select></p>

                        {{form.neuroimagen.errors}}


                    </td>
                    <th style="vertical-align:middle;"><label {% if object.neuroimagen == "NO" %} style="visibility:hidden" {% endif %} id="neuroimagen">{{form.imgobservacion.label}}</label></th>
                    <td style="vertical-align:middle;"><input {% if object.neuroimagen == "NO" %} type="hidden" {% endif %} value="{{object.imgobservacion}}" name="imgobservacion" required maxlength="100" class="form-control" id="id_imgobservacion" /></td>

                </tr>

                <tr>
                    <th style="vertical-align:middle;">{{form.neurologia.label}}</th>
                    <td style="vertical-align:middle;" colspan="3">
                        <p><select name="neurologia" id="id_neurologia" required >


                        <option  value="SI" {% if object.fallaorganica == "SI" %} selected {% endif %} >SI</option>

                        <option  value="NO" {% if object.fallaorganica == "NO" %} selected {% endif %} >NO</option>

                        </select></p>
                        {{forms.neurologia.errors}}


                    </td>

                    
                </tr>


                <tr>
                    <th style="vertical-align:middle;">{{form.midazolam.label}}</th>
                    <td style="vertical-align:middle;">
                        <input type="text" name="midazolam" required value="0" class="form-control" maxlength="20"  id="id_midazolam" />
                        {{forms.midazolam.errors}}
                    </td>
                    <th style="vertical-align:middle;">{{form.dexmedeto.label}}</th>
                    <td style="vertical-align:middle;">
                        <input type="text" name="dexmedeto" required value="0" class="form-control" maxlength="20"  id="id_dexmedeto" />
                        {{forms.dexmedeto.errors}}
                    </td>
                    

                </tr>
                
                <tr>
                    <th style="vertical-align:middle;">{{form.fentanyl.label}}</th>
                    <td style="vertical-align:middle;">
                        <input type="text" name="fentanyl" required value="0" class="form-control" maxlength="20"  id="id_fentanyl" />
                        {{forms.fentanyl.errors}}
                    </td>
                    <th style="vertical-align:middle;">{{form.tiopental.label}}</th>
                    <td style="vertical-align:middle;">
                        <input type="text" name="tiopental" required value="0" class="form-control" maxlength="20"  id="id_tiopental" />
                        {{forms.tiopental.errors}}
                    </td>
                    

                </tr>
                <tr>
                    <th style="vertical-align:middle;">{{form.vecuronio.label}}</th>
                    <td style="vertical-align:middle;">
                        <input type="text" name="vecuronio" required value="0" class="form-control" maxlength="20"  id="id_vecuronio" />
                        {{forms.vecuronio.errors}}
                    </td>
                    
                    

                </tr>


              </tbody>
            </table>

            <label>Añadir Medicamento </label><button id="bntadd" type="button" class="btn btn-link" onclick="add()"><span class="glyphicon glyphicon-plus" style="color:green" ></span></button>


            <table class="table table-hover">
                <tbody>
                <tr id="otro1" style="display:none">
                    <td>{{form.otro1_nombre.label}}</td>
                    <td>{{form.otro1_nombre}}</td>
                    <td>{{form.otro1_dt.label}}</td>
                    <td>{{form.otro1_dt}}</td>
                </tr>
                <tr id="otro2" style="display:none">
                    <td>{{form.otro2_nombre.label}}</td>
                    <td>{{form.otro2_nombre}}</td>
                    <td>{{form.otro2_dt.label}}</td>
                    <td>{{form.otro2_dt}}</td>
                </tr>
                </tbody>

            </table>

        </div>


    <div class="col-md-8 col-md-offset-2">
        <button class="btn btn-primary" type="submit">Guardar</button>
          
    </div>

    </div>
</form>


<br>
<br>
{% endblock %}
{% block extrajs %}


<script>
function sumar(a,b) {
    var ao1 =document.getElementById("id_apertura_ocular_1").checked ;
    var ao2 =document.getElementById("id_apertura_ocular_2").checked ;
    var ao3 =document.getElementById("id_apertura_ocular_3").checked ;
    var ao4 =document.getElementById("id_apertura_ocular_4").checked ;
    var rm1 =document.getElementById("id_respuesta_motora_1").checked ;
    var rm2 =document.getElementById("id_respuesta_motora_2").checked ;
    var rm3 =document.getElementById("id_respuesta_motora_3").checked ;
    var rm4 =document.getElementById("id_respuesta_motora_4").checked ;
    var rm5 =document.getElementById("id_respuesta_motora_5").checked ;
    var rm6 =document.getElementById("id_respuesta_motora_6").checked ;
    var rv1 =document.getElementById("id_respuesta_verbal_1").checked ;
    var rv2 =document.getElementById("id_respuesta_verbal_2").checked ;
    var rv3 =document.getElementById("id_respuesta_verbal_3").checked ;
    var rv4 =document.getElementById("id_respuesta_verbal_4").checked ;
    var rv5 =document.getElementById("id_respuesta_verbal_5").checked ;
    var total=0;
    if (b == 'ocular') {
    total = total+a+rm1*1+rm2*2+rm3*3+rm4*4+rm5*5+rm6*6+rv1*1+rv2*2+rv3*3+rv4*4+rv5*5;
    }
    if (b == 'motora') {
    total = total+a+ao1*1+ao2*2+ao3*3+ao4*4+rv1*1+rv2*2+rv3*3+rv4*4+rv5*5;
    }
    if (b == 'verbal') {
    total = total+a+ao1*1+ao2*2+ao3*3+ao4*4+rm1*1+rm2*2+rm3*3+rm4*4+rm5*5+rm6*6;
    }
    document.getElementById("id_glasgowtotal").value = total;
}
</script>

<script>
function campo(a,b,c) {
    var x=document.getElementById(a);
    var y=document.getElementById(b);
    var z=document.getElementById(c).value;
    if (z == 'SI') {
        x.class='form-control';
        x.type='text';
        x.value="";
        y.style="visibility:inline";
    } else {
        x.class='form-control';
        x.type='hidden';
        y.style="visibility:hidden";
        x.value="";
    }

}

function add() {
    primero = document.getElementById("id_otro1_nombre").required ;
    segundo = document.getElementById("id_otro2_nombre").required ;
    if ( primero == false ) {
        document.getElementById("otro1").style="display:onblock";
        document.getElementById("id_otro1_nombre").required=true;
        document.getElementById("id_otro1_dt").required=true;
    } else if ( primero == true && segundo == false ){
        document.getElementById("otro2").style="display:onblock";
        document.getElementById("id_otro2_nombre").required=true;
        document.getElementById("id_otro2_dt").required=true;
        document.getElementById("bntadd").disabled=true;
    }
}

</script>

<script>

    if ("{{object.otro1_nombre}}" != "None" && "{{object.otro1_nombre}}" != "" ){
        document.getElementById("otro1").style="display:onblock";
        document.getElementById("id_otro1_nombre").required=true;
        document.getElementById("id_otro1_dt").required=true;
    }
    if ("{{object.otro2_nombre}}" != "None" && "{{object.otro2_nombre}}" != "" ){
        document.getElementById("otro2").style="display:onblock";
        document.getElementById("id_otro2_nombre").required=true;
        document.getElementById("id_otro2_dt").required=true;
        document.getElementById("bntadd").disabled=true;
    }
</script>


{% endblock %}
