{% extends 'base/base.html' %}

{% block title %} Formulario Paciente {% endblock %}
{% block content %}
{% if user.groups.all.0.name == 'Consultor' or object.fechaegreso != None %}
<script type="text/javascript">
        window.location="{% url 'paciente_listar' %}";
</script>
{% endif %}

<form method="post">
    {% csrf_token %}

    <div class="row">


        <div class="col-md-8 col-md-offset-2">
                {% if form.errors %}
                    <!-- Error messaging -->
                    <div id="errors">
                        <div class="inner">
                            <p>There were some errors in the information you entered. Please correct the following:</p>
                            {{ form.non_field_errors }}
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /Error messaging -->
                {% endif %}
        </div>



        <div class="col-md-8 col-md-offset-2">
                <h1>Formulario UCI Sujeto#{{ object.candidato.sujeto_numero|stringformat:"04d" }}</h1>

                <h3 {% if object.fechauci != None %} style="display:none" {% endif%}>Seguimiento Unidad de Cuidados intensivos (>48hrs post ingreso)</h3>

        </div>
        <div class="col-md-8 col-md-offset-2" {% if object.fechauci != None %} style="display:none" {% endif%}>
            <table class="table table-hover">
              <tbody>
                <tr class="table-active">
                  <th style="vertical-align:middle;">{{form.fechauci.label}}</th>
                    <td style="vertical-align:middle;">
                        {{ form.fechauci.errors }}
                        <input class="form-control"  min="{{object.candidato.fecha_de_registro|date:'Y-m-d'}}" max="2020-12-31" required name="fechauci" type="date" placeholder="Elegir fecha" id="id_fechauci" value="{{object.fechauci|date:'Y-m-d'}}">
                    </td>
                    <th style="vertical-align:middle;">{{form.horauci.label}}</th>
                    <td style="vertical-align:middle;">
                        {{ form.horauci.errors }}
                        <input type="time" step = "60" name="horauci" value="{{object.horauci}}" class="form-control"  id="id_horauci" required />
                    </td>

                </tr>
                <tr>
                    <th colspan="2">Glasgow de seguimiento</th>
                    <th colspan="2">{{form.glasgowtotal.label}}</th>
                </tr>
                <tr>
                    <td>{{form.apertura_ocular.label}}</td>
                    <td>

                 {% for o in "1234"|make_list %}
                    <label onclick="sumar({{o}},'ocular')"  for="id_apertura_ocular_{{o}}">
                    <input type="radio" name="apertura_ocular" value="{{o}}"  required id="id_apertura_ocular_{{o}}"  {% if object.apertura_ocular == o %} checked="" {% endif %} />{{o}}
                  </label>
                  {% endfor %}
                  {{forms.apertura_ocular.errors}}

                    </td>
                    <td colspan="2" colrow="3" style="vertical-align:middle;">
                    <input type="text" readonly name="glasgowtotal" placeholder="" size="3" required class="form-control" maxlength="3" id="id_glasgowtotal" value="{{object.glasgowtotal}}"/>
                    </td>
                </tr>
                <tr>
                    <td>{{form.respuesta_motora.label}}</td>
                    <td>

                          {% for o in "123456"|make_list %}
                            <label onclick="sumar({{o}},'motora')"  for="id_respuesta_motora_{{o}}">
                            <input type="radio" name="respuesta_motora" value="{{o}}"  required id="id_respuesta_motora_{{o}}"  {% if object.respuesta_motora == o %} checked="" {% endif %} />{{o}}
                          </label>
                          {% endfor %}
                          {{forms.respuesta_motora.errors}}

                    </td>
                </tr>
                <tr>
                    <td>{{form.respuesta_verbal.label}}</td>
                    <td>

                          {% for o in "12345"|make_list %}
                            <label onclick="sumar({{o}},'verbal')" for="id_respuesta_verbal_{{o}}">
                            <input type="radio" name="respuesta_verbal" value="{{o}}"  required id="id_respuesta_verbal_{{o}}"  {% if object.respuesta_verbal == o %} checked="" {% endif %} />{{o}}
                          </label>
                          {% endfor %}
                          {{forms.respuesta_verbal.errors}}

                    </td>
                </tr>
                <tr>
                    <th style="vertical-align:middle;">{{form.fallaorganica.label}}</th>
                    <td style="vertical-align:middle;">
                        <p><select name="fallaorganica" id="id_fallaorganica" onchange="falla()" required>

                        <option value="" >---------</option>
                        <option value="SI"  {% if object.fallaorganica == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.fallaorganica == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                        {{forms.fallaorganica.errors}}


                    </td>
                    <th style="vertical-align:middle;"><label {% if object.fallaorganica == 'SI'%} style="visibility:inline" {% else %} style="visibility:hidden" {% endif %}  id="falla">{{form.fallaorganica_cual.label}}</label></th>
                    <td style="vertical-align:middle;"><input {% if object.fallaorganica == 'SI'%} type="text" value="{{object.fallaorganica_cual}}" {% else %} type="hidden" {% endif %} name="fallaorganica_cual" placeholder="" required class="form-control" maxlength="20" id="id_fallaorganica_cual" /></td>
                </tr>
              <tr>
                  <th style="vertical-align:middle;">{{form.sepsis.label}}</th>
                  <td style="vertical-align:middle;">
                      <p><select name="sepsis" id="id_sepsis" required>

                        <option value="" >---------</option>
                        <option  value="SI"  {% if object.sepsis == 'SI' %} selected {% endif %}>SI</option>

                        <option  value="NO"  {% if object.sepsis == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                        {{forms.sepsis.errors}}
                  </td>
                  <th style="vertical-align:middle;">{{form.presion_intracraneana.label}}</th>
                  <td style="vertical-align:middle;">
                      <p><select name="presion_intracraneana" id="id_presion_intracraneana" required>
                        <option value="" >---------</option>

                        <option  value="SI"  {% if object.presion_intracraneana == 'SI' %} selected {% endif %}>SI</option>

                        <option  value="NO" {% if object.presion_intracraneana == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                        {{forms.presion_intracraneana.errors}}
                  </td>
              </tr>
              <tr>
                  <th style="vertical-align:middle;">{{form.monitoria_pic.label}}</th>
                  <td style="vertical-align:middle;">
                      <p><select name="monitoria_pic" id="id_monitoria_pic" required>
                        <option value="" >---------</option>

                        <option  value="SI"  {% if object.monitoria_pic == 'SI' %} selected {% endif %}>SI</option>

                        <option  value="NO" {% if object.monitoria_pic == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                        {{forms.monitoria_pic.errors}}
                  </td>
                  <th style="vertical-align:middle;">{{form.ventilacionmecanica.label}}</th>
                  <td style="vertical-align:middle;">
                      <p><select name="ventilacionmecanica" id="id_ventilacionmecanica" required>
                        <option value="" >---------</option>

                        <option  value="SI"  {% if object.ventilacionmecanica == 'SI' %} selected {% endif %}>SI</option>

                        <option  value="NO" {% if object.ventilacionmecanica == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                        {{forms.ventilacionmecanica.errors}}
                  </td>
              </tr>
              <tr>
                  <th style="vertical-align:middle;">{{form.soportevasopresor.label}}</th>
                  <td style="vertical-align:middle;">
                      <p><select name="soportevasopresor" id="id_soportevasopresor" required onchange="soporte()">
                        <option value="" >---------</option>

                        <option value="SI"  {% if object.soportevasopresor == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.soportevasopresor == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                        {{forms.soportevasopresor.errors}}

                  </td>




                  <th colspan="2" style="vertical-align:middle;">
                      <table>
                          <tbody>
                          <tr>
                              <th style="vertical-align:middle;"><label {% if object.soportevasopresor == 'SI' %} style="display:inline" {% else %} style="display:none" {% endif %}  id="vaso1">{{form.noradrenalina.label}}</label></th>
                              <td style="vertical-align:middle;">

                                    <label  {% if object.soportevasopresor == 'SI'%} style="display:inline" {% else %} style="display:none" {% endif %}  id="vaso1si"  >
                                    <input  {% if object.soportevasopresor == 'SI'%} required style="display:inline" {% else %} style="display:none" {% endif %} name="noradrenalina" value="SI"   id="id_noradrenalina_1" type="radio" {% if object.noradrenalina == 'SI' %} checked="" {% endif %} />SI
                                    </label>
                                    <label  {% if object.soportevasopresor == 'SI'%} style="display:inline" {% else %} style="display:none" {% endif %}  id="vaso1no" for="id_noradrenalina_2">
                                    <input  {% if object.soportevasopresor == 'SI'%} required style="display:inline" {% else %} style="display:none" {% endif %}  name="noradrenalina" value="NO"   id="id_noradrenalina_2"  type="radio" {% if object.noradrenalina == 'NO' %} checked="" {% endif %} />NO
                                    </label>
                                  {{forms.noradrenalina.errors}}


                              </td>
                          </tr>
                          <tr>
                              <th style="vertical-align:middle;"><label {% if object.soportevasopresor == 'SI'%} style="display:inline" {% else %} style="display:none" {% endif %}  id="vaso2">{{form.vasopresina.label}}</label></th>
                              <td style="vertical-align:middle;">

                                    <label  {% if object.soportevasopresor == 'SI'%} style="display:inline" {% else %} style="display:none" {% endif %}  id="vaso2si" for="id_vasopresina_1">
                                    <input{% if object.soportevasopresor == 'SI'%} required style="display:inline" {% else %} style="none" {% endif %} name="vasopresina" value="SI"   id="id_vasopresina_1"  type="radio" {% if object.vasopresina == 'SI' %} checked="" {% endif %} />SI
                                    </label>
                                    <label  {% if object.soportevasopresor == 'SI'%} style="display:inline" {% else %} style="display:none" {% endif %}  id="vaso2no" for="id_vasopresina_2">
                                    <input {% if object.soportevasopresor == 'SI'%} required style="display:inline" {% else %} style="none" {% endif %}  name="vasopresina" value="NO"   id="id_vasopresina_2"  type="radio" {% if object.vasopresina == 'NO' %} checked="" {% endif %} />NO
                                    </label>
                                  {{forms.vasopresina.errors}}


                              </td>
                          </tr>
                          <tr>
                              <th style="vertical-align:middle;"><label {% if object.soportevasopresor == 'SI'%} style="display:inline" {% else %} style="display:none" {% endif %}  id="vaso3">{{form.adrenalina.label}}</label></th>
                              <td style="vertical-align:middle;">

                                    <label  {% if object.soportevasopresor == 'SI'%} style="display:inline" {% else %} style="display:none" {% endif %}  id="vaso3si" for="id_adrenalina_1">
                                    <input {% if object.soportevasopresor == 'SI'%} required style="display:inline" {% else %} style="none" {% endif %} name="adrenalina" value="SI"   id="id_adrenalina_1"  type="radio" {% if object.adrenalina == 'SI' %} checked="" {% endif %} />SI
                                    </label>
                                    <label  {% if object.soportevasopresor == 'SI'%} style="display:inline" {% else %} style="display:none" {% endif %}  id="vaso3no" for="id_adrenalina_2">
                                    <input {% if object.soportevasopresor == 'SI'%} required style="display:inline" {% else %} style="none" {% endif %}  name="adrenalina" value="NO"   id="id_adrenalina_2"  type="radio" {% if object.adrenalina == 'NO' %} checked="" {% endif %} />NO
                                    </label>
                                  {{forms.adrenalina.errors}}


                              </td>
                          </tr>

                          </tbody>
                      </table>
                  </th>

              </tr>
              <tr>
                  <th style="vertical-align:middle;" rowspan="3">SEDACIÓN</th>
                  <td style="vertical-align:middle;" >{{form.midazolan.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="midazolan" id="id_midazolan" required onchange="campo('id_midazolan_dt','id_midazolan')">

                        <option value="SI"  {% if object.midazolan == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.midazolan == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="midazolan_dt" id="id_midazolan_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.midazolan_dt != None %} value="{{object.midazolan_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>
              <tr>

                  <td style="vertical-align:middle;" >{{form.tiopental.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="tiopental" id="id_tiopental" required onchange="campo('id_tiopental_dt','id_tiopental')">


                        <option value="SI"  {% if object.tiopental == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.tiopental == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="tiopental_dt" id="id_tiopental_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.tiopental_dt != None %} value="{{object.tiopental_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>
              <tr>

                  <td style="vertical-align:middle;" >{{form.dexmedetomidina.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="dexmedetomidina" id="id_dexmedetomidina" required onchange="campo('id_dexmedetomidina_dt','id_dexmedetomidina')">


                        <option value="SI"  {% if object.dexmedetomidina == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.dexmedetomidina == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="dexmedetomidina_dt" id="id_dexmedetomidina_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.dexmedetomidina_dt != None %} value="{{object.dexmedetomidina_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>
              <tr>
                  <th style="vertical-align:middle;" rowspan="3">ANALGESIA</th>
                  <td style="vertical-align:middle;" >{{form.morfina.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="morfina" id="id_morfina" required onchange="campo('id_morfina_dt','id_morfina')">
                        

                        <option value="SI"  {% if object.morfina == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.morfina == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="morfina_dt" id="id_morfina_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.morfina_dt != None %} value="{{object.morfina_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>
              <tr>

                  <td style="vertical-align:middle;" >{{form.hidromorfona.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="hidromorfona" id="id_hidromorfona" required onchange="campo('id_hidromorfona_dt','id_hidromorfona')">


                        <option value="SI"  {% if object.hidromorfona == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.hidromorfona == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="hidromorfona_dt" id="id_hidromorfona_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.hidromorfona_dt != None %} value="{{object.hidromorfona_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>
              <tr>

                  <td style="vertical-align:middle;" >{{form.fentanyl.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="fentanyl" id="id_fentanyl" required onchange="campo('id_fentanyl_dt','id_fentanyl')">


                        <option value="SI"  {% if object.fentanyl == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.fentanyl == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="fentanyl_dt" id="id_fentanyl_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.fentanyl_dt != None %} value="{{object.fentanyl_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>


              <tr>
                  <th style="vertical-align:middle;" rowspan="5">ANTICONVULSIVANTES</th>
                  <td style="vertical-align:middle;" >{{form.fenitoina.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="fenitoina" id="id_fenitoina" required onchange="campo('id_fenitoina_dt','id_fenitoina')">


                        <option value="SI"  {% if object.fenitoina == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.fenitoina == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="fenitoina_dt" id="id_fenitoina_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.fenitoina_dt != None %} value="{{object.fenitoina_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>
              <tr>

                  <td style="vertical-align:middle;" >{{form.topiramato.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="topiramato" id="id_topiramato" required onchange="campo('id_topiramato_dt','id_topiramato')">


                        <option value="SI"  {% if object.topiramato == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.topiramato == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="topiramato_dt" id="id_topiramato_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.topiramato_dt != None %} value="{{object.topiramato_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>
              <tr>

                  <td style="vertical-align:middle;" >{{form.acido_valproico.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="acido_valproico" id="id_acido_valproico" required onchange="campo('id_acido_valproico_dt','id_acido_valproico')">


                        <option value="SI"  {% if object.acido_valproico == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.acido_valproico == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="acido_valproico_dt" id="id_acido_valproico_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.acido_valproico_dt != None %} value="{{object.acido_valproico_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>
              <tr>
                  <td style="vertical-align:middle;" >{{form.levetiracetam.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="levetiracetam" id="id_levetiracetam" required onchange="campo('id_levetiracetam_dt','id_levetiracetam')">


                        <option value="SI"  {% if object.levetiracetam == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.levetiracetam == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="levetiracetam_dt" id="id_levetiracetam_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.levetiracetam_dt != None %} value="{{object.levetiracetam_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>
              <tr>

                  <td style="vertical-align:middle;" >{{form.lacosamida.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="lacosamida" id="id_lacosamida" required onchange="campo('id_lacosamida_dt','id_lacosamida')">


                        <option value="SI"  {% if object.lacosamida == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.lacosamida == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="lacosamida_dt" id="id_lacosamida_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.lacosamida_dt != None %} value="{{object.lacosamida_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>

              <tr>
                  <th style="vertical-align:middle;" rowspan="3">ANTIPSICÓTICOS</th>
                  <td style="vertical-align:middle;" >{{form.clozapina.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="clozapina" id="id_clozapina" required onchange="campo('id_clozapina_dt','id_clozapina')">


                        <option value="SI"  {% if object.clozapina == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.clozapina == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="clozapina_dt" id="id_clozapina_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.clozapina_dt != None %} value="{{object.clozapina_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>
              <tr>

                  <td style="vertical-align:middle;" >{{form.haloperidol.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="haloperidol" id="id_haloperidol" required onchange="campo('id_haloperidol_dt','id_haloperidol')">


                        <option value="SI"  {% if object.haloperidol == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.haloperidol == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="haloperidol_dt" id="id_haloperidol_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.haloperidol_dt != None %} value="{{object.haloperidol_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>
              <tr>

                  <td style="vertical-align:middle;" >{{form.ketiapina.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="ketiapina" id="id_ketiapina" required onchange="campo('id_ketiapina_dt','id_ketiapina')">


                        <option value="SI"  {% if object.ketiapina == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.ketiapina == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="ketiapina_dt" id="id_ketiapina_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.ketiapina_dt != None %} value="{{object.ketiapina_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>


              <tr>
                  <th style="vertical-align:middle;" rowspan="2">MODULADORES DEL ÁNIMO</th>
                  <td style="vertical-align:middle;" >{{form.carbamacepina.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="carbamacepina" id="id_carbamacepina" required onchange="campo('id_carbamacepina_dt','id_carbamacepina')">


                        <option value="SI"  {% if object.carbamacepina == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.carbamacepina == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="carbamacepina_dt" id="id_carbamacepina_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.carbamacepina_dt != None %} value="{{object.carbamacepina_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>
              <tr>

                  <td style="vertical-align:middle;" >{{form.carbonato_litio.label}}</td>
                  <td style="vertical-align:middle;">
                      <p><select name="carbonato_litio" id="id_carbonato_litio" required onchange="campo('id_carbonato_litio_dt','id_carbonato_litio')">


                        <option value="SI"  {% if object.carbonato_litio == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.carbonato_litio == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <td>
                      <input type="text" name="carbonato_litio_dt" id="id_carbonato_litio_dt" class="form-control" placeholder="Dosis Total" maxlength="20" {%if object.carbonato_litio_dt != None %} value="{{object.carbonato_litio_dt}}" {% else %} style="display:none" {% endif %} />
                  </td>
              </tr>
              <tr>
                  <th style="vertical-align:middle;">{{form.valorable_neuro.label}}</th>
                  <td style="vertical-align:middle;">
                      <p><select name="valorable_neuro" id="id_valorable_neuro" required>
                        <option value="" >---------</option>

                        <option value="SI"  {% if object.valorable_neuro == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.valorable_neuro == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>
                  <th style="vertical-align:middle;"><label id="neurocausa" {%if object.valorable_neuro == 'NO' %}  style="display:inline"  {% else %} style="display:none"  {% endif %}>{{form.valorable_neuro_causa.label}}</label></th>
                  <td>
                      <input type="text" {%if object.valorable_neuro == 'NO' %}  style="display:inline" value="{{object.valorable_neuro_causa}}" {% else %} style="display:none"  {% endif %} name="valorable_neuro_causa" id="valorable_neuro_causa" class="form-control"  maxlength="30" />
                  </td>
              </tr>
              <tr >
                  <th style="vertical-align:middle;" colspan="2">{{form.continua_studio.label}}</th>

                  <td style="vertical-align:middle;" colspan="2">
                      <p><select name="continua_studio" id="id_continua_studio" required>
                        <option value="" >---------</option>

                        <option value="SI"  {% if object.continua_studio == 'SI' %} selected {% endif %}>SI</option>

                        <option value="NO" {% if object.continua_studio == 'NO' %} selected {% endif %}>NO</option>

                        </select></p>
                  </td>

              </tr>

              </tbody>
            </table>
        </div>
        <div class="col-md-8 col-md-offset-2" {% if object.fechauci == None %} style="display:none" {% endif%}>
            <br>
            <label>Evaluación de egreso UCI</label>&nbsp;&nbsp;<button onclick="salida()" id="bsalida" type="button"  class="btn btn-secondary">{% if object.fechaegreso != None %} Deshacer {% else %}Realizar evaluación{% endif %}</button>
            <span class="help-block">Diligenciar este espacio únicamente al momento de alta del paciente</span>

            <table {% if object.fechaegreso == None %} style="display:none" {% endif %} class="table table-hover" id="tablaegreso">
                <tbody>

                    <tr class="table-active">
                  <th style="vertical-align:middle;">{{form.fechaegreso.label}}</th>
                    <td style="vertical-align:middle;">
                        {{ form.fechaegreso.errors }}
                        <input class="form-control"  min="{{object.fechauci|date:'Y-m-d'}}" max="2020-12-31"  name="fechaegreso" type="date" {% if object.fechaegreso != None %} required {% endif %} id="id_fechaegreso" value="{{object.fechaegreso|date:'Y-m-d'}}">
                    </td>
                    <th style="vertical-align:middle;">{{form.horaegreso.label}}</th>
                    <td style="vertical-align:middle;">
                        {{ form.horaegreso.errors }}
                        <input type="time" step = "60" name="horaegreso" value="{{object.horaegreso}}" {% if object.fechaegreso != None %} required {% endif %} class="form-control"  id="id_horaegreso" />
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align:middle;">{{form.condicion_egreso.label}}</th>
                    <td style="vertical-align:middle;" colspan="3">


                            <label for="id_condicion_egreso_1"><input onclick="muerto()" type="radio"  {% if object.fechaegreso != None %} required {% endif %} name="condicion_egreso" value="Vivo"  id="id_condicion_egreso_1" {% if object.condicion_egreso == "Vivo" %} checked {% endif %}/>
                         Vivo</label>


                            <label for="id_condicion_egreso_2"><input onclick="muerto()" type="radio"  {% if object.fechaegreso != None %} required {% endif %} name="condicion_egreso" value="Remitido" id="id_condicion_egreso_2" {% if object.condicion_egreso == "Remitido" %} checked {% endif %}/>
                         Remitido</label>


                            <label for="id_condicion_egreso_3"><input onclick="muerto()" type="radio"  {% if object.fechaegreso != None %} required {% endif %} name="condicion_egreso" value="Fallecido" id="id_condicion_egreso_3" {% if object.condicion_egreso == "Fallecido" %} checked {% endif %}/>
                         Fallecido</label>

                    </td>
                </tr>

                <tr>
                    <th style="vertical-align:middle;" rowspan="3">{{form.dx_egreso.label}}</th>
                    <td style="vertical-align:middle;" rowspan="3"><input type="text" name="dx_egreso" {% if object.fechaegreso != None %} required {% endif %} class="form-control" id="id_dx_egreso" maxlength="25" /></td>
                    <th  style="vertical-align:middle;"><label id="cmortalidad" {% if object.condicion_egreso == "Fallecido" %} style="display:inline" {% else %} style="display:none"  {% endif %}>{{form.causa_mortalidad.label}}</label></th>
                    <td style="vertical-align:middle;"><input type="text"  name="causa_mortalidad" class="form-control" maxlength="25" placeholder="" id="id_causa_mortalidad" {% if object.condicion_egreso == "Fallecido" %} style="display:inline" required value="{{object.causa_mortalidad}}" {% else %} style="display:none"  {% endif %}/></td>
                </tr>

                <tr>
                    <th style="vertical-align:middle;"><label id="fmortalidad" {% if object.condicion_egreso == "Fallecido" %} style="display:inline" {% else %} style="display:none"  {% endif %}>{{form.fechamortalidad.label}}</label></th>
                    <td style="vertical-align:middle;">
                        {{ form.fechamortalidad.errors }}
                        <input type="date" name="fechamortalidad" class="form-control"  min="{{object.fechauci|date:'Y-m-d'}}" max="{{object.fechaegreso|date:'Y-m-d'}}" id="id_fechamortalidad" {% if object.condicion_egreso == "Fallecido" %} style="display:inline" required value="{{object.fechamortalidad|date:'Y-m-d'}}" {% else %} style="display:none"  {% endif %}/>
                    </td>
                </tr>
                 <tr>
                    <th style="vertical-align:middle;"><label id="hmortalidad" {% if object.condicion_egreso == "Fallecido" %} style="display:inline" {% else %} style="display:none"  {% endif %}>{{form.horamortalidad.label}}</label></th>
                    <td style="vertical-align:middle;">
                        {{ form.horamortalidad.errors }}
                        <input type="time" name="horamortalidad" class="form-control"   id="id_horamortalidad" {% if object.condicion_egreso == "Fallecido" %} style="display:inline" required value="{{object.horamortalidad}}" {% else %} style="display:none"  {% endif %}/>
                    </td>
                </tr>

                <tr>
                    <th colspan="2">Glasgow de egreso UCI</th>
                    <th colspan="2">{{form.glasgowtotal_e.label}}</th>
                </tr>

                <tr>
                    <td>{{form.apertura_ocular_e.label}}</td>
                    <td>

                          {% for o in "1234"|make_list %}
                            <label onclick="sumare({{o}},'ocular')"  for="id_apertura_ocular_e_{{o}}">
                            <input type="radio" name="apertura_ocular_e" value="{{o}}"  {% if object.fechaegreso != None %} required {% endif %} id="id_apertura_ocular_e_{{o}}"  {% if object.apertura_ocular_e == o %} checked="" {% endif %} />{{o}}
                          </label>
                          {% endfor %}
                          {{forms.apertura_ocular_e.errors}}

                    </td>
                    <td colspan="2" colrow="3" style="vertical-align:middle;">
                    <input type="text" readonly name="glasgowtotal_e" placeholder="" size="3" {% if object.fechaegreso != None %} required {% endif %} class="form-control" maxlength="3" id="id_glasgowtotal_e" value="{{object.glasgowtotal_e}}"/>
                    </td>
                </tr>

                <tr>
                    <td>{{form.respuesta_motora_e.label}}</td>
                    <td>

                          {% for o in "123456"|make_list %}
                            <label onclick="sumare({{o}},'motora')"  for="id_respuesta_motora_e_{{o}}">
                            <input type="radio" name="respuesta_motora_e" value="{{o}}"  {% if object.fechaegreso != None %} required {% endif %} id="id_respuesta_motora_e_{{o}}"  {% if object.respuesta_motora_e == o %} checked="" {% endif %} />{{o}}
                          </label>
                          {% endfor %}
                          {{forms.respuesta_motora_e.errors}}

                    </td>
                </tr>
                <tr>
                    <td>{{form.respuesta_verbal_e.label}}</td>
                    <td>

                          {% for o in "12345"|make_list %}
                            <label onclick="sumare({{o}},'verbal')"  for="id_respuesta_verbal_e_{{o}}">
                            <input type="radio" name="respuesta_verbal_e" value="{{o}}"  {% if object.fechaegreso != None %} required {% endif %} id="id_respuesta_verbal_e_{{o}}"  {% if object.respuesta_verbal_e == o %} checked="" {% endif %} />{{o}}
                          </label>
                          {% endfor %}
                          {{forms.respuesta_verbal_e.errors}}

                    </td>
                </tr>





                </tbody>
            </table>



        </div>


    <div class="col-md-8 col-md-offset-2">
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>

    </div>
</form>


<br>
<br>
{% endblock %}
{% block extrajs %}
<script>
var ahora = new Date();
var dd = ahora.getDate();
var mm = ahora.getMonth()+1; //January is 0!
var yyyy = ahora.getFullYear();
var hh = ahora.getHours();
var min = ahora.getMinutes();

    if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }
    if(hh<10){
        hh='0'+hh
    }
    if(min<10){
        min='0'+min
    }

today = yyyy+'-'+mm+'-'+dd;
var fechai=document.getElementById("id_fechauci").value;
var horai=document.getElementById("id_horauci").value;
var fechae=document.getElementById("id_fechaegreso").value;
var horae=document.getElementById("id_horaegreso").value;


if ( fechai == "" ) {
    document.getElementById("id_fechauci").value=today;
}
if ( horai == "" ) {
    document.getElementById("id_horauci").value=hh+":"+min;
}
if ( fechae == "" && fechai != "" ) {
    document.getElementById("id_fechaegreso").value=today;
}
if ( horae == "" && horai != "" ) {
    document.getElementById("id_horaegreso").value=hh+":"+min;
}
document.getElementById("id_fechauci").max=today;
document.getElementById("id_fechaegreso").max=today;
document.getElementById("id_fechamortalidad").max=today;




</script>
<script>

/* event listener */
document.getElementsByName("fechaegreso")[0].addEventListener('change', fechamuerto);
document.getElementsByName("valorable_neuro")[0].addEventListener('change', neurologia);


/* function */
function fechamuerto(){
    var p= document.getElementById("id_fechaegreso").value;
    document.getElementById("id_fechamortalidad").max=p;
    }

function neurologia(){
    var p= document.getElementById("id_valorable_neuro").value;
    if (p == 'NO') {
        document.getElementById("valorable_neuro_causa").style="display:inline";
        document.getElementById("neurocausa").style="display:inline"
        document.getElementById("valorable_neuro_causa").required=true;
    } else {
        document.getElementById("valorable_neuro_causa").style="display:none";
        document.getElementById("neurocausa").style="display:none"
        document.getElementById("valorable_neuro_causa").required=false;
        document.getElementById("valorable_neuro_causa").value="";
    }


    }





</script>

<script>
function sumar(a,b) {
    var ao1 =document.getElementById("id_apertura_ocular_1").checked ;
    var ao2 =document.getElementById("id_apertura_ocular_2").checked ;
    var ao3 =document.getElementById("id_apertura_ocular_3").checked ;
    var ao4 =document.getElementById("id_apertura_ocular_4").checked ;
    var rm1 =document.getElementById("id_respuesta_motora_1").checked ;
    var rm2 =document.getElementById("id_respuesta_motora_2").checked ;
    var rm3 =document.getElementById("id_respuesta_motora_3").checked ;
    var rm4 =document.getElementById("id_respuesta_motora_4").checked ;
    var rm5 =document.getElementById("id_respuesta_motora_5").checked ;
    var rm6 =document.getElementById("id_respuesta_motora_6").checked ;
    var rv1 =document.getElementById("id_respuesta_verbal_1").checked ;
    var rv2 =document.getElementById("id_respuesta_verbal_2").checked ;
    var rv3 =document.getElementById("id_respuesta_verbal_3").checked ;
    var rv4 =document.getElementById("id_respuesta_verbal_4").checked ;
    var rv5 =document.getElementById("id_respuesta_verbal_5").checked ;
    var total=0;
    if (b == 'ocular') {
    total = total+a+rm1*1+rm2*2+rm3*3+rm4*4+rm5*5+rm6*6+rv1*1+rv2*2+rv3*3+rv4*4+rv5*5;
    }
    if (b == 'motora') {
    total = total+a+ao1*1+ao2*2+ao3*3+ao4*4+rv1*1+rv2*2+rv3*3+rv4*4+rv5*5;
    }
    if (b == 'verbal') {
    total = total+a+ao1*1+ao2*2+ao3*3+ao4*4+rm1*1+rm2*2+rm3*3+rm4*4+rm5*5+rm6*6;
    }
    if (total > 7 ) {
    alert("El valor de Glasgow Total de ingreso no puede ser mayor a 7 en sujetos que ya estan en el estudio.");
    var ao1 =document.getElementById("id_apertura_ocular_1").checked=false ;
    var ao2 =document.getElementById("id_apertura_ocular_2").checked=false ;
    var ao3 =document.getElementById("id_apertura_ocular_3").checked=false ;
    var ao4 =document.getElementById("id_apertura_ocular_4").checked=false ;
    var rm1 =document.getElementById("id_respuesta_motora_1").checked=false ;
    var rm2 =document.getElementById("id_respuesta_motora_2").checked=false ;
    var rm3 =document.getElementById("id_respuesta_motora_3").checked=false ;
    var rm4 =document.getElementById("id_respuesta_motora_4").checked=false ;
    var rm5 =document.getElementById("id_respuesta_motora_5").checked=false ;
    var rm6 =document.getElementById("id_respuesta_motora_6").checked=false ;
    var rv1 =document.getElementById("id_respuesta_verbal_1").checked=false ;
    var rv2 =document.getElementById("id_respuesta_verbal_2").checked=false ;
    var rv3 =document.getElementById("id_respuesta_verbal_3").checked=false ;
    var rv4 =document.getElementById("id_respuesta_verbal_4").checked=false ;
    var rv5 =document.getElementById("id_respuesta_verbal_5").checked=false ;
    total="";
    }
    document.getElementById("id_glasgowtotal").value = total;
}
</script>
<script>
function sumare(a,b) {
    var ao1 =document.getElementById("id_apertura_ocular_e_1").checked ;
    var ao2 =document.getElementById("id_apertura_ocular_e_2").checked ;
    var ao3 =document.getElementById("id_apertura_ocular_e_3").checked ;
    var ao4 =document.getElementById("id_apertura_ocular_e_4").checked ;
    var rm1 =document.getElementById("id_respuesta_motora_e_1").checked ;
    var rm2 =document.getElementById("id_respuesta_motora_e_2").checked ;
    var rm3 =document.getElementById("id_respuesta_motora_e_3").checked ;
    var rm4 =document.getElementById("id_respuesta_motora_e_4").checked ;
    var rm5 =document.getElementById("id_respuesta_motora_e_5").checked ;
    var rm6 =document.getElementById("id_respuesta_motora_e_6").checked ;
    var rv1 =document.getElementById("id_respuesta_verbal_e_1").checked ;
    var rv2 =document.getElementById("id_respuesta_verbal_e_2").checked ;
    var rv3 =document.getElementById("id_respuesta_verbal_e_3").checked ;
    var rv4 =document.getElementById("id_respuesta_verbal_e_4").checked ;
    var rv5 =document.getElementById("id_respuesta_verbal_e_5").checked ;
    var total=0;
    if (b == 'ocular') {
    total = total+a+rm1*1+rm2*2+rm3*3+rm4*4+rm5*5+rm6*6+rv1*1+rv2*2+rv3*3+rv4*4+rv5*5;
    }
    if (b == 'motora') {
    total = total+a+ao1*1+ao2*2+ao3*3+ao4*4+rv1*1+rv2*2+rv3*3+rv4*4+rv5*5;
    }
    if (b == 'verbal') {
    total = total+a+ao1*1+ao2*2+ao3*3+ao4*4+rm1*1+rm2*2+rm3*3+rm4*4+rm5*5+rm6*6;
    }

    document.getElementById("id_glasgowtotal_e").value = total;
}
</script>

<script>

    function falla() {
    var a=document.getElementById("id_fallaorganica").value;
    var x=document.getElementById("id_fallaorganica_cual");
    var y=document.getElementById("falla");

    if (a == 'SI') {
        x.class='form-control';
        x.type='text';
        y.style="visibility:inline";
    }else {
        x.class='form-control';
        x.type='hidden';
        y.style="visibility:hidden";
        x.value="";
    }
}

</script>


<script>
function salida() {
    var x=document.getElementById("bsalida").textContent;
    if (x == "Realizar evaluación") {
        document.getElementById("bsalida").textContent="Deshacer";
        document.getElementById("tablaegreso").style="display:inline";
        document.getElementById("id_fechaegreso").required=true;
        document.getElementById("id_horaegreso").required=true;
        document.getElementById("id_condicion_egreso_1").required=true;
        document.getElementById("id_condicion_egreso_2").required=true;
        document.getElementById("id_condicion_egreso_3").required=true;
        document.getElementById("id_dx_egreso").required=true;
        document.getElementById("id_apertura_ocular_e_1").required=true;
        document.getElementById("id_apertura_ocular_e_2").required=true;
        document.getElementById("id_apertura_ocular_e_3").required=true;
        document.getElementById("id_apertura_ocular_e_4").required=true;
        document.getElementById("id_respuesta_motora_e_1").required=true;
        document.getElementById("id_respuesta_motora_e_2").required=true;
        document.getElementById("id_respuesta_motora_e_3").required=true;
        document.getElementById("id_respuesta_motora_e_4").required=true;
        document.getElementById("id_respuesta_motora_e_5").required=true;
        document.getElementById("id_respuesta_motora_e_6").required=true;
        document.getElementById("id_respuesta_verbal_e_1").required=true;
        document.getElementById("id_respuesta_verbal_e_2").required=true;
        document.getElementById("id_respuesta_verbal_e_3").required=true;
        document.getElementById("id_respuesta_verbal_e_4").required=true;
        document.getElementById("id_respuesta_verbal_e_5").required=true;


    } else {
        document.getElementById("bsalida").textContent="Realizar evaluación";
        document.getElementById("tablaegreso").style="display:none";
        document.getElementById("id_fechaegreso").required=false;
        document.getElementById("id_fechaegreso").value="";
        document.getElementById("id_horaegreso").required=false;
        document.getElementById("id_horaegreso").value="";
        document.getElementById("id_condicion_egreso_1").required=false;
        document.getElementById("id_condicion_egreso_1").checked=false;
        document.getElementById("id_condicion_egreso_2").required=false;
        document.getElementById("id_condicion_egreso_2").checked=false;
        document.getElementById("id_condicion_egreso_3").required=false;
        document.getElementById("id_condicion_egreso_3").checked=false;
        document.getElementById("id_dx_egreso").required=false;
        document.getElementById("id_dx_egreso").value="";
        document.getElementById("id_apertura_ocular_e_1").required=false;
        document.getElementById("id_apertura_ocular_e_1").checked=false;
        document.getElementById("id_apertura_ocular_e_2").required=false;
        document.getElementById("id_apertura_ocular_e_2").checked=false;
        document.getElementById("id_apertura_ocular_e_3").required=false;
        document.getElementById("id_apertura_ocular_e_3").checked=false;
        document.getElementById("id_apertura_ocular_e_4").required=false;
        document.getElementById("id_apertura_ocular_e_4").checked=false;
        document.getElementById("id_respuesta_motora_e_1").required=false;
        document.getElementById("id_respuesta_motora_e_1").checked=false;
        document.getElementById("id_respuesta_motora_e_2").required=false;
        document.getElementById("id_respuesta_motora_e_2").checked=false;
        document.getElementById("id_respuesta_motora_e_3").required=false;
        document.getElementById("id_respuesta_motora_e_3").checked=false;
        document.getElementById("id_respuesta_motora_e_4").required=false;
        document.getElementById("id_respuesta_motora_e_4").checked=false;
        document.getElementById("id_respuesta_motora_e_5").required=false;
        document.getElementById("id_respuesta_motora_e_5").checked=false;
        document.getElementById("id_respuesta_motora_e_6").required=false;
        document.getElementById("id_respuesta_motora_e_6").checked=false;
        document.getElementById("id_respuesta_verbal_e_1").required=false;
        document.getElementById("id_respuesta_verbal_e_1").checked=false;
        document.getElementById("id_respuesta_verbal_e_2").required=false;
        document.getElementById("id_respuesta_verbal_e_2").checked=false;
        document.getElementById("id_respuesta_verbal_e_3").required=false;
        document.getElementById("id_respuesta_verbal_e_3").checked=false;
        document.getElementById("id_respuesta_verbal_e_4").required=false;
        document.getElementById("id_respuesta_verbal_e_4").checked=false;
        document.getElementById("id_respuesta_verbal_e_5").required=false;
        document.getElementById("id_respuesta_verbal_e_5").checked=false;
    }

}



</script>

<script>
function muerto() {
    var x=document.getElementById("id_condicion_egreso_3").checked;

    if (x == true ) {
        document.getElementById("cmortalidad").style="display:inline";
        document.getElementById("id_causa_mortalidad").style="display:inline";
        document.getElementById("id_causa_mortalidad").required=true;
        document.getElementById("fmortalidad").style="display:inline";
        document.getElementById("id_fechamortalidad").style="display:inline";
        document.getElementById("id_fechamortalidad").required=true;
        document.getElementById("hmortalidad").style="display:inline";
        document.getElementById("id_horamortalidad").style="display:inline";
        document.getElementById("id_horamortalidad").required=true;
    }else {
        document.getElementById("cmortalidad").style="display:none";
        document.getElementById("id_causa_mortalidad").style="display:none";
        document.getElementById("id_causa_mortalidad").required=false;
        document.getElementById("id_causa_mortalidad").value="";
        document.getElementById("fmortalidad").style="display:none";
        document.getElementById("id_fechamortalidad").style="display:none";
        document.getElementById("id_fechamortalidad").required=false;
        document.getElementById("id_fechamortalidad").value="";
        document.getElementById("hmortalidad").style="display:none";
        document.getElementById("id_horamortalidad").style="display:none";
        document.getElementById("id_horamortalidad").required=false;
        document.getElementById("id_horamortalidad").value="";

    }




}
</script>


<script>
function soporte() {
    var a=document.getElementById("id_soportevasopresor").value;

    var al1=document.getElementById("vaso1");
    var al2=document.getElementById("vaso1si");
    var al3=document.getElementById("vaso1no");
    var ai1=document.getElementById("id_noradrenalina_1");
    var ai2=document.getElementById("id_noradrenalina_2");

    var bl1=document.getElementById("vaso2");
    var bl2=document.getElementById("vaso2si");
    var bl3=document.getElementById("vaso2no");
    var bi1=document.getElementById("id_vasopresina_1");
    var bi2=document.getElementById("id_vasopresina_2");

    var cl1=document.getElementById("vaso3");
    var cl2=document.getElementById("vaso3si");
    var cl3=document.getElementById("vaso3no");
    var ci1=document.getElementById("id_adrenalina_1");
    var ci2=document.getElementById("id_adrenalina_2");


    if (a == 'SI') {
        al1.style="display:inline";
        al2.style="display:inline";
        al3.style="display:inline";
        ai1.style="display:inline";
        ai1.required=true;
        ai2.style="display:inline";
        ai2.required=true;
        bl1.style="display:inline";
        bl2.style="display:inline";
        bl3.style="display:inline";
        bi1.style="display:inline";
        bi1.required=true;
        bi2.style="display:inline";
        bi2.required=true;
        cl1.style="display:inline";
        cl2.style="display:inline";
        cl3.style="display:inline";
        ci1.style="display:inline";
        ci1.required=true;
        ci2.style="display:inline";
        ci2.required=true;

    }else {
        al1.style="display:none";
        al2.style="display:none";
        al3.style="display:none";
        ai1.style="display:none";
        ai1.required=false;
        ai1.checked=false;
        ai2.style="display:none";
        ai2.required=false;
        ai2.checked=false;
        bl1.style="display:none";
        bl2.style="display:none";
        bl3.style="display:none";
        bi1.style="display:none";
        bi1.required=false;
        bi1.checked=false;
        bi2.style="display:none";
        bi2.required=false;
        bi2.checked=false;
        cl1.style="display:none";
        cl2.style="display:none";
        cl3.style="display:none";
        ci1.style="display:none";
        ci1.required=false;
        ci1.checked=false;
        ci2.style="display:none";
        ci2.required=false;
        ci2.checked=false;

    }

}
</script>

<script>
function campo(a,c) {
    var x=document.getElementById(a);
    var z=document.getElementById(c).value;
    if (z == 'SI') {
        x.class='form-control';
        x.type='text';
        x.required=true;
        x.style="display:inline";
    } else {
        x.class='form-control';
        x.type='hidden';
        x.required=false;
        x.value="";

    }

}
</script>
{% endblock %}